<admintpl file="header" />
<style>
	.div-list {
		width:200px;
		float:left;
	}
	.div-list > li {
		list-style: none;
		padding-left: 20px;
		height: 30px;
	}
	.right-container{
		width:900px ;
	}

	.right-container > p > span {
		margin-left: 30px;
		width: 250px;
		margin-left: 0px;
		margin-right: 100px;
	}
	.right-container-table{
		width: 700px;
		height:600px;
		border:1px solid gray;
	}
	table tr {
		line-height: 30px;
	}
</style>
</head>
<body>
<div class="wrap">
	<ul class="nav nav-tabs">
		<!-- <li ><a href="{:U('System/index')}">消息列表</a></li> -->
		<li class="active"><a >发送消息</a></li>
	</ul>
	<div class="form-actions">
		<span>活动编号</span> <a href="javascript:void(0);">2222222222</a>
		<span style="margin-left: 50px;">活动名称</span> <a href="javascript:void(0);">XXXX月xx日活动</a>
	</div>

	<div class="div-list">
		<li>第一题</li>
		<li>第一题</li>
		<li>第一题</li>
		<li>第一题</li>
		<li>第一题</li>
		<li>第一题</li>
		<li>第一题</li>
		<li>第一题</li>
		<li>第一题</li>
		<li>第一题</li>
	</div>
	<div class="right-container">
		<p>题目：您对中美贸易战有什么看法?</p>
		<p>
			<span style="width: auto;"> 两败俱伤</span>
			<span style="width: auto;"> 中国胜</span>
			<span style="width: auto;"> 美国胜</span>
			<span> 平局收场</span>
		</p>
		<p>
			<button style="float:right;">发布结果</button>
		</p>
		<p>
			<br />
			<table class="right-container-table" border="1">
				<thead>
					<th>序号</th>
					<th>昵称</th>
					<th>答题时间</th>
					<th>状态</th>
					<th>操作</th>
				</thead>
				<tbody>
					<tr height="30">
						<td>ad</td>
						<td>dfd</td>
						<td>adsf</td>
						<td>asdf</td>
						<td>asdfasd</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</p>
		<p>
			<button style="float:right;">发布结果</button>
		</p>
	</div>
</div>

<script src="__PUBLIC__/js/socket.io.js"></script>
<script type="text/javascript">

</script>
</body>
</html>