@charset "UTF-8";
/* a01 兼容样式 noah.g*/
body{
  background-color: #202024;
}
.wrapper {
  background-color: #202024; height: 100%;}

#doc-bd .container {
  margin-top: 0; }

#doc-hd.double {
  border: 0; }

#doc-hd.double .topbar {
  background-color: #014f8e;
  height: 66px; }

.container .homelink.act {
  background-color: #103d77;
  line-height: 66px; }

.container .navsmini > span > a {
  border: inherit;
  color: #fff; }

.container .hd-logo {
  width: 102px;
  height: 46px;
  margin-right: 30px;
  margin-top: 9px; }

.container .hd-logo img {
  width: 100%;
  height: inherit; }

.container .usermes .pasw .pwd_icn {
  background: url("/public/images/bttzb/a01-pwdeye2.png") no-repeat center;
  display: block;
  width: 24px;
  height: 20px;
  right: 5px;
  top: 4px;
  cursor: pointer;
  position: absolute; }

.container .usermes .pasw .pwd_icn.open {
  background: url("/public/images/bttzb/a01-pwdeye1.png") no-repeat center; }

.container .usermes .name, .container .usermes .pasw {
  border: inherit;
  background: #fff;
  margin-top: 19px;
  border-radius: inherit; }

.container .navsmini {
  line-height: 27px; }

.container .navsmini > span > a {
  font-size: 14px; }

.container .usermes .name label, .container .usermes .pasw label {
  left: 10px;
  color: #4f4f4f; }

.container .hd-login input {
  width: 100%;
  margin-left: 12px; }

.container .usermes .logint {
  background-color: #338fce;
  border-radius: 0;
  width: 90px;
  margin-top: 18px; }

.container .usermes .logint:hover {
  background-color: #103d77; }

.login_pop article .submit.get_none {
  background-color: #338fce; }

.login_pop article .submit.get_none:hover {
  background-color: #103d77; }

.login_pop .denglu.act, .login_pop .zhuce.act {
  border-bottom-color: #008dff; }
.phoneArea .usersr {
  color: #008dff; }

.container .usermes .loginout {
  color: #fff;
  line-height: 66px;
  margin-left: 20px; }

.container .navsmini span {
  margin-top: inherit;
  line-height: 66px; }

.container .navsmini > span > a {
  padding: 0 15px; }

.container .navsmini > span > a:hover {
  background: #103d77;
  color: #fff;
  display: block;
  border-radius: 0;
  padding: 0 15px; }

.container .usermes .loginout .usemes {
  color: #ffdb2f; }

.container .subnav {
	height: 50px;
	text-align: center;
}
.container .subnav ul {
	display: inline-block;
}
.container .subnav li {
	float: left;
  margin-left: 20px;
  border-right: 1px solid;
  padding-right: 20px;
}
.container .subnav li:last-child{
  border-right: 0;
}
.container .subnav li a:hover {
	color: #fff;
}
.container .subnav li a {
	color: #808080;
	font-size: 14px;
}
#doc-ft{
  background-color: initial;
}
.hd-login span.item a {
  background-color: #338fce;
  border-radius: 0;
  width: 90px;
  margin-top: 18px;
  border: 0;
  color: #fff; }

.hd-login span.item a:hover {
  background: #103d77; }

.css-logout a {
  color: #ffdb2f; }

.g-box .box-notice {
  background-color: #d8dee8; }

.g-box .box-notice .tit {
  color: #0f77cc;
  font-weight: bold; }

.huodong {
  background-color: #ff3366; }

.g-box .box-notice .zhaomu {
  /*background-position: -17px -1949px;*/
  background: #0086ff; }

.g-box .box-title {
  color: #fff; }

.g-box .list li {
  box-shadow: inherit; }

.g-box .list li:hover .cont_bottom {
  background-color: #ffdb33;
  margin: 0;
  padding: 10px; }

.g-box .list li:hover .cont_bottom .tit {
  color: #000; }

.g-box .list li:hover .cont_bottom .read {
  right: 10px;
  top: 12px;
  color: #000; }

.g-box .list li:hover .cont_bottom .read em {
  background: url("/public/images/bttzb/a01-eye.png") no-repeat 2px 3px; }

.chongzhi {
  display: none; }

.container .homelink {
  line-height: 66px;
  background-color: #103d77; }

.container .homelink .room-name {
  color: #fff;
  text-decoration: none; }

.box-left .user .myimg {
  border: 1px solid #014f8f; }

.SR-nav .nav-fg {
  background-color: #202024; }

.leftset .unobtrusive {
  color: #2775bb!important;
  border: 1px solid #2775bb!important;}

.leftset .obtrusive {
  background-color: #2775bb!important; }

.MR-online .dialog .nav-tab li.on {
  color: #008dff; }

.system_name, .system_a {
  color: #8a00ff; }

.MR-chat ul li .user-name {
  color: #008dff; }

.MR-moregift .send-btn, .MR-talk .send-btn {
  background-color: #ffcc34;
  color: #000; }

.MR-moregift .send-btn:hover, .MR-talk .send-btn:hover {
  background-color: #b58906;
  color: #fff; }

.MR-rank .tab li.on {
  color: #008dff;
  border-color: #008dff; }
