<admintpl file="header"/>
</head>
<body>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/simpleboot/css/admin.css"/>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/swfobject.js"></script>
<script src="__PUBLIC__/js/socket.io.js"></script>
<script src="__PUBLIC__/js/admin.js"></script>
<div class="buyvip" id="buyvip"></div>
<div class="dds-dialog-bg" id="ds-dialog-bg"></div>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>监控</a></li>
    </ul>
    <form method="post" class="js-ajax-form">
        <ul>
            <foreach name="lists" item="v">
                <li class="mytd">
					<span>开播时长:<?php 
								$times = time()-$v['showid'];
								$result = '';
								$hour = floor($times/3600);
                $minute = floor(($times-3600 * $hour)/60);
                $second = floor((($times-3600 * $hour) - 60 * $minute) % 60);
                $result = $hour.':'.$minute.':'.$second;
                echo  $result;?></span>
                    <div id="<?php echo $v['uid'];?>" style="margin-left: 5px;"></div>
                    <br>
                    <span class="name">主播:<?php echo $v['userinfo']['user_nicename'];?></span>
                    <span>房间号:<?php echo $v['uid'];?></span>
                    <div>
                        <a onclick="closeRoom('<?php echo $v['uid'];?>')" class="full_btn mybtn">关闭</a>
                        <a onclick="fullRoom('<?php echo $v['uid'];?>')" class="full_btn mybtn">大屏</a>
                    </div>
                </li>
                <script type="text/javascript">
                    swfobject.embedSWF("__PUBLIC__/js/monitor.swf?roomId=<?php echo $v['stream'].urlencode('?'.$v['auth_key']);?>&cdn={$config['pull_url']}", "{$v['uid']}", 160, 230, "10.0", "", {}, {
                        wmode: "transparent",
                        allowscriptaccess: "always"
                    });
                </script>
            </foreach>
        </ul>
        <div class="pagination" style="clear:both">{$page}</div>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/playback/ckplayer.js" charset="utf-8"></script>
<script type="text/javascript">
    var socket = new io("{$config['chatserver']}");

    function closeRoom(roomId) {
        var data2 = {"token": "1234567", "roomnum": roomId};
        $.ajax({
            type: "get",
            async: false,
            url: './index.php?g=admin&m=Monitor&a=stopRoom',
            data: {uid: roomId},
            dataType: "jsonp",
            jsonp: "callback",//传递给请求处理程序或页面的，用以获得jsonp回调函数名的参数名(一般默认为:callback)
            success: function (data) {
                if (data.status != 0) {
                    alert(data.info);
                } else {

                    socket.emit("superadminaction", data2);
                    alert("房间已关闭");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('关闭失败，请重试');
            }
        });
    }
</script>
</body>
</html>