@charset "UTF-8";

body {
	background-color: #202024
}

.clearfix::after {
	display: block;
	clear: both;
	content: ""
}

.fl-l {
	float: left
}

.fl-r {
	float: right
}

.wrapper {
	background-color: #202024;
	height: 100%
}

#doc-bd {
	background-color: #2e2e33;
	background-image: url("/public/images/a04/a04-bg.jpg");
	background-size: cover
}

#doc-bd .container {
	margin-top: 0
}

#doc-hd.double {
	border: 0
}

#doc-hd.double .topbar {
	background-color: #25242a;
	height: 90px
}

.container .homelink.act {
	height: 60px;
	width: 80px;
	line-height: 60px;
	border-radius: 5px;
	margin-top: 14px;
	padding: 0;
	background: -webkit-linear-gradient(130deg, #f7b366, #ed4f2c);
	background: -o-linear-gradient(130deg, #f7b366, #ed4f2c);
	background: -moz-linear-gradient(130deg, #f7b366, #ed4f2c);
	background: linear-gradient(130deg, #f7b366, #ed4f2c)
}

.container .navsmini > span > a {
	border: inherit;
	color: #fff
}

.container .hd-logo {
	width: 169px;
	height: 51px;
	margin-right: 30px;
	margin-top: 18px
}

.container .hd-logo img {
	width: 100%;
	height: inherit
}

.container .usermes {
	height: auto;
	margin-top: 9px
}

.container .usermes .pasw .pwd_icn {
	background: url("/public/images/bttzb/a01-pwdeye2.png") no-repeat center;
	display: block;
	width: 24px;
	height: 20px;
	right: 5px;
	top: 4px;
	cursor: pointer;
	position: absolute
}

.container .usermes .pasw .pwd_icn.open {
	background: url("/public/images/bttzb/a01-pwdeye1.png") no-repeat center
}

.container .usermes .name, .container .usermes .pasw {
	border: inherit;
	background: #fff;
	margin-top: 19px;
	border-radius: inherit
}

.container .navsmini {
	line-height: 27px;
	height: auto;
	margin-top: 14px
}

.container .navsmini > span > a {
	font-size: 14px
}

.container .navsmini span {
	margin-top: inherit;
	line-height: 29px
}

.container .navsmini span.js-reg {
	border-right: 1px solid #303032
}

.container .navsmini > span > a {
	padding: 0 15px;
	border: 0
}

.container .navsmini > span > a:hover {
	background-color: #0a9e2b;
	color: #fff;
	display: block;
	border-radius: 0;
	padding: 0 15px
}

.container .usermes .name label, .container .usermes .pasw label {
	left: 10px;
	color: #4f4f4f
}

.container .hd-login input {
	width: 100%;
	margin-left: 12px
}

.container .usermes .logint {
	background: -webkit-linear-gradient(130deg, #16d665, #0a9e2b);
	background: -o-linear-gradient(130deg, #16d665, #0a9e2b);
	background: -moz-linear-gradient(130deg, #16d665, #0a9e2b);
	background: linear-gradient(130deg, #16d665, #0a9e2b);
	border-radius: 5px;
	width: 90px;
	margin-top: 18px
}

.container .usermes .logint:hover {
	background-color: #0a9e2b
}

.login_pop article .submit.get_none {
	background-color: #16d665
}

.login_pop article .submit.get_key {
	margin-top: 30px;
	background-color: #16d665
}

.login_pop article .submit.get_none:hover {
	background-color: #0a9e2b
}

.login_pop .denglu.act, .login_pop .zhuce.act {
	border-bottom-color: #16d665
}

.phoneArea .usersr {
	left: 22px;
	color: #16d665
}

.container .usermes .loginout {
	color: #fff;
	line-height: 66px;
	margin-left: 20px
}

.container .usermes .loginout .usemes {
	color: #ffdb2f
}

.container .subnav {
	height: 50px;
	text-align: center
}

.container .subnav .css-bottom-container .css-bottom-logo {
	padding-right: 27px;
	margin-right: 27px;
	border-right: 1px solid #383838
}

.container .subnav .css-bottom-container .css-bottom-words {
	margin-top: 5px
}

.container .subnav .css-subnavlist {
	margin-top: 15px;
	display: inline-block
}

.container .subnav .css-subnavlist li {
	float: left;
	margin-left: 10px;
	border-right: 1px solid #3d3d3d;
	padding-right: 10px
}

.container .subnav .css-subnavlist li:last-child {
	border-right: 0;
	padding-right: 0
}

.container .subnav .css-subnavlist li a:hover {
	color: #fff
}

.container .subnav .css-subnavlist li a {
	color: #3d3d3d;
	font-size: 14px
}

.container .subnav .css-bottomt-copyright {
	color: #3d3d3d;
	text-align: right
}

#doc-ft {
	background-color: #111112
}

.hd-login span.item a {
  background: -webkit-linear-gradient(130deg, #16d665, #0a9e2b);
  background: -o-linear-gradient(130deg, #16d665, #0a9e2b);
  background: -moz-linear-gradient(130deg, #16d665, #0a9e2b);
  background: linear-gradient(130deg, #16d665, #0a9e2b);
	border-radius: 4px;
	width: 90px;
	margin-top: 18px;
	border: 0;
	color: #fff
}

.hd-login span.item a:hover {
	background: #0a9e2b
}

.css-logout a {
	color: #ffdb2f
}

.g-box .box-notice {
	background-color: #1f1f1f;
	border-color: #1f1f1f
}

.g-box .box-notice .more a {
	color: #9d9d9d
}

.g-box .box-notice p a {
	color: #9d9d9d
}

.g-box .box-notice p span {
	color: #fdd35d
}

.g-box .box-notice .tit {
	color: #fff;
	font-weight: bold
}

.g-box .box-notice .tit em {
	background: url("/public/images/a04/a04-notice-icon.png") no-repeat;
	background-size: 70%
}

.g-box.lobby .box-hd .users {
	background-position: 0 0 !important
}

.huodong {
	background-color: #f28149
}

.g-box .box-notice .zhaomu {
	background: #0086ff
}

.g-box .box-title {
	color: #fff
}

.g-box .box-title .icon {
	background: url("/public/images/a04/a04-room-icon.png") no-repeat
}

.g-box .list .cont_bottom {
	background-color: #1f1f1f;
	padding: 10px;
	margin: 0;
	border-left: 4px solid #f28149
}

.g-box .list .cont_bottom .tit {
	color: #fdd35d
}

.g-box .list .cont_bottom .read {
	top: 12px;
	right: 10px;
	color: #fdd35d
}

.g-box .list .cont_bottom .read em {
	background: url("/public/images/a04/a04-eye.png") no-repeat;
	top: -2px
}

.g-box .list li {
	box-shadow: inherit;
	border-radius: 4px;
	overflow: hidden;
	background-color: transparent
}

@keyframes room-title-bg {
	from {
		background-size: 0 100%
	}

	to {
		background-size: 100% 100%
	}

}

@-webkit-keyframes room-title-bg {
	from {
		background-size: 0
	}

	to {
		background-size: 100%
	}

}

.g-box .list li:hover .cont_bottom {
	background-image: url("/public/images/a04/a04-room-titlebg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0;
	padding: 10px;
	animation: room-title-bg .1s;
	-webkit-animation: room-title-bg .1s
}

.g-box .list li:hover .cont_bottom .tit {
	color: #fff
}

.g-box .list li:hover .cont_bottom .read {
	right: 10px;
	top: 12px;
	color: #fff
}

.g-box .list li:hover .cont_bottom .read em {
	left: -2px;
	top: -5px;
	background: url("/public/images/a04/a04-eye-hover.png") no-repeat 2px 3px
}

.chongzhi {
	display: none
}

.container .homelink {
	line-height: 66px;
	height: auto;
	margin-top: 11px;
	background: -webkit-linear-gradient(130deg, #f7b366, #ed4f2c);
	background: -o-linear-gradient(130deg, #f7b366, #ed4f2c);
	background: -moz-linear-gradient(130deg, #f7b366, #ed4f2c);
	background: linear-gradient(130deg, #f7b366, #ed4f2c);
	border-radius: 4px
}

.container .homelink .room-name {
	color: #fff;
	text-decoration: none
}

.box-left .user .myimg {
	border: 1px solid #014f8f
}

.SR-nav .nav-fg {
	background-color: #202024
}

.box-left .tyongset .colsevideo {
	width: 100px;
	height: 32px;
	line-height: 32px;
	border-radius: 4px
}

.leftset .unobtrusive {
	color: #16d665 !important;
	border: 1px solid #16d665 !important
}

.leftset .action-button {
	width: 100px;
	height: 32px;
	line-height: 32px;
	border-radius: 4px;
	/* background: -webkit-linear-gradient(130deg, #16d665, #0a9e2b);
	background: -o-linear-gradient(130deg, #16d665, #0a9e2b);
	background: -moz-linear-gradient(130deg, #16d665, #0a9e2b);
	background: linear-gradient(130deg, #16d665, #0a9e2b) */
}

.leftset .obtrusive {
  background: -webkit-linear-gradient(130deg, #16d665, #0a9e2b);
  background: -o-linear-gradient(130deg, #16d665, #0a9e2b);
  background: -moz-linear-gradient(130deg, #16d665, #0a9e2b);
  background: linear-gradient(130deg, #16d665, #0a9e2b);
}

.MR-online .dialog .nav-tab li.on {
	color: #f28149
}

.system_name, .system_a {
	color: #f28149
}

.MR-chat ul li .user-name {
	color: #f28149
}

.MR-moregift .send-btn, .MR-talk .send-btn {
	background: -webkit-linear-gradient(130deg, #f7b366, #ed4f2c);
	background: -o-linear-gradient(130deg, #f7b366, #ed4f2c);
	background: -moz-linear-gradient(130deg, #f7b366, #ed4f2c);
	background: linear-gradient(130deg, #f7b366, #ed4f2c);
	color: #fff
}

.MR-moregift .send-btn:hover, .MR-talk .send-btn:hover {
	background-color: #b58906;
	color: #fff
}

.MR-rank .tab li.on {
	color: #f28149;
	border-color: #f28149
}

.SR-pager {
	top: 90px
}
/* 发起直播弹窗 */
.dialog-tc .mode a{
  text-align: left;
}

.mount-method a{
  border-color: #ff8f58;
  border-radius: 5px;
}

.css-record-container{
  margin-top: 4px;
  margin-left: 11px;
}

.css-record-container sup{
  top: -2px;
  color: #666;
  margin-left: 5px;
}

.sendMsgWoring input{
  width: 88%;
  border: 0;
  border-radius: 0;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  font-size: 0.9rem;
}

.dialog-tc .deal-footer a{
  background: -webkit-linear-gradient(130deg, #16d665, #0a9e2b);
  background: -o-linear-gradient(130deg, #16d665, #0a9e2b);
  background: -moz-linear-gradient(130deg, #16d665, #0a9e2b);
  background: linear-gradient(130deg, #16d665, #0a9e2b);
  width: 138px;
  height: 46px;
  line-height: 46px;
  font-size: 1.3rem;
}