﻿<admintpl file="header"/>
<style>
 .controls img{
     max-width:200px;
 }
</style>
</head>
<body>


	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">设置僵尸粉</a></li>
		</ul>
		<!-- <form class="form-horizontal js-ajax-forms" action="{:U('Uservirtual/setfans_post')}" method="post"> -->
		<form class="form-horizontal js-ajax-forms" method="post">
			<fieldset>
			   <input type="hidden" name="virtualid" value="{$virtualid}" id="virtualid"/>
			   <input type="hidden" name="virtualname" value="{$virtualname}" id="virtualname"/>
			   <input type="hidden" name="id" value="{$oldvirtual['id']}" id="id"/>
			   <!-- <input type="hidden" name="uid" value="{$userinfolive['uid']}" id="uid"/> -->
				<div class="control-group">
					<label class="control-label">直播间ID</label>
					<div class="controls">
								  <if condition="$oldvirtual['uid'] eq $userinfolive['uid']">
									<input type="text" name="uid" value="{$userinfolive['uid']}" id="uid" />
								 <else/>
									<input type="text" name="uid" value="" id="uid" />
								 </if>
						<span class="form-required">*</span>
					</div>
				</div>
			</fieldset>

			<div class="form-actions">
			<!-- type="submit" -->	<button  class="btn btn-primary js-ajax-submit" onclick="addvirtual()">设置</button>
				<a class="btn" href="{:U('Uservirtual/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/admin.js"></script>

	<script src="__PUBLIC__/js/swfobject.js"></script>
	<script type="text/javascript" src="__PUBLIC__/playback/ckplayer.js" charset="utf-8"></script>
	<script src="__PUBLIC__/js/socket.io.js"></script>
	<script src="__PUBLIC__/js/common.js"></script>

	<script>
		var socket = new io("{$config['chatserver']}");
		
	</script>


</body>
</html>