<admintpl file="header" />
<style type="text/css">
	#cnzzArea{
		display: none;
		border:none;
	}
	#woring{
		display: block;
		width: 300px;
		height: 400px;
		margin: 0 auto;
	}
	#woring img{
		margin-top: 200px;
	}
</style>
</head>
<body>
	<div class="wrap">
		
		<div id="woring">
			<div><img src="__PUBLIC__/home/images/loading.gif"></div>
			<div style="height: 50px;line-height: 50px;">正在加载中……</div>
		</div>

		<iframe src="http://new.cnzz.com/v1/login.php?siteid={$cnzz_id}" id="cnzzArea"></iframe>
			

	</div>
	<script src="__PUBLIC__/js/common.js"></script>
	<script src="__PUBLIC__/home/js/jquery.js"></script>
	<script type="text/javascript">
		$(function(){
			var screenW=window.screen.width;
			var screenH=window.screen.height;
			$("#cnzzArea").width(screenW-200);
			$("#cnzzArea").height(screenH-150);

			setTimeout(function(){
				$("#woring").hide();
				$("#cnzzArea").show();
			},5000);
		});
	</script>
</body>
</html>