<tc_include file="Public:head"/>
<title>{$site_name}</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/index.css?v={$sversion}"/>
<link type="text/css" rel="stylesheet" href="../public/videojs/video-js.css?v={$sversion}">
<link type="text/css" rel="stylesheet" href="/public/css/home/index.css?v={$sversion}">
<link rel="stylesheet" href="__PUBLIC__/home/show/css/slide.css?v={$sversion}">
<script type="text/javascript" src="../public/videojs/video.min.js?v={$sversion}"></script>
<script type="text/javascript" src="../public/videojs/videojs-contrib-hls.min.js?v={$sversion}"></script>

</head>

<body>
<div class="wrapper">
    <tc_include file="Public:header"/>
    <div id="doc-bd">
        <div class="container clearfix">
            <div class="main clearfix">
                <!-- 头顶视频公告开始 -->
                <div class="g-box">
                    <div class="box-video ck-slide">
                        <ul class="ck-slide-wrapper">
                        <!-- 播放器开始 -->

                        <!-- 播放器结束 -->
                        </ul>
                        <a href="javascript:;" class="ctrl-slide ck-prev">上一张</a>
                        <a href="javascript:;" class="ctrl-slide ck-next">下一张</a>
                        <div class="ck-slidebox">
                            <div class="slideWrap">
                                <ul class="dot-wrap">
 
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="box-notice">
                        <div class="tit"><em></em>直播公告</div>
                        <div class="more"><a href="/index.php?g=Home&m=index&a=liveAnnouncement" class="href">更多</a>
                        </div>

                        <volist name="liveAnnouncement" id="liveAn">
                            <p>
                                <em class="{$liveAn.category}">{$liveAn.sm_title}</em>
                                <a href="{$liveAn.link}" target="_blank">{$liveAn.title}</a>
                                <span>{$liveAn.date}</span>
                            </p>
                        </volist>
                    </div>

                    <volist name="indexRightAds" id="irad">
                        <div class="advent">
                            <a href="{$irad.url}" target="_blank" title="{$irad['name']}">
                                <img src="{$irad['thumb']}" alt="{$irad['name']}"/>
                            </a>
                        </div>
                    </volist>
                </div>
                <!-- 头顶视频公告结束 -->

                <!-- 直大厅播开始 -->
                <div class="g-box feed-list lobby" id="lobby">
                    <div class="box-hd">
                        <h2 class="box-title"><span class="icon"></span>秀场直播</h2>
                    </div>
                    <div class="box-bd">
                        <ul class="list clearfix">
                            <volist name="multiLive" id="multi">
                                <li>
                                    <div class="cont_top">
                                        <img class="thumb" src="{$multi['focus']}"/>
                                        <switch name="multi.status">
                                            <case value="1">
                                                <div class="zhiboing"><em></em>直播中</div>
                                            </case>
                                            <case value="2">
                                                <div class="zhiboending"><em></em>休息中</div>
                                            </case>
                                        </switch>
                                        <div class="cont_mask">
                                            <a href="/{$multi['live_id']}" target="_blank"><em></em></a>
                                        </div>
                                    </div>
                                    <div class="cont_bottom">
                                        <span class="tit">{$multi['live_name']}</span>
                                        <span class="read"><em></em>{$multi['nums']}</span>
                                    </div>
                                </li>
                            </volist>
                        </ul>
                    </div>

                    <div class="box-hd">
                        <h2 class="box-title"><span class="icon users"></span>主播房间</h2>
                    </div>
                    <div class="box-bd">
                        <ul class="list clearfix liveHall">

                        </ul>
                    </div>
                </div>
                <!-- 直播大厅结束 -->
            </div>

            <div class="side clearfix">
                <div class="sidebar">
                    <div class="g-box" id="author-top">
                        <div class="box-hd">

                        </div>
                        <div class="box-bd">
                            <ul class="rank-list">
                            </ul>
                        </div>
                    </div>
                    <div class="g-box" id="topic-plan">
                        <div class="box-hd">

                        </div>
                        <div class="box-bd">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <tc_include file="Public:footer"/>

    <div id="right-fixed-position" class="right-fixed-position" style="display:none;">
        <a href="#" class="close"></a>
        <a href="#" class="link" target="_blank"><img src="#"/></a>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/home/js/jquery.SuperSlide.2.1.1.js?v={$sversion}"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.mousewheel.js?v={$sversion}"></script>
<script src="__PUBLIC__/home/show/js/room.js?v={$sversion}"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/index.js?v={$sversion}"></script>
<script>
    (function () {
        /* 控制左右按钮显示 */
        jQuery(".fullSlide").hover(function () {
            jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5);
        }, function () {
            jQuery(this).find(".prev,.next").fadeOut()
        });

        /* 调用SuperSlide */
        jQuery(".fullSlide").slide({
            titCell: ".hd ul", mainCell: ".bd ul", effect: "fold", autoPlay: true, autoPage: true, trigger: "click",
            startFun: function (i) {
                var curLi = jQuery(".fullSlide .bd li").eq(i);
                /* 当前大图的li */
                if (!!curLi.attr("_src")) {
                    curLi.css("background-image", curLi.attr("_src")).removeAttr("_src");
                    /* 将_src地址赋予li背景，然后删除_src */
                }
            }
        });

        //图片延迟加载
        $("img.thumb").lazyload({effect: "fadeIn"});
    })();
</script>


<script src="__PUBLIC__/home/show/js/slide.js?v={$sversion}"></script>



</body>
</html>
