<tc_include file="Public:head"/>
<link rel="stylesheet" type="text/css" href="/public/css/home/index.css?v={$sversion}">
<link rel="stylesheet" type="text/css" href="/public/css/home/liveAnnouncement.css?v={$sversion}">
<title>{$site_name}</title>
</head>

<body>
<div class="wrapper">
    <tc_include file="Public:header"/>
    <div id="doc-bd">
        <div class="container clearfix">
            <div class="liveAnment">
                <div class="Atit">直播公告</div>
                <div class="Amenu">
                    <foreach name="groupMap" item="gm">
                        <a href="?g=&m=Index&a=liveAnnouncement&category={$gm.key}"
                        <if condition="$category eq $gm['key']">class="act"</if>
                        >{$gm.value}</a>
                    </foreach>
                </div>

                <!-- 内容列表显示开始 -->
                <ul class="Acont">
                    <foreach name="lists" item="li">
                        <li>
                            <em class="huodong">{$categoryName}</em>
                            <a href="?g=&m=Index&a=viewAnnouncement&id={$li.id}" target="_blank"
                            ><span class="tit">{$li['title']}</span></a>
                            <i>{$li['updated_at']}</i>
                            <p>{$li['content']}</p>
                        </li>
                    </foreach>
                </ul>
                {$pagination}
                <!-- 内容列表显示结束 -->
            </div>
        </div>
    </div>

    <tc_include file="Public:footer"/>
    <div id="right-fixed-position" class="right-fixed-position" style="display:none;">
        <a href="#" class="close"></a>
        <a href="#" class="link" target="_blank"><img src="#"/></a>
    </div>
</div>

</body>
</html>