<tc_include file="Public:head"/>
<link rel="stylesheet" type="text/css" href="/public/css/home/index.css?v={$sversion}">
<link rel="stylesheet" type="text/css" href="/public/css/home/viewAnnouncement.css?v={$sversion}">
<title>{$site_name}</title>
</head>

<body>
<div class="wrapper">
    <tc_include file="Public:header"/>
    <div id="doc-bd">
        <div class="container clearfix">
            <div class="view-anment">
                <div class="Atit">直播公告</div>
                <article class="view-anment__article">
                    <header>
                        <h2>{$data.title}</h2>
                    </header>
                    <section>
                        <span class="view-anment__article_time">{$data.date}</span>
                        <p class="view-anment__article_content">{$data.content}</p>
                    </section>
                </article>
            </div>
        </div>
    </div>

    <tc_include file="Public:footer"/>
    <div id="right-fixed-position" class="right-fixed-position" style="display:none;">
        <a href="#" class="close"></a>
        <a href="#" class="link" target="_blank"><img src="#"/></a>
    </div>
</div>

</body>
</html>