<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a>{:L('USER_OAUTHADMIN_INDEX')}</a></li>
		</ul>
		<form method="post" class="js-ajax-form">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th align="center">ID</th>
						<th>{:L('USER_FROM')}</th>
						<th>{:L('USERNAME')}</th>
						<th>{:L('AVATAR')}</th>
						<th>{:L('BINGDING_ACCOUNT')}</th>
						<th>{:L('FIRST_LOGIN_TIME')}</th>
						<th>{:L('LAST_LOGIN_TIME')}</th>
						<th>{:L('LOGIN_TIMES')}</th>
						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td align="center">{$vo.id}</td>
						<td>{$vo.from}</td>
						<td>{$vo.name}</td>
						<td><img width="25" height="25" src="{$vo.head_img}" /></td>
						<td>{$vo['uid']|default='无'}</td>
						<td>{$vo['create_time']}</td>
						<td>{$vo['last_login_time']}</td>
						<td>{$vo.login_times}</td>
						<td align="center">
							<a href="{:U('oauthadmin/delete',array('id'=>$vo['id']))}" class="js-ajax-delete">{:L('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>