<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >消费记录</a></li>
		</ul>
		<php>
			$type=array("income"=>"收入","expend"=>"支出");
			$action=array("sendgift"=>"赠送礼物","sendbarrage"=>"弹幕","loginbonus"=>"登录奖励","buyguard"=>"购买一个月守护");
		</php>
		<form class="well form-search" method="post" action="{:U('Coinrecord/index')}">
			收支类型： 
			<select class="select_2" name="type">
				<option value="">全部</option>
				<volist name="type" id="v">
					<option value="{$key}" <if condition="$formget.type eq $key">selected</if> >{$v}</option>
				</volist>

			</select> &nbsp;&nbsp;
			收支行为： 
			<select class="select_2" name="action">
				<option value="">全部</option>
				<volist name="action" id="v">
					<option value="{$key}" <if condition="$formget.action eq $key">selected</if> >{$v}</option>
				</volist>
			</select> &nbsp;&nbsp;
			赠送时间：
			<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}" style="width: 80px;" autocomplete="off">-
			<input type="text" class="js-date date" name="end_time" value="{$formget.end_time}" style="width: 80px;" autocomplete="off"> &nbsp; &nbsp;
			会员： 
			<input type="text" name="uid" style="width: 200px;" value="{$formget.uid}" placeholder="请输入会员ID值...">
			主播： 
			<input type="text" name="touid" style="width: 200px;" value="{$formget.touid}" placeholder="请输入主播ID值...">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		
		<form method="post" class="js-ajax-form">
	
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th align="center">ID</th>
						<th>收支类型</th>
						<th>收支行为</th>
						<th>会员 (ID)</th>
						<th>主播 (ID)</th>
						<th>礼物 (ID)</th>
						<th>礼物数量</th>
						<th>礼物总价</th>
						<th>直播id</th>
						<th>赠送时间</th>

						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					
					<foreach name="lists" item="vo">
					<tr>
						<td align="center">{$vo.id}</td>
						<td>{$type[$vo['type']]}</td>
						<td>{$action[$vo['action']]}</td>
						<td>{$vo['userinfo']['user_nicename']} ( {$vo['uid']} )</td>
						<td>{$vo['touserinfo']['user_nicename']} ( {$vo['touid']} )</td>
						<td>{$vo['giftinfo']['giftname']} ( {$vo['giftid']} )</td>
						<td>{$vo['giftcount']}</td>
						<td>{$vo['total_livecoin']}</td>
						<td>{$vo['showid']}</td>
	
						<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>

						<td align="center">	
							<!-- <a href="{:U('Coinrecord/edit',array('id'=>$vo['id']))}" >编辑</a> |
							<a href="{:U('Coinrecord/del',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a> -->
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>