<admintpl file="header"/>
<style>
  input[type="checkbox"]{
    margin: 0;
    margin-bottom: 2px;
  }
  input[type="checkbox"].css-difcheckbox{
    margin-top: 4px;
  }
  .red-color{
    color: #ff0000;
  }
    .controls img {
        max-width: 200px;
    }
    .form-horizontal .control-label.css-seclabel{
      text-align: left;
      width: auto;
      min-width: 100px;
      margin-right: 10px;
    }
    .form-horizontal .controls.css-sec-input{
      margin: 0;
    }
</style>
{:$this->registerCssFile('public/home/css/layer.css')}
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:U('activity/index')}">活动管理</a></li>
        <li class="active"><a>创建/编辑活动</a></li>
    </ul>
    <form class="form-horizontal js-ajax-forms" id="activity-form" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label">活动名称</label>
                <div class="controls">
                    <input type="text" name="name" value="{$data['name']}" id="name"/>
                    <span class="form-required red-color">*</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">活动开始时间</label>
                <div class="controls">
                    <input type="text" name="start_at"
                           value="{$data.start_at}"
                           autocomplete="off"/>
                    <span class="form-required red-color">*</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">关联题库</label>
                <div class="controls">
                    <select name="question_list_id">
                        <?php foreach($questionList as $ql):?>
                        <option value="<?= $ql['id']?>"
                        <?php if(isset($data['question_list_id'])&&$ql['id']==$data['question_list_id']):?>
                        selected<?php endif?>
                        ><?= $ql['name']?></option>
                        <?php endforeach?>
                    </select>
                    <span class="form-required red-color">*</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">奖金数额</label>
                <div class="controls">
                    <input type="text" name="base_bonus_amount" value="{$data['base_bonus_amount']}"
                           id="base_bonus_amount"/>
                    <span class="form-required red-color">*</span>人民币（元）
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="radio inline" for="extra_bonus_type_1"><input type="radio" name="extra_bonus_type"
                                                                                value="1" id="extra_bonus_type_1"
                        <if condition="$data['extra_bonus_type'] eq '1'">checked</if>
                        />有加奖</label>
                    <label class="radio inline" for="extra_bonus_type_0"><input type="radio" name="extra_bonus_type" value="0"
                                                                                id="extra_bonus_type_0"
                        <if condition="$data['extra_bonus_type'] eq '0'">checked</if>
                        >无加奖</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">加奖总额</label>
                <div class="controls">
                    <input type="text" name="extra_bonus_amount" value="{$data['extra_bonus_amount']}"
                           id="extra_bonus_amount"/>
                    <span class="form-required">人民币（元）</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">按排名的奖金</label>
                <div class="controls">
                    <textarea name="extra_bonus_by_ranking" rows="12" cols="8" id="extra_bonus_by_ranking"
                              class="inputtext"
                              style="width: 250px;">{$data['extra_bonus_by_ranking']}</textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                  <input type="checkbox" name="join_requirements[cash_flow_limit_type]" value="1"
                  <?= isset($data['join_requirements']['cash_flow_limit_type'])&&$data['join_requirements']['cash_flow_limit_type']==1?'checked':'' ?>
                  />
                  <span>限制流水</span>
                </div>
                <div class="controls">
                    <div class="">
                        <label class="control-label css-seclabel">流水开始时间</label>
                        <div class="controls css-sec-input">
                            <input type="text" name="join_requirements[cash_flow_limit_begintime]"
                                   value="{$data.join_requirements.cash_flow_limit_begintime}"
                                   autocomplete="off"/>
                        </div>
                        <label class="control-label css-seclabel">流水截止时间</label>
                        <div class="controls css-sec-input">
                            <input type="text" name="join_requirements[cash_flow_limit_endtime]"
                                   value="{$data.join_requirements.cash_flow_limit_endtime}"
                                   autocomplete="off"/>
                        </div>
                        <label class="control-label css-seclabel">流水额度</label>
                        <div class="controls css-sec-input">
                            <input type="text" name="join_requirements[cash_flow_limit_quota]"
                                   value="{$data.join_requirements.cash_flow_limit_quota}"
                                   autocomplete="off"/>
                            <span class="form-required">人民币（元）</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                  <input type="checkbox" name="join_requirements[recharge_limit_type]" value="1"
                  <?= isset($data['join_requirements']['recharge_limit_type'])&&$data['join_requirements']['recharge_limit_type']==1?'checked':'' ?>
                  />
                  <span>限制充值</span>
                </div>
                <div class="controls">
                    <div class="">
                        <label class="control-label css-seclabel">充值开始时间</label>
                        <div class="controls css-sec-input">
                            <input type="text" name="join_requirements[recharge_limit_begintime]"
                                   value="{$data.join_requirements.recharge_limit_begintime}"
                                   autocomplete="off"/>
                        </div>
                        <label class="control-label css-seclabel">充值截止时间</label>
                        <div class="controls css-sec-input">
                            <input type="text" name="join_requirements[recharge_limit_endtime]"
                                   value="{$data.join_requirements.recharge_limit_endtime}"
                                   autocomplete="off"/>
                        </div>
                        <label class="control-label css-seclabel">充值额度</label>
                        <div class="controls css-sec-input">
                            <input type="text" name="join_requirements[recharge_limit_quota]"
                                   value="{$data.join_requirements.recharge_limit_quota}"
                                   autocomplete="off"/>
                            <span class="form-required">人民币（元）</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">活动介绍</label>
                <div class="controls">
                    <textarea name="desct" rows="2" cols="20" id="desct" class="inputtext"
                              style="height: 100px; width: 500px;">{$data['desct']}</textarea>
                    <span class="form-required red-color">*</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">启用预约提醒功能</label>
                <div class="controls">
                  <label class="checkbox inline">
                    <input type="checkbox" name="remind" class="css-difcheckbox"
                           value="1" <?= isset($data['remind'])&&$data['remind']==1?'checked':'' ?> />
                  </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">关联直播间</label>
                <div class="controls">
                    <input type="text" name="live_id" value="{$data['live_id']}" id="live_id"/>
                    <span class="form-required red-color">*</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">发布位置</label>
                <div class="controls">
                    <textarea name="location_live_id" rows="2" cols="20" id="location_live_id" class="inputtext"
                              style="height: 100px; width: 500px;">{$data['location_live_id']}</textarea>
                    <span class="form-required">输入房间ID，多个ID用英文半角逗号隔开</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">活动准备倒计时</label>
                <div class="controls">
                    <input type="text" name="countdown_at" value="{$data['countdown_at']}" id="countdown_at"/>
                    <span class="form-required red-color">*</span>秒
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">每道答题倒计时</label>
                <div class="controls">
                    <input type="text" name="answer_countdown_at" value="{$data['answer_countdown_at']}" id="answer_countdown_at"/>
                    <span class="form-required red-color">*</span>秒
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">活动状态</label>
                <div class="controls">
                    <?php foreach($statusMap as $sk => $sv):?>
                    <label class="radio inline" for="sex_<?= $sk?>">
                        <input type="radio" name="status" value="{$sk}" id="sex_<?= $sk?>"
                        <?php if($sk==$data['status']):?>checked<?php endif?> /> {$sv}
                    </label>
                    <?php endforeach?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">ICON</label>
                <div class="controls">
                    <input type="text" name="icon" value="{$data['icon']}" id="icon"/>
                    <span class="form-required red-color">*</span>
                    <img src="{$data['icon_image']}"/>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="hidden" name="id" value="{$data['id']}"/>
            <button type="button" class="btn btn-primary js-ajax-submit" id="activity-submit-button">{:L('SAVE')}
            </button>
            <a class="btn" href="javascript:history.go(-1);">{:L('BACK')}</a>
        </div>
    </form>
</div>
{:$this->registerJsFile('public/js/common.js')}
{:$this->registerJsFile('public/home/js/layer.js')}
{:$this->registerJsFile('public/js/socket.io.js')}
{:$this->registerJsFile('public/js/content_addtop.js')}
{:$this->registerJsFile('public/js/datePicker/datePicker.js')}

<script>
    $(function () {
        $('[name="start_at"],[name="join_requirements[cash_flow_limit_begintime]"],[name="join_requirements[cash_flow_limit_endtime]"],[name="join_requirements[recharge_limit_begintime]"],[name="join_requirements[recharge_limit_endtime]"]').datePicker({
            format: "yyyy-mm-dd HH:MM:SS",
            time: true
        });
        $('#activity-submit-button').click(function () {
            var params = $('#activity-form').serializeArray();
            var values = {};
            for (var x in params) {
                values[params[x].name] = params[x].value;
            }
            $.ajax({
                url: '/index.php?g=admin&m=activity&a=edit',
                type: 'POST',
                dataType: 'json',
                data: values,
                success: function (data) {
                    if (parseInt(data.code) !== 200) {
                        layer.msg(data.message);
                        return;
                    }
                    layer.msg('保存成功');
                    location.href="/index.php?g=Admin&m=activity&a=index";
                }, error: function (data) {
                    layer.msg('保存失败');
                }
            });
        });
    });
</script>
</body>
</html>