<admintpl file="header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>活动管理</a></li>
        <li><a href="{:U('activity/edit')}">创建/编辑活动</a></li>
    </ul>
    <form class="well form-search" method="post" action="{:U('activity/index')}">
        <input type="text" name="name" style="width: 200px;" value="{$formget.name}" placeholder="活动名称">
        <input type="submit" class="btn btn-primary" value="搜索">
    </form>
    <form method="post" class="js-ajax-form">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th align="center">活动编号</th>
                <th>开始时间</th>
                <th>活动名称</th>
                <th>关联题单名称</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>当前状态</th>
                <th align="center">操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="list" item="vo">
                <tr>
                    <td align="center">{$vo.id}</td>
                    <td>{$vo.start_at_f}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.question_list_name}</td>
                    <td>{$vo.created_at_f}</td>
                    <td>{$vo.user_nicename}</td>
                    <td>{$vo.status_f}</td>
                    <td align="center">
                        <a href="{:U('activity/activityAnswerLogs',array('id'=>$vo['id']))}">答题记录</a>
                        |
                        <a href="{:U('activity/edit', ['id'=>$vo['id']])}">编辑</a> |
                        <a href="{:U('activity/delete', ['id'=>$vo['id']])}" class="js-ajax-dialog-btn"
                           data-msg="您确定要删除吗？">删除</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$page}</div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>