<admintpl file="header" />
</head>
<body>
    <style type="text/css">
  
        .created-td{
            background-color: #333333c2;
            padding: 5px 20px;
            border-radius: 7px;
            width: 110px;
            height: 25px;
            text-align: center;
            font-size: 16px;
            color: white !important;
        }
        .table-actions{
            margin-bottom: 16px;
        }
    </style>

	<div class="wrap">

        <ul class="nav nav-tabs">
            <li><a href="{:U('Question/quesWareroomManager')}">题库管理</a></li>
            <li><a href="{:U('Question/quesListManager')}">题单管理</a></li>
            <li class="active"><a href="{:U('Question/quesManager')}">题目管理</a></li>
        </ul>
        
        <div class="table-actions">
            <botton class="created-td">添加题单</botton>
        </div>

		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Question/quesListAdd')}">

    
			<fieldset>
				<div class="control-group">
					<label class="control-label">题单名称</label>
					<div class="controls">
						<input type="text" name="html_name">
						<span class="form-required">*</span>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">保存题单</button>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>