<admintpl file="header" />
</head>
<body>
	<style type="text/css">
		p{
			margin: 0;
		}
		.ds-n{
			display: none;
		}
		.css-select-container .css-select-dom{
			width: 150px;
			margin-left: 10px;
			margin-top: 8px;
		}
		.css-select-container .css-btn{
			margin-left: 10px
		}
		.css-select-container .css-btn-right{
			float:right;margin-top: 10px;
		}
		.table-actions{
			margin-bottom: 16px;
		}
		.css-mask{
			display: none;
		    position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.2);
		}
		.css-notice{
	        position: fixed;
		    top: 50%;
		    left: 50%;
		    width: 150px;
		    margin: 0px auto;
		    line-height: 30px;
		    background-color: rgb(255, 255, 255);
		    padding: 6px;
		    transform: translate(-50%, -50%);
		    border-radius: 5px;
		}
		.td-title{
			margin: 20px;
		}
		.td-title span{
			font-size: 17px;

		}

	</style>
	<div class="wrap js-check-wrap">

        <ul class="nav nav-tabs">
            <li class="active"><a href="{:U('Question/quesWareroomManager')}">题库管理</a></li>
            <li><a href="{:U('Question/quesListManager')}">题单管理</a></li>
            <li><a href="{:U('Question/quesManager')}">题目管理</a></li>
            <li><a href="{:U('Question/import')}">题目批量导入</a></li>
        </ul>

        <form method="get" action="{:U('Question/quesWareroomManager')}">
        	<input type="hidden" name="g" value="Admin" />
        	<input type="hidden" name="m" value="Question" />
        	<input type="hidden" name="a" value="quesWareroomManager" />
        	<div class="css-select-container">
        		<span>筛选题目</span>
        		<select name="type" class="form-control css-select-dom">
        			<option value="0" <eq name="type" value="0">selected</eq> >全选</option>
        			<option value="1" <eq name="type" value="1">selected</eq> >3选一</option>
        			<option value="2" <eq name="type" value="2">selected</eq> >4选一</option>
        		</select>
        		<button type="submit" class="btn btn-primary css-btn">筛选</button>
        		<button type="button" class="ctmctd btn btn-default css-btn-right" id="js-modal">选择题目创建题单</button>
        	</div>
        	<div class="css-btn-container"><a href="{:U('Question/quesManager')}"><button type="button" class="btn btn-default">创建题目</button></a></div>
        </form>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th><input id="selectAll" type="checkbox" style="margin: 0;" />全选</th>
						<th>题目</th>
						<th>答案1</th>
						<th>答案2</th>
						<th>答案3</th>
						<th>答案4</th>
						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody  id="list">
					<foreach name="lists" item="vo">
					<tr>
						<td><input type="checkbox" name="ques_id[]" value="{$vo.id}"></td>
						<td>{$vo.name}</td>
						<td>{$vo.choose_answer.0}</td>
						<td>{$vo.choose_answer.1}</td>
						<td>{$vo.choose_answer.2}</td>
						<td>{$vo.choose_answer.3}</td>
						<td align="center">
								<a href="{:U('Question/quesInfo',array('id'=>$vo['id']))}">编辑</a> | 
								<a href="{:U('Question/quesDel',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除此题目吗？">删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
	</div>

	<div class="css-mask" id="js-mask"></div>
	<div class="css-notice">
		<div class="css-text">
			<div class="ds-n" id="js-one">
				<p>请选择题目</p>
			</div>
			<div class="ds-n" id="js-two">
				<p class="td-exist" data-toggle="modal" data-target="#myModal">添加到已有题单</p>
	      		<p class="td-created" data-toggle="modal" data-target=".bs-example-modal-lg">创建新题单</p>
	      	</div>
		</div>
	</div>

<!-- 创建新题单模拟态框start -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    	<div>
    		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Question/quesListAdd')}">
			<div class="td-title">
				<span >题单名：</span>
				<input class="td-name-val" type="text" name="html_name">
			</div>
			<div class="append-input-td-created">
				
			</div>
			<div class="form-actions">
				<button type="hidden" class="btn btn-primary js-ajax-submit" data='loading'>保存题单</button>
			</div>
			</form>
    	</div>
    </div>
  </div>
</div>
<!-- 创建新题单模拟态框end -->



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">题单列表</h4>
		</div>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Question/addExistQuesListAjax')}">
		<div class="modal-body td-lists">
			<table>
				<thead>
					<tr>
						<th>选择</th>
						<th>题单名称</th>
					</tr>
				</thead>
				<tbody class="td-lists-ajax">
					
				</tbody>
			</table>
			<div class="td-lists-page"></div>
		</div>
		<div class="append-input-td-exist">

		</div>
		<div style="padding-left: 180px; display: none;" class="page-submit-div"><button type="submit" class="btn btn-primary js-ajax-submit page-submit" data-subcheck="true">保存题目</button></div>
		</form>
    </div>
  </div>
</div>

 <script src="__PUBLIC__/js/common.js"></script>
 <script type="text/javascript">


 	/**
 	 * 检查是否被选中
 	 */
 	function allCheck(){
        var count = $("#list :checkbox").size();
        var cut = 0;
        $("#list :checkbox").each(function(){
            if ($(this).prop("checked") == true) {
                cut++;
            }
        });// alert(cut,count);
        if (cut == count) {
            $("#selectAll").prop("checked",true);
        }else{
            $("#selectAll").prop("checked",false);
        }
    }

 	/**
 	 * 获取被选中的状态
 	 */
 	 function getCheckedStatus()
 	 {
	    var status = false;
	    $("#list input[name='ques_id[]']").each(function(){
	        if($(this).prop("checked")){
	            status = true;
	        }
	    });
	    $('.css-mask').show()
	    $('.css-notice').show();
	   if(status === false)
	   {
	   		$('#js-one').show();
	   		$('#js-two').hide();
	   }else{
	   		$('#js-two').show();
	   		$('#js-one').hide();
	   }
	    
 	 }


 	 //获取被选中的值
 	 function getValByCreated()
 	 {
 	 	$('.append-input-td-created').empty();
		$("#list input[name='ques_id[]']").each(function(){
			var dom = `<input type="hidden" name="question_id[]" value="`;
		    if($(this).prop("checked")){
		    	$('.append-input-td-created').append(dom + $(this).val() +`" />`);
		    }
		});
 	 }

 	 //获取被选中的值
 	 function getValByExist()
 	 {
 	 	$('.append-input-td-exist').empty();
		$("#list input[name='ques_id[]']").each(function(){
			var dom = `<input type="hidden" name="question_id[]" value="`;
		    if($(this).prop("checked")){
		    	$('.append-input-td-exist').append(dom + $(this).val() +`" />`);
		    }
		});
 	 }

 	 //选择题目添加已有题单时题单列表
 	 function getTDList()
 	 {
		$.post( "/index.php?g=Admin&m=Question&a=quesListManagerAjax", function(data){
			var html = ``;
			var arr_len = data.lists.length;
			if(arr_len > 0)
			{
				$('.td-lists-ajax').html('');
				for(var i=0; i<arr_len; i++)
				{
					html += `<tr><td><input class="js-check" type="checkbox" name="question_list_id[]" value="`+ data.lists[i].id +`"></td><td>` + data.lists[i].name + `</td></tr>`;
				}
				$('.td-lists-ajax').append(html);

				$('.page-submit-div').show();

			}
	

			if(data.page.next_page != 1)
			{

				$('.td-lists-page').html('');

				var page =  `<span class="tdlist-page-prev" data="`+data.page.prev_page+`">上页</span><span class="tdlist-page-next" data="`+data.page.next_page+`">下页</span></div>`;

				$('.td-lists-page').append(page);

				$('.tdlist-page-prev').click(function(){

					if(data.page.prev_page == 0) return false;

					var page = $(this).attr('data');
					getPrevNextPage(page);
				});
				$('.tdlist-page-next').click(function(){

					if(data.page.current_page == data.page.total_page) return false;

					var page = $(this).attr('data');
					getPrevNextPage(page);
				});
			}

		});
 	 }

 	 //获取上/下一页题单列表
 	 function getPrevNextPage(page)
 	 {
		$.post( "/index.php?g=Admin&m=Question&a=quesListManagerAjax", {page:page},function(data){
			var html = ``;
			var arr_len = data.lists.length;
			if(arr_len > 0)
			{
				$('.td-lists-ajax').html('');
				for(var i=0; i<arr_len; i++)
				{
					html += `<tr><td><input class="js-check" type="checkbox" name="question_list_id[]" value="`+ data.lists[i].id +`"></td><td>` + data.lists[i].name + `</td></tr>`;
				}
				$('.td-lists-ajax').append(html);
			}


			
			$('.td-lists-page').html('');
			
			if(data.page.next_page != 1)
			{
				var page =  `<span class="tdlist-page-prev" data="`+data.page.prev_page+`">上页</span><span class="tdlist-page-next" data="`+data.page.next_page+`">下页</span></div>`;
		
				$('.td-lists-page').append(page);
				$('.tdlist-page-prev').click(function(){

					if(data.page.prev_page == 0) return false;

					var page = $(this).attr('data');
					getPrevNextPage(page);
				});
				$('.tdlist-page-next').click(function(){

					if(data.page.current_page == data.page.total_page) return false;

					var page = $(this).attr('data');
					getPrevNextPage(page);
				});
			}

		});
 	 }

 	$(function(){

        $('.css-notice').hide();

		//全选
		$("#selectAll").click(function(){
		    if (this.checked) {
		        $("#list :checkbox").prop("checked",true); 
		    }else{
		        $("#list :checkbox").prop("checked",false);
		    }
		});

 		//设置全选复选框 
	    $("#list :checkbox").click(function(){ 
	        allCheck(); 
	    });


	    //创建题单
	    $(".ctmctd").click(function(){
			getCheckedStatus();
	    });
	    $('.css-mask').on('click',function(){
	    	$(this).hide()
	    	$('.css-notice').hide();

	    	//移除创建新题单时的question_id
	    	$('.append-input-td-created').empty();
	    	$('.append-input-td-exist').empty();
	    })

	    //选择题目创建新提单时按钮块呈现手指标识
	    $("#js-two").hover(function(){
		    $(this).css("cursor","pointer");
		},function(){
		    $(this).css("cursor-color","default");
		});


	    //选择题目创建新题单时添加question_id
		$(".td-created").on('click', function(){
			getValByCreated();
		});

	    //选择题目已有题单时添加question_id
		$(".td-exist").on('click', function(){
			getValByExist();
		});


		//选择题目添加已有题单时题单列表
		$(".td-exist").on('click', function(){
			getTDList();
		});
 	});




 	



 </script>
</body>
</html>