<admintpl file="header" />
</head>
<body>
	<div class="wrap">
        <ul class="nav nav-tabs">
            <li><a href="{:U('Question/quesWareroomManager')}">题库管理</a></li>
            <li><a href="{:U('Question/quesListManager')}">题单管理</a></li>
            <li class="active"><a href="{:U('Question/quesManager')}">题目管理</a></li>
            <li><a href="{:U('Question/import')}">题目批量导入</a></li>
        </ul>

		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Question/addQuestion')}">
			<fieldset>
				<div class="control-group">
					<label class="control-label">题目</label>
					<div class="controls">
						<input type="text" name="ad_name">
						<span class="form-required">*</span>
					</div>
				</div>
                <div class="control-group">
                    <label class="control-label">答案1</label>
                    <div class="controls">
                        <input type="text" name="ad_name">
                        <span class="form-required">*</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">答案2</label>
                    <div class="controls">
                        <input type="text" name="ad_name">
                        <span class="form-required">*</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">答案3</label>
                    <div class="controls">
                        <input type="text" name="ad_name">
                        <span class="form-required">*</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">答案4</label>
                    <div class="controls">
                        <input type="text" name="ad_name">
                        <span class="form-required">*</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">正确答案</label>
                    <div class="controls">
                        <input type="text" name="ad_name">
                        <span class="form-required">*</span>
                    </div>
                </div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
				<a class="btn" href="{:U('ad/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>