@import "flex.scss";
.answer-container {
  width: 100%;
  height: 100%;
  float: left;
}

.answer-entrance {
  position: absolute;
  bottom: 100px;
  left: 15px;
}

.answer-box, .game-box {
  position: absolute;
  background: #7241E3;
  z-index: 999;
  width: 100%;
  bottom: 0;
  //   top: 0;
  left: 0;
  right: 0;
  display: none;
  overflow: hidden;
}

.answer-entrance {
  position: absolute;
  bottom: 100px;
  left: 15px;
  display: none;
  cursor: pointer;
}

.game-entrance {
  position: absolute;
  bottom: 100px;
  left: 125px;
  cursor: pointer;
  border: 1px solid #7241E3;
}


