<tc_include file="Public:head" />
<title>管理员管理</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/common.css"/>
<link href="__PUBLIC__/js/artDialog/skins/default.css" rel="stylesheet" />
</head>
<body style="background-color:#f3f3f3">
<tc_include file="Public:header" />
<tc_include file="Home/Personal:header" />
<div class="container">
	<div class="Firstfloor">
		<div class="Leftlayout">
			<tc_include file="Home/Personal:navigation" />
		</div>
		<div class="rightlayout">
			<div class="clearfix">
				<div class="shouyez">
					<h3 class="personal_h3">
						<i class="h3_one"></i>
						提现中心
						<span>
							{$getConfigName['name_votes']}:{$rs['votes']}
						 <a class="icon"></a>
						</span>
						<a class="buy-coins" href="index.php?m=Payment&a=index">充值</a>
						<div class="linexi"></div>
					</h3>
				</div>
			</div>
			<div class="schedule">
         <div class="exchange">
				   <i class="dotico dotico-l"></i>
				   <i class="dotico dotico-r"></i>
					 <h4>{$getConfigName['name_votes']}兑换RMB</h4>
					 <p class="item">
						<label>今日可提现金额</label>
						<a id="coin_z" name="coin_z" class="coin_z" value="{$rs['todaycash']}">{$rs['todaycash']}</a>
					 </p>
					 <p class="btn">
						<button type="submit" onclick="Personal.exchange()">
							<span>提现</span>
						</button>
					 </p>
				</div>
        <div class="exchange-list">
					<div class="tip">
						<span>
							<strong>提示</strong>
							可提现金额：
							<em>{$rs['total']}</em>
						<span>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
<tc_include file="Public:footer" />
<tc_include file="Home/Personal:footer" />
</body>
</html>