<tc_include file="Public:head"/>
<title>{$site_name}</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Personal.css?v={$sversion}"/>
</head>
<body style="background-color:#f3f3f3">
<tc_include file="Public:header"/>



<div class="container">
    <div class="Firstfloor">
        <div class="Leftlayout">
            <tc_include file="Home/Personal:navigation"/>
        </div>
        <div class="rightlayout">
            <div class="clearfix">
                
             <!-- 个人图像账号昵称开始 -->
                <div class="shouyez">


                    <div class="hersleft">
                        <a href="index.php?m=Personal&a=photo" style="display:inline-block;height:88px">
                            <img src="{$info['avatar']}" alt="" class="herszhezhao">
                            <i class="herszhezhao">
                            </i>
                        </a>
                    </div>

                    <div class="hersright">

                        <div class="modify" style="display:none" id="modify">
                            <input id="name" placeholder="请输入新昵称">
                            <p>
                                
                                <span class="hersquxiao">取消</span>

                                <span class="subbag hersbaocun" >保存</span>
                            </p>
                        </div>

                        <div class="datas" id="datas">
                            <div>
                                <span>{$info['user_nicename']}</span>
                                <i class="dianji" id="dianji"></i>
                            </div>
                            
                        </div>
                        <p title="{$info['user_login']}">个人账号：{$info['user_login']}</p>

                    </div>


                    <!-- <div class="hd-login">
                        <div class="already-login">
                            <a class="link" href="#"><i class="icon-avatar"><img src="{$user['avatar']}" alt=""/></i><span class="nickname">{$user['user_nicename']}</span></a>
                            <i class="icon-level"></i>
                            <i class="icon-more"></i>
                            <div class="userinfo">
                                <div class="userinfo_up">
                                </div>
                                <div class="userinfo_down">
                                    <div class="userinfo_name">
                                         <div class="live">
                                            <a href="./{$user['id']}">我的直播</a>
                                        </div>
                                        <div class="live">
                                            <a href="./index.php?m=Personal&a=index">个人中心</a>
                                        </div>                                  
                                        <div class="logout">
                                            【退出登录】
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
            
                </div>

                <!-- 个人图像账号昵称结束 -->

                <!-- 我的资产开始 -->
                
                <div class="shouyez">
                    <h3 class="personal_h3">
                        <!-- <i class="h3_one"></i> -->
                        <span>我的资产</span>
                    </h3>

                    <div class="zichan">
                        <ul>
                            <li class="one">
                                <i></i>
                                <div>
                                    <!--<span>{$getConfigName['name_coin']}</span>-->
                                    <span class="wordelips">余额：
                                    <if condition="$info['coin'] eq ''">
                                        <b>0</b>
                                        <else/>
                                        <b>{$info['coin']}</b>
                                    </if>
                                    </span>
                                    <!-- <a href="./index.php?m=Payment&a=index">充值</a> -->
                                </div>
                                <input class="chongsmt" type="button" value="充值" />

                            </li>
                            <li class="two">
                                <i></i>
                                <div>
                                    <span class="wordelips">赠送礼物：<b>{$getgif['tsc']}</b></span>

                                    <span class="wordelips">收到礼物：<b>{$getgif['tsd']}</b>
                                       <!--  <b title="0个">{$getgif['tsc']}</b>个/
                                        <b title="0个">{$getgif['tsd']}</b>个 -->
                                    </span>
                                </div>
                            </li>
                            <li class="three">
                                <i></i>
                                <div>
                                    <span class="wordelips">直播券：
                                    <if condition="$info['livecoin'] eq ''">
                                        <b>0</b>
                                        <else/>
                                        <b>{$info['livecoin']}</b>
                                    </if>
                                    </span>
                                    <!-- <a href="./index.php?m=Payment&a=index">充值</a> -->
                                </div>

                                <input class="chongsmt" type="button" value="充值" />
                                
                            </li>
                            <li class="four">
                                <i></i>
                                <div>
                                    <span class="wordelips">我的等级：<b>{$level}</b></span>

                                    <span class="wordelips">累计经验：<b>{$experience}</b></span>

                                   
										<!-- <b>{$level}</b>
										<b>{$experience}</b> -->
									
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 我的资产结束 -->

                <!-- <div class="shouyez">
                    <div class="charge_table">
                        <span style="font-size: 20px;">直播券账变</span>
                        <span style="margin-left: 14px;">当前余额：{$info['livecoin']}</span>
                    </div>
                    <div class="charge_table">
                        <table>
                            <tbody>
                            <tr>
                                <th>账变时间</th>
                                <th>账变内容</th>
                                <th>金额</th>
                                <th>备注</th>
                            </tr>
                            <foreach name="coinRecord" item="cr">
                                <tr>
                                    <td>{$cr.addtime}</td>
                                    <td>{$cr.content}</td>
                                    <td>{$cr.livecoin}</td>
                                    <td>{$cr.remark}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <div class="page">

                        </div>
                    </div>
                </div>
                {$page} -->

            </div>
        </div>
    </div>
</div>
<tc_include file="Public:footer"/>
<tc_include file="Home/Personal:footer"/>
</body>
</html>