<tc_include file="Public:head" />
<title>发红包记录</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/common.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Personal.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css"/>

</head>
<body style="background-color:#f3f3f3">
<tc_include file="Public:header" />
<tc_include file="Home/Personal:header" />
<div class="container">
	<div class="Firstfloor">
		<div class="Leftlayout">
			<tc_include file="Home/Personal:navigation" />
		</div>
		<div class="rightlayout">
			<div class="clearfix">
				<div class="shouyez">
					<h3 class="personal_h3">
						<i class="h3_one"></i>
						我的发红包记录
						<!-- <span>
						钻石:{$coin}
						 <a class="icon"></a>
						</span>
						<a class="buy-coins" href="index.php?m=Payment&a=index">充值</a>
						<div class="linexi"></div> -->
					</h3>
				</div>
			</div>
			<div class="schedule">
				<div class="charge_mt">
				<h4>发红包记录</h4>
				 <form action="index.php?m=Personal&a=sendpacket" method="post">
				  查询时间：
					<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}"  autocomplete="off">-
					<input type="text" name="end_time" class="js-date date" value="{$formget.end_time}"  autocomplete="off">
					<button type="submit"  style="width: 46px;height: 28px;" value="搜索">搜索</button>
				</form> 
				</div>
				<div class="charge_table">
					<table>
					 <tbody>
						<tr>
						  	<th width="20%">主播名称</th>
							<th width="20%">总金额/个数</th>
							<th width="20%">红包类型</th>
							<th width="20%">红包标题</th>
							<th width="20%">发送时间</th>
						
						</tr>
						<php>$type=array("0"=>"普通红包","1"=>"口令红包")</php>
						<foreach name="list" item="vo">
							<tr>
								<td width="20%"><if condition="$vo['liveUserName']">{$vo['liveUserName']}<else />--</if></td>
								<td width="20%">{$vo['total_money']}/{$vo['num']}</td>
								<td width="20%">{$type[$vo['type']]}</td>
								<td width="20%">{$vo['title']}</td>
								<td width="20%">{$vo['addtime']|date="Y-m-d H:i:s",###}</td>
							</tr>						
						</foreach>
						</tbody>						
					</table>
          <div class="page">
					
	          </div>		    	   					
				</div>
			</div>
				{$page}
		</div>
  </div>
</div>
<tc_include file="Public:footer" />
<script type="text/javascript">
//全局变量
var GV = {
    DIMAUB: "__ROOT__/",
    JS_ROOT: "public/js/",
    TOKEN: ""
};
$(function()
{
	  /* 时间控件 */
     $("input.js-date").datePicker();
}
)
</script>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/wind.js"></script>	
<script type="text/javascript" src="__PUBLIC__/js/datePicker/datePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/Personal.js"></script>  
</body>
</html>