<template>
  <div class="game" v-bind:data-win="winner" v-if="gameInfo.activity_id">
    <Top></Top>
    <div class="game-inner" v-bind:class="{in: gameStatus > 0}">
      <Poker  />
      <Mascot />
    </div>
    <div id="gameCountdown" class="game-countdown">
      <countdown v-if="countdownActive" :leftseconds="leftSeconds" v-on:onComplete="onCountdownComplete" v-on:onTick="onTick" />
    </div>
    <div class="mask">
      <!-- <audio src="//s.appbocai.com//dep/sound/startbet.mp3" id="sound"></audio> -->
    </div>
    <prompt :promptActive.sync="promptActive" :promptText="promptText" @closePrompt="closePrompt" />
    <Chip :deskNumber="deskNumber" :bureauNumber="bureauNumber" />
    <AnimateChip />

    <div class="assist" @click="test" style="float: left; background: red; position: absolute; top: 80px; right:0; z-index: 20; cursor: pointer; ">测试</div>
  </div>
</template>

<script>
  import { mapState, mapActions, mapMutations } from 'vuex';
  import Poker from './components/game/Poker';
  import Mascot from './components/game/Mascot';
  import Prompt from './components/game/Prompt';
  import Countdown from './components/game/Countdown';
  import Chip from './components/game/Chip';
  import AnimateChip from './components/game/AnimateChip';
  import Top from './components/game/Top';
  import { getGameActivityInfo } from './utils/getData';

  export default {
    data() {
      return {
        promptText: null,
        promptActive: false,
        countdownActive: false,
        winner: null,
        leftSeconds: 40, //倒计时时间
        deskNumber: "", //局号
        bureauNumber: "", //桌号
      }
    },
    components: {
      Poker,
      Mascot,
      Prompt,
      Countdown,
      Chip,
      AnimateChip,
      Top
    },

    computed: {
      ...mapState([
        'gameStatus',
        'gameInfo'
      ]),
    },
    mounted() {},
    created() {
      this.$bus.on(Event.GAME_EVENT, this.gameEventHandle);
    },
    beforeDestroy() {
      this.$bus.off(Event.GAME_EVENT, this.gameEventHandle);
    },
    methods: {
      ...mapMutations({
        setGameStatus: 'SET_GAME_STATUS'
      }),
      async test() {
        if(this.gameStatus == 0) {
          var msg = {
            "_method_":"activityStart",
            "ct":{
                "activity_id":"1", //活动id
                "desk_number":"GB04129123184R", //局号
                "bureau_number":"B14",          //桌号
                "bets_duration":"10" //单位是秒
            }
          };
          this.gameEventHandle(msg);
          try {
            const res = await getGameActivityInfo(msg.ct.activity_id)
            debugger;
          } catch (error) {
            console.log(error)
            debugger;
          }
        } else if (this.gameStatus == 1) {

        }
      },
      showPrompt(text){
          this.promptText = text;
          this.promptActive = true;
      },
      closePrompt(){
          this.promptActive = false;
      },
      onCountdownComplete() {
        this.countdownActive = false;
        this.showPrompt('公布结果');
        this.setGameStatus(2)
      },
      onTick(leftSeconds) {},
      gameEventHandle(msg) {
        // status 0:未开始 1:开始下注 2：下注结束 3:开牌  4:底牌 5:公布比賽结果
        const method = msg._method_;
        switch (method) {
          case "activityStart":
            if(msg.ct.bets_duration) {
              this.leftSeconds = parseInt(msg.ct.bets_duration);
              this.deskNumber = msg.ct.desk_number;
              this.bureauNumber = msg.ct.bureau_number;
            }
            this.setGameStatus(1);
            setTimeout(() => {
              this.showPrompt('开始下注');
              this.countdownActive = true;
            }, 1400)
            break;
        }


        // if (this.gameStatus == 0 || this.gameStatus == 1 || this.gameStatus == 2 || this.gameStatus == 3 || this.gameStatus == 4) {
        //   var status = this.gameStatus + 1;
        // } else {
        //   var status = 0;
        // }

        // if(this.gameStatus == 4) {
        //     this.winner = 0;
        // } else {
        //   this.winner = null;
        // }
        // if (status == 1) {
        //   setTimeout(() => {
        //     this.showPrompt('开始下注');
        //     this.countdownActive = true;
        //   }, 1400)
        // } else if (status == 2) {
        //     // this.animateChipActive = true;
        // }
        // this.setGameStatus(status)
      }
    },
  }

</script>

<style>
  .game[data-win] .mask{display:block;}
  .game[data-win] .poker{transition-property:none;-moz-transition-property: none; -webkit-transition-property:none;-o-transition-property:none;}

  .game[data-win="0"] .poker:nth-child(1),
  .game[data-win="0"] .mascot:nth-child(1),
  .game[data-win="0"] .mascot-outchip-0,
  .game[data-win="0"] .game-cai-win {
    z-index:3;
    display: block;
  }

  .game[data-win="1"] .mascot:nth-child(2),
  .game[data-win="1"] .mascot-outchip-1, 
  .game[data-win="1"] .game-shan-win
   {z-index:3; display: block;}

  .game[data-win="2"] .poker:last-child,
  .game[data-win="2"] .mascot:last-child,
  .game[data-win="2"] .mascot-outchip-2,
    .game[data-win="2"] .game-bao-win
   {z-index:3; display: block;}
</style>


<style lang="scss" scoped>
  @import 'src/style/mixin';
  .game {
  position: relative; // bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}
.game-inner {
  background-image: url(./images/game/bg.png);
  position: relative;
  // height: 240px;
  // background: 50% 100% no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.game-inner:after{display:block;position:absolute;left:0;right:0;bottom:0;height:50px;background: -webkit-linear-gradient(bottom,transparent , rgba(0,0,0,.9));   background: -o-linear-gradient(bottom,transparent, rgba(0,0,0,.9));   background: -moz-linear-gradient(bottom,transparent, rgba(0,0,0,.9));   background: linear-gradient(to bottom,transparent , rgba(0,0,0,.9));content: "";}
.mask{display:none;position:absolute;top:0;left:0;bottom:0;width:100%;z-index:2;background: -webkit-linear-gradient(bottom,rgba(0,0,0,.2) , rgba(0,0,0,.8));   background: -o-linear-gradient(bottom,rgba(0,0,0,.2), rgba(0,0,0,.8));   background: -moz-linear-gradient(bottom,rgba(0,0,0,.2), rgba(0,0,0,.8));   background: linear-gradient(to bottom,rgba(0,0,0,.2) , rgba(0,0,0,.8));}

.mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .8));
  background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .8));
}
.game-countdown {
    position: absolute;
    left: 50%;
    bottom: rem(250px);
    // bottom: rem(165px);
    width: rem(73px);
    height: rem(67px);
    margin-left: rem(-36.5px);
    line-height: rem(67px);
    font-size: rem(30px);
    font-weight: 700;
    text-align: center;
    color: #fff;
  }

 

</style>
