<template>
    <Board v-if="gameBorderInfo.isActive"  />
</template>

<script>
  import {
    mapState,
    mapActions,
    mapMutations
  } from 'vuex';
  import Board from './components/game/Board'

  export default {
    data() {
      return {
      }
    },
    components: {
      Board
    },
    computed: {
      ...mapState([
        'gameBorderInfo'
      ]),
    },
    mounted() {},
    created() {
    },
    beforeDestroy() {
    },
    methods: {
    },
  }

</script>

<style lang="scss" scoped>

</style>
