<template>
    <div class="game-logo" v-if="gameInfo.activity_id">
         <img :src="gameInfo.image_path" />
    </div>
</template>

<script>
  import { mapState, mapActions,mapMutations  } from 'vuex';

  export default {
    data() {
      return {
      }
    },
    components: {

    },
    computed: {
      ...mapState([
        'gameInfo'
      ])
    },
    methods: {
      
    },
  }

</script>

<style lang="scss" scoped>
  .game-logo {
    width: 70px;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
      float: left;
    }
  }
</style>
