img { border: 0;}
.ck-slide ul { margin: 0; padding: 0; list-style-type: none;}
.ck-slide {width: 100%;height: 100px; position: relative; overflow: hidden;}
.ck-slide ul.ck-slide-wrapper {height: 100px; position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0;}
.ck-slide ul.ck-slide-wrapper li { position: absolute;}
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 60%; z-index: 2; width: 25px; height: 50px; margin-top: -35px; border-radius: 3px; opacity: .15; background: red; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s;}
.ck-slide .ck-prev { left: 5px; background: url(../images/arrow-left.png) 50% no-repeat;}
.ck-slide .ck-next { right: 5px; background: url(../images/arrow-right.png) 50% no-repeat;}
.ck-slidebox { position: absolute; left: 50%; bottom: 12px; z-index: 30;}
.ck-slidebox ul { height: 6px; padding: 0 4px; border-radius: 8px; background: rgba(0,0,0,0.1);}
.ck-slidebox ul li { float: left; height: 3px; margin: 1px 4px;}
.ck-slidebox ul li em { display: block; width: 4px; height: 4px; border-radius: 100%; background-color: #fff; text-indent: -9999px; cursor: pointer;}
.ck-slidebox ul li.current em { background-color: #fe6500;}
.ck-slidebox ul li em:hover { background-color: #fe6500;}