.main {
        width: 1200px;
    }

    .g-box {
        width: 100% !important;
        float: left;
    }

    .g-box .list {
        margin: 0px !important;
    }

    .g-box .list li {
        float: left;
        width: 288px;
        position: relative;
        margin-right: 16px;
        background-color: #fff;
        box-shadow: 0px 3px 3px #eee;
        margin-bottom: 10px;
    }

    .g-box .list li:hover .cont_bottom .tit{
        color:#9966ff;
    }

    .g-box .list li:hover .cont_top .cont_mask{
        display: block;
    }

    .g-box .box-title {
        font-size: 18px;
        padding-left: 36px
    }

    .g-box .box-hd {
        height: auto !important;
        line-height: 50px !important;
        position: relative;
        margin:10px 0px  !important;
    }

    .g-box .box-title .icon {
        width: 36px !important;
        height: 36px !important;
        background: url("/public/images/web-icon.png") no-repeat;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .g-box.living .box-hd .icon {

        background-position: -13px -88px !important;
    }

    .g-box:before, .g-box:after {
        content: " ";
        display: block;
    }

    .hd-nav .item a:hover{
        color: #fff !important;
        background-color:#9966ff !important;
    }
    
  
    .g-box .box-video {

        height: 495px;
        width: 880px;
        float: left;
        overflow: hidden;
        position: relative;
    }
    
    .g-box .box-video .ck-slide-wrapper{
        height: 100%;
    }

    .g-box .box-video .ck-slidebox{
        display: none;
    }
    
    .g-box .box-video .ck-prev,.g-box .box-video .ck-next{
        display: none;
    }

    .g-box .box-video .videocont,.g-box .box-video .default_list_bg {
 
        width:880px;
        height:495px;
        background: #fff;
    }

    .g-box .box-video .videocont img.videodefault,.g-box .box-video .default_list_bg img.videodefault{
        width:100%;
        height: 100%;
    }

    .g-box .box-video .videocont .vjs-error .vjs-error-display:before {
        content: "";
    }

    .g-box .box-video .videocont video {
        width: 880px;
        height: 495px;
    }

    .g-box .box-video .videocont .live_list_loding,.g-box .box-video .videocont .loadingtext {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 10;
        top:0px;
    }

    .g-box .box-video .videocont  .live_list_loding{
        z-index: 99;
    }

    .g-box .box-video .videocont .live_list_bg,.g-box .box-video .videocont .loadingtext,.g-box .box-video .default_list_bg .live_list_bg{
        width: 160px;
        height: 50px;
        background: rgba(0,0,0,0.5);
        border: 1px solid #9966ff;
        border-radius: 6px;
        position: absolute;
        bottom: 210px;
        right: 370px;
        text-align: center;
        line-height: 50px;
        
        color: #9966ff;
        z-index: 999;
        display: none;
        text-decoration: none;
        transition: 1s background;
      
    }

    .g-box .box-video .videocont .loadingtext{
        background:rgba(0,0,0,0.5) url('/public/images/loading.gif') no-repeat 20px center;
        display: block;
        top:auto;
        height: 50px;
        color:#fff;
        padding-left: 30px;
        width:130px;
        border: none;
        font-size: 14px;
        /*transform: scale(0.5);*/
    }
    .g-box .box-video .live_list_bg a{
        color: #9966ff;
        display: block;
        text-align: center;
        font-size: 16px;
    }
    .g-box .box-video .videocont .act,.g-box .box-video .default_list_bg .act{
        background: #9966ff !important;
    }

    .g-box .box-video .videocont .act a,.g-box .box-video .default_list_bg .act a{
        color:#fff;
        text-decoration: none;
    }

    .g-box .box-video .videocont iframe {
        border: none;
    }

    .g-box .box-notice {

        width: 288px;
        height: 160px;
        float: right;
        border: 1px solid #ccc;
        position: relative;
        padding: 10px;
    }

    .g-box .box-notice .tit {
        font-size: 18px;
        height: 40px;
    }

    .g-box .box-notice .tit em {
        width: 31px;
        height: 35px;
        float: left;
        background: url("/public/images/web-icon.png") no-repeat -16px -232px;
        margin-top: -1px;
    }

    .g-box .box-notice .more {

        position: absolute;
        right: 10px;
        top: 13px;
    }

    .g-box .box-notice .more a {
        font-size: 14px;
    }

    .g-box .box-notice p {
        padding-left: 50px;
        position: relative;
        height: 25px;
        line-height: 25px;
        margin-top: 10px;
    }

    .g-box .box-notice p em {
        width: 44px;
        height: 22px;
        position: absolute;
        line-height: 22px;
        left: 0px;
        top: 2px;
        border-radius: 10px;
        font-style: normal;
        text-align: center;
        color: #fff;
        /*background: url("/public/images/web-icon.png") no-repeat;*/
    }

    .g-box .box-notice p span {
        position: absolute;
        right: 0px;
    }

    .huodong {
        /*background-position: -19px -1814px;*/
        background: #7ed321;
    }

    .g-box .box-notice .tongzhi {
        /*background-position: -17px -1883px;*/
        background: #00a9ff;
    }

    .g-box .box-notice .kuaixun {
        /*background-position: -17px -1949px;*/
        background: #50e3c2;
    }

    .g-box .box-notice .zhaomu {
        /*background-position: -17px -1949px;*/
        background: #9966ff;
    }

    .g-box .box-notice .youhui {
        /*background-position: -17px -1949px;*/
        background: #ff3366;
    }

    .g-box .box-notice .youjiang {
        /*background-position: -17px -1949px;*/
        background: #ff9f00;
    }

    .g-box .box-notice p a {
        font-size: 14px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 85%;
        display: inline-block;
    }

    .g-box .advent {
        width: 310px;
        height: 140px;
        float: right;
        position: relative;
        overflow: hidden;
        margin-top: 17px;
    }

    .g-box .advent img{
        width:100%;
        height: auto;
    }

    .g-box.lobby {
        /*margin-top: 10px;*/
    }

    .g-box.lobby .box-hd .icon {

        background-position: -14px -14px !important;
    }

    .g-box.lobby .box-hd  .users {

        background-position: -15px -84px !important;
    }

    .g-box.hot .box-hd .icon {

        background-position: -13px -299px !important;
    }
    

    .g-box .list li:nth-child(4n) {
        margin-right: 0px;
    }

    .g-box .list .cont_top {
        height: 162px;
        position: relative;
        background: #ccc url('/public/images/home/default.png') no-repeat center;
        overflow: hidden;

    }
    .g-box .list .cont_top img{
        width: 100%;
        height: 100%;
    }
    

    .g-box .list .cont_top .cont_mask {
        position: absolute;
        display: none;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

   /* .g-box .list .cont_top:hover .cont_mask {

        display: block;
    }
*/
    .g-box .list .cont_top .cont_mask em {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 64px;
        height: 64px;
        margin-left: -32px;
        margin-top: -32px;
        background: url("/public/images/web-icon.png") no-repeat -8px -1704px;
    }

    .g-box .list .cont_top .cont_mask a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;

    }

    .g-box .list .cont_top .zhiboing, .g-box .list .cont_top .zhiboending {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 10px;
        padding-right: 8px;
        width: 52px;
        height: 20px;
        line-height: 20px;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: right;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.7);
        font-size: 12px;
    }

    .g-box .list .cont_top .zhiboing em, .list .cont_top .zhiboending em {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: #66ff00;
        top: 8px;
        left: 8px;
    }

    .list .cont_top .zhiboending em {
        background-color: #ff3366;
    }



    .g-box .list .cont_bottom {

        margin: 10px;
        position: relative;
    }

    .g-box .list .cont_bottom .tit {
        font-size: 14px;
        color: #000;
        width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 18px;
        white-space: nowrap;
        display: inline-block
    }

    .g-box .list .cont_bottom .read {
        position: absolute;
        right: 0px;
        top: 2px;
        color: #999;
        font-size: 16px;
        font-family: arial;
        padding-left: 30px;
        text-align: right;
        height: 20px;
    }

    .g-box .list .cont_bottom .read em {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0px;
        top: -4px;
        background: url("/public/images/web-icon.png") no-repeat -20px -1619px;
    }