#doc-hd.double {
    border-bottom: 1px solid #ccc;
    background: #fff;
    box-shadow: none
}

#doc-hd.double .topbar {
    height: 56px
}

.hd-login {
    margin-top: 0;
    height: 100%;
    
}


.hd-login span{
    float: none;
    display: inline-block;
    line-height: 55px;
    overflow: initial;
    height: auto;
    position: relative;
    right: 0;
    left:0;
    top: 0;
}


.navsmini span.qqsever i{
    position: absolute;
    left: 10px;
    top: 22px;
    width: 60px;
    height: 15px;
    background:url(/public/images/home/giftIconDown.png) no-repeat center;
    display: none;
}

.navsmini span.qqsever .adminserver{
    position: absolute;
    left: -12px;
    top:36px;
    width: 100px;
    line-height: normal;
    border:1px solid #9966ff;
    display: none;
    z-index: 999;
    background: #fff;
    
}

.navsmini span.qqsever .adminserver li{
    padding:5px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.navsmini span.qqsever .adminserver li:hover{
    background:#f9f9f9;
}

.hd-login span.item{
    margin-left: 5px;
    margin-right: 5px;
}
.hd-login span.item a{
    color: #9966ff;
    padding: 6px 5px;
    border: 1px solid #9966ff;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
     
}

.hd-login span.item a:hover{
    background: #9966ff;
    color: #fff;
}



.hd-login .loginout{
    display: inline-block;
}

.hd-login .loging span{
    float: left;
    position: relative;
}

.container {
    width: 1200px;
    margin: 0px auto;
    height: 100%
}

.container .hd-login input{
    border: 0px;
    background: transparent;
    outline: none;
    position: relative;
    text-decoration: none !important;
    height: 100%;
    width: 72%;
    margin-left: 27px;
}

.container .hd-logo {
    float: left;
    width: 150px;
    font-size: 18px;
    color: #ff4a8f;
        margin-top: 10px;
    
}

.container .hd-logo img {
    float: left;
    width:150px;
    height: 36px;
}

.container .hd-logo span {
    display: inline-block;
    margin-top: 15px
}

.container .navsmini {
    /* overflow: hidden; */
    float: right;
    height: 100%
}

.container .navsmini span {
    display: inline-block;
    /*height: 100%;*/
    /*line-height: 52px;*/
    margin-right: 10px;
    margin-top: 20px;
    position: relative;
}

.container .navsmini > span > a {
    color: #9966ff;
    padding: 6px 5px;
    border: 1px solid #9966ff;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
}

.container .navsmini > span > a:hover{
    background: #9966ff;
    color:#fff;
}

.container .homelink {
    float: left;
    height: 100%;
    min-width: 50px;
    width:230px;
    font-size: 16px;
    text-align: center;
    line-height: 53px;
    padding: 0px 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container .homelink a {
    font-size: 16px;
}
.container .homelink .room-name {
    width: 195px;
    display: inline-block;
}


.container .homelink.act {
    background: #9966ff;
    color: #eee;
    width:auto;
}

.container .homelink.act a {
    color: #fff;
    text-decoration: none;
}

.container .hd-nav {
    overflow: hidden;
    height: 100%;
    margin: 0px !important;
    float: right !important
}

.container .hd-nav li {
    float: left;
    height: 100%;
    font-size: 16px;
    line-height: 50px;
    margin-right: 0px !important;
    margin-left: 0px;
    cursor: default
}

.container .hd-nav li:last-child{
    margin-right: 10px !important;
}

.container .hd-nav li a {
    background: none !important;
    color: #000 !important;
    box-shadow: none !important
}

.container .search-bar,.container .usermes {
    float: left;
    height: 100%;
    position: relative;
}

.container .search-bar .name,.container .search-bar .pasw,.container .usermes .name,.container .usermes .pasw {
    float: left;
    width: 112px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    margin-top: 13px;
    position: relative;
    text-align: center;
    height: 28px;
    background: url("/public/images/web-icon.png") no-repeat -17px -162px;
    overflow: hidden;
}

.container .search-bar .name label,.container .search-bar .pasw label,.container .usermes .name label,.container .usermes .pasw label {
    position: absolute;
    left: 27px;
    top: 2px;
    text-align: left;
    font-size: 12px;
    color: #ccc;
    z-index: 0
}

.container .search-bar .name .search-input,.container .search-bar .pasw .search-input,.container .usermes .name .search-input,.container .usermes .pasw .search-input {
    width: 100%;
    height: 20px;
    font-size: 12px;
    z-index: 1
}

.container .search-bar .pasw,.container .usermes .pasw {
    background-position: -17px -375px
}

.container .search-bar .logint,.container .usermes .logint {
    margin-top: 13px;
    float: right;
    font-size: 12px;
    background: #9966ff;
    border-radius: 5px;
    margin-left: 0px;
    width: 60px
}

.container .search-bar .logint input,.container .usermes .logint input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-left:0px; 

}

.container .search-bar .loginout,.container .usermes .loginout {
    line-height: 50px;
    /*padding-left: 20px;*/
}

.container .search-bar .loginout .usemes,.container .usermes .loginout .usemes {
    color: #9966ff;
    padding-right: 5px
}

.container .search-bar .loginout .useout,.container .usermes .loginout .useout {
    padding-left: 10px
}

.container .usermes .loginout .usemes{
   
    text-decoration: none;
}


.container .usermes .loginout{
    line-height: 55px;
}

.hd-nav .item a:hover {

    color: #fff !important;
    background-color: #9966ff !important;
}

.hd-nav .item a{
	height: 56px !important;
    line-height: 55px !important;
}