#lianmaiPlayer{
            width: 200px;
            height: 200px;
            background: none;
        }


        ibox-left {
        position: absolute;
        top: 0px;
        left: 0px;
        /*width: 160px;*/
        /*overflow: hidden;*/
        height: 100%;
        background: #333;

    }

    .box-left .leftset {
        border-bottom: 1px solid #666;
        width: 120px;
        position: relative;
        margin: 0px auto;
        text-align: center;
        color: #a9a9a9;
        padding-bottom: 20px;

    }

    .box-left .leftset:last-child {
        border-bottom: none;
    }

    .box-left .user .myimg {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-top: 15px;
        overflow: hidden;
    }

    .box-left .user .myimg img {
        height: 100%;
    }

    .box-left .user .tit {
        margin-top: 10px;
        width: 100%;
        height: 20px;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        white-space: nowrap;
    }

    .box-left .user .chongzhi {
        background: #ff3366;
        width: 85px;
        height: 26px;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        margin-top: 10px;

    }

    .box-left .tyongset .tit, .box-left .liveset .tit, .box-left .macset .tit, .box-left .controlset .tit {
        display: inline-block;
        width: 80px;
        height: 26px;
        font-size: 16px;
        margin-top: 15px;
        padding-left: 20px;
        text-align: right;
        background: url("/public/images/web-icon.png") no-repeat;
    }

    .box-left .tyongset .tit {
        background-position: -16px -1016px
    }

    .box-left .liveset .tit {
        background-position: -18px -731px
    }

    .box-left .macset .tit {
        background-position: -18px -661px
    }

    .box-left .controlset .tit {
        background-position: -18px -1302px
    }

    .box-left .tyongset .colsevideo {
        background: none;
        width: 83px;
        height: 27px;
        border-radius: 5px;
        color: #53986a;
        text-align: center;
        font-size: 14px;
        margin-top: 15px;
        border: 1px solid #33cc66;
    }

    .box-left .liveset .openlive, .box-left .liveset .closelive, .box-left .liveset .openmac, .box-left .macset .startmac, .box-left .macset .maccontrol, .box-left .controlset .disabledchannel {
        background: #33cc66;
        width: 85px;
        height: 27px;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }

    .box-left-mes {
        position: absolute;
        left: 170px;
        top: 10px;
        width: 320px;
    }

    .box-left-mes .shouhu, .box-left-mes .online {
        width: 320px;
        height: 385px;
        border: 1px solid #ccc;
        position: relative;
        color: #666;
        background: #fff;
    }

    .box-left-mes .shouhu .tit {
        color: #000;
        line-height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%;
        margin-left: 10px;

    }

    .wordelips {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


.box-left .macset .controldj input[type="checkbox"]{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
        top: 0px;
        left: 0px;
        background: url('/public/images/web-icon.png')no-repeat -32px -3531px;
        width: 22px;
        height: 22px;
        margin:0px;
}

.box-left .macset .controldj input.act{
    background-position: -32px -3461px;
}

.box-left .macset .controldj{
    position: absolute;
    left: 139px;
    top: 0px;
    width: 0px;
    height: 130px;
    background: #333;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-left:1px solid #333;
    text-align: center;
    overflow: hidden;
    transition:width 0.5s;
}

.box-left .macset .controldj.act{
    width: 300px;
    left: 140px;
    border-left:1px solid #666;
    transition:width 0.5s;
}



.box-left .macset .controldj i{
    position: absolute;
    right: 0px;
    top: 0px;
    width:30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background: url('/public/images/web-icon.png') no-repeat -13px -1550px;
}

.box-left .macset .controldj .item{
    position: relative;
    width: 80px;
    padding: 5px;
    top: 40px;
    display: inline-block;
    border-right:1px solid #666;
    
}

.box-left .macset .controldj .item:nth-child(2){
    display: block;
    margin:auto;
    top: 25px;
    border-right: none;
}

.box-left .macset .controldj .item:last-child{
    border-right: none;
}


.box-left .macset .controldj .item label{
    font-size: 14px;
    position: relative;
    text-align: left;
    padding-left: 26px;
}

.box-left .macset .controldj .item input:disabled{
    opacity: 0.4;
}