.view-anment {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    min-height: 600px
}

.view-anment .Atit {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 40px 0px 40px
}

.view-anment .view-anment__article {
    border: 1px solid #eee;
    text-align: center;
    margin: 20px 40px 0px 40px;
    padding: 50px 40px;
}

.view-anment .view-anment__article h2{
    font-size: 24px;
    text-align: center;
    margin-bottom:15px;
}

.view-anment .view-anment__article section {
    text-align: center;
}

.view-anment .view-anment__article_time{
    color: #999999;
    margin: 20px 0 ;
    font-size:14px;
}


.view-anment .view-anment__article_content{
    margin-top:40px;
    font-size:14px;
    word-break: break-all;
    line-height:24px;
}