<template>
  <transition-group name="move" tag="p">
    <span
      :ref="'animateChip' + index"
      class="animate-chip"
      :class="'animate-chip-' + item.coin + ' mascot-outchip-' + item.mascotIndex"
      v-for="(item, index) in chips"
      :key="index"
      v-bind:style="{ top: item.top + 'px', left: item.left + 'px' }"
      ></span>
  </transition-group>
</template>

<script>
  import {
    mapState,
    mapActions,
    mapMutations
  } from 'vuex';
 import assign from 'lodash/assign'
  import Event from 'src/utils/Event';
  import cumulativeOffset from '../../utils/cumulativeOffset';

  export default {
    data() {
      return {
        chips: [],
      }
    },
    watch: {
      gameStatus(value) {
        if (value == 0) {
          this.reset();
        }
      }
    },
    created() {
      this.$bus.on(Event.GAME_ANIMATE_CHIP_EVENT, this.animate);
    },
    beforeDestroy() {
      this.$bus.off(Event.GAME_ANIMATE_CHIP_EVENT, this.animate);
    },
    computed: {
      ...mapState([
        'selectedChip',
        'gameStatus'
      ]),
    },

    methods: {
      reset() {
        this.chips = [];
      },
      animate(data) {
        // console.log(this.selectedChip);
        // console.log(data)
        this.chips.push(assign({mascotIndex: data.mascotIndex}, this.selectedChip));
        this.$nextTick(function () {
          const ele = this.$refs['animateChip' + (this.chips.length - 1)][0];
          ele.style.left = data.left + 'px';
          ele.style.top = data.top + 'px';
        });
        // setTimeout(() => {
        // }, 10);
      },
      doBet(index) {
        if (index === 0) {
          console.log(cumulativeOffset(this.$refs.chipIcon0))
          console.log(cumulativeOffset(this.$refs.chipIcon1))
          console.log(cumulativeOffset(this.$refs.chipIcon2))
        }
      }
    },
  }

</script>

<style lang="scss" scoped>
  @import 'src/style/mixin';
  .animate-chip {
    position: absolute;
    text-align: center;
    border-radius: 50%; 
    z-index: 1;
    background-size: 100% 100%;
    transition: 0.4s linear 0s;
    width: rem(16px);
    height: rem(16px); // left: rem(107px);
    // top: rem(107px);
  }
  .animate-chip-5 {
    background-image: url(../../images/game/chip-5.png);
  }
  .animate-chip-10 {
    background-image: url(../../images/game/chip-10.png);
  }
  .animate-chip-100 {
    background-image: url(../../images/game/chip-100.png);
  }
  .animate-chip-all {
    background-image: url(../../images/game/chip-all.png);
  } 
  .move-enter {
    width: rem(30px);
    height: rem(30px);
  }
  .move-leave-to {
    display: none;
  }

</style>
