<template>
  <div class="board-wrap">
    <div class="board d-flex flex-column">
      <div class="board-close" @click="closeBoard"></div>
      <div class="board-title">{{gameBorderInfo.title}}</div>
      <div>
  <!-- http://vuejs.creative-tim.com/vue-tabs/#/ -->
        <vue-tabs class="board-tab" @tab-change="handleTabChange">
          <v-tab title="今日盈利">
            <div class="board-list-wrap" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10" infinite-scroll-immediate-check="true">
              <ul class="board-list">
                <li class="d-flex align-items-center">
                  <span>排名</span>
                  <span class="col" style="margin-left: 26px;">昵称</span>
                  <span>盈利</span>
                </li>
                <li class="d-flex align-items-center" v-for="(item, index) in list" :key="index">
                  <span class="board-order">{{index + 1}}</span>
                  <span class="board-user-header">
                    <img src="http://n.sinaimg.cn/translate/20170726/Zjd3-fyiiahz2863063.jpg" />
                  </span>
                  <span class="col board-user-name">name</span>
                  <span>33333</span>
                </li>
              </ul>
            </div>
          </v-tab>
          <v-tab title="今日胜率">
            <div class="board-list-wrap" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10" infinite-scroll-immediate-check="true">
              <ul class="board-list">
                <li class="d-flex align-items-center">
                  <span>排名</span>
                  <span class="col" style="margin-left: 26px;">昵称</span>
                  <span>盈利</span>
                </li>
                <li class="d-flex align-items-center" v-for="(item, index) in list" :key="index">
                  <span class="board-order">{{index + 1}}</span>
                  <span class="board-user-header">
                    <img src="http://n.sinaimg.cn/translate/20170726/Zjd3-fyiiahz2863063.jpg" />
                  </span>
                  <span class="col board-user-name">name</span>
                  <span>33333</span>
                </li>
              </ul>
            </div>
          </v-tab>
        </vue-tabs>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions, mapMutations } from 'vuex';
  import { getGameBoardList } from '../../utils/getData';
  export default {
    data() {
      return {
        list: [],
        busy: false,
        pageNo: 1,
      }
    },
    computed: {
      ...mapState([
        'gameBorderInfo'
      ]),
    },
    watch: {

    },
    mounted() {
      this.handleTabChange(this.gameBorderInfo.type)
    },
    methods: {
      ...mapMutations({
        updateGameBorderInfo: 'UPDATE_GAME_BORDER_INFO'
      }),
      closeBoard() {
        this.updateGameBorderInfo({
          isActive: false
        })
      },
      handleTabChange(tabIndex, newTab, oldTab) {
        if (tabIndex === 0) {
          this.boardList(1);
        } else if (tabIndex === 1) {
          this.boardList(1);
        }
      },
      async boardList(pageNo) {
        if (pageNo == 1) {
          this.prize = [];
          this.busy = false;
        }
        let res = await getGameBoardList(pageNo, 10);
        console.log(res)
        if (res.response && res.response.items && res.response.items.length > 0) {
          this.list = this.list.concat(res.response.items);
        }
      },
      async loadMore() {
        this.busy = true;
        try {
          await this.boardList( this.pageNo++);
          this.busy = false;
        } catch (e) {
          this.busy = false;
        }
      },

    }
  }

</script>

<style lang="scss">
  .board-tab {
    .tab {
      width: 50%;
      float: left;
      height: 24px;
      text-align: center;

      a {
        display: inline-block;
        height: 24px;
        &:hover {
          color: #333;
          text-decoration: none;
        }
      }
    }

    .tab.active {
      a {
        color: #ff3365;
        border-bottom: 2px solid #ff3365;
      }
    }
  }

</style>


<style lang="scss" scoped>
  .board-wrap {
    font-size: 12px;
    width: 236px;
    height: 375px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 105px;
    left: 16px;
    z-index: 11;
  }

  .board-close {
    width: 24px;
    height: 24px;
    background-image: url(../../images/game/board-close.png);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .board {
    width: 100%;
    height: 375px;
    position: relative;
    &-title {
      text-align: center;
      margin: 0 auto;
      color: #000000;
      font-size: 14px;
      margin: 10px auto;
    }

    &-list-wrap {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 68px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-list {
      padding: 5px 15px 0px;

      .board-order {
        margin-right: 5px;
        text-align: center;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 16px;
        font-size: 12px;
      }

      .board-user-header {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        margin: 0 7px 0 2px; // border: solid 1px #ff3365;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .board-user-name {
        margin-left: 0px;
      }


      li {
        margin-bottom: 10px;

        &:nth-child(1) {
          color: #999999;
        }

        .board-order {
          color: #bbbbbb;
        }

        &:nth-child(2) .board-order {
          background-image: linear-gradient(0deg, #ffaa00 0%, rgba(255, 213, 0, 0.99) 100%);
          box-shadow: 0px 2px 6px 0px rgba(255, 179, 0, 0.4);
          color: #ffffff;
        }
        &:nth-child(3) .board-order {
          background-image: linear-gradient(180deg, #bcc1cc 0%, rgba(218, 221, 227, 0.99) 100%);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
          color: #ffffff;
        }
        &:nth-child(4) .board-order {
          background-image: linear-gradient(180deg, #ff9a57 0%, rgba(255, 187, 128, 0.99) 100%);
          box-shadow: 0px 2px 6px 0px rgba(255, 154, 87, 0.4);
          color: #ffffff;
        }

      }
    }

  }

</style>
