<template>
  <div class="party-chip d-flex align-items-center">
    <div class="party-money">
      2000
    </div>
    <div class="col party-office-number">
      <span v-show="deskNumber">桌号：{{deskNumber}}&nbsp;&nbsp;</span>
      <span v-show="bureauNumber ">局号: {{bureauNumber}}</span>
    </div>
    <div>
      <ul class="chip" ref="chip">
        <li v-for="(item, index) in chips" :key="index" v-bind:class="{active: item.active, disabled: item.disabled}" @click="chooseChip(item, $event)"></li>
      </ul>
    </div>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions,
    mapMutations
  } from 'vuex';
   import cumulativeOffset from '../../utils/cumulativeOffset';
   import assign from 'lodash/assign'
  export default {
    data() {
      return {
        chips: [{
            coin: 5,
            active: false,
            disabled: false,
          },
          {
            coin: 10,
            active: false,
            disabled: false,
          },
          {
            coin: 100,
            active: false,
            disabled: false,
          },
          {
            coin: 'all',
            active: false,
            disabled: false,
          }
        ],
      }
    },

    mounted() {
       // modify data
      // this.message = 'changed'
      // DOM is not updated yet
      // this.$nextTick(function () {
        // DOM is now updated
        // `this` is bound to the current instance
        // this.doSomethingElse()
      // });
      setTimeout(() => {
        this.$refs.chip.children[0].click()
      }, 1000)
    },
    watch: {},
     props: ['deskNumber', 'bureauNumber'],
    created() {},
    beforeDestroy() {},
    components: {},
    mixins: [],
    computed: {},
    methods: {
      ...mapMutations({
        updateGameSelectedChip: 'UPDATE_GAME_SELECTED_CHIP',
      }),
      chooseChip(item, event) {
        if (item.disabled) return;
        this.chips.forEach((v,i) => {
          if(v==item) {
            v.active = true;
          } else {
            v.active = false
          }
        });
        this.updateGameSelectedChip(assign({}, item, cumulativeOffset(event.target)))
      }
    },
  }

</script>

<style lang="scss" scoped>
  @import 'src/style/mixin';
  .party-chip {
    position: absolute;
    z-index: 2;
    bottom: rem(2px);
    left: rem(5px);
    right: rem(5px);
    color: #ffffff;
  }
  .party-money {
    font-size: rem(14px);
    height: rem(24px);
    line-height: rem(24px);
    margin-right: rem(40px);
    &::before {
      float: left;
      background-image: url(../../images/game/play.png);
      background-size: rem(114px 124px);
      // display: inline-block;
      content: '';
      height: rem(24px);
      width: rem(24px);
      background-position: rem(-26px 0);
      margin-right: rem(4px);
    }
  }
  .party-office-number {
    font-size: rem(11px);
  }
  .chip {
    float: right;
    margin: 0 rem(12px) rem(10px) 0;
  }

  .chip {
    li {
      float: left;
      position: relative;
      width: rem(30px);
      height: rem(30px);
      margin-left: rem(8px);
      text-align: center;
      border-radius: 50%; // font-weight: 700;
      cursor: pointer;
      transition: all .2s;
       background-size: 100% 100%;
    }

    li:nth-child(1) {
      background-image: url(../../images/game/chip-5.png); // background-position: rem(-58px 0);
    }
    li:nth-child(2) {
      background-image: url(../../images/game/chip-10.png); // background-position: rem(-28px 0);
    }
    li:nth-child(3) {
      // background-position: rem(-30px -54px);
      background-image: url(../../images/game/chip-100.png);
    }
    li:nth-child(4) {
      // background-position: rem(0 -54px);
      background-image: url(../../images/game/chip-all.png);
    }

    li.active {
      cursor: default;
    }

    li:hover {
      -webkit-transform: scale(.9);
      transform: scale(.9);
    }

    li.active:nth-child(1),
    li.hover:nth-child(1),
      {
      box-shadow: 0px 0px 6px 3px #04B9FE;
      animation: AFglow1 1s linear alternate infinite;
    }
    li.active:nth-child(2),
    li.hover:nth-child(2) {
      box-shadow: 0px 0px 6px 3px #81D424;
      animation: AFglow2 1s linear alternate infinite;
    }
    li.active:nth-child(3),
    li.hover:nth-child(3) {
      box-shadow: 0px 0px 6px 3px #DF1814;
      animation: AFglow3 1s linear alternate infinite;
    }
    li.active:nth-child(4),
    li.hover:nth-child(4) {
      box-shadow: 0px 0px 6px 3px #82827E;
      animation: AFglow4 1s linear alternate infinite;
    }


    li.disable {
      pointer-events: none;
      box-shadow: none;
      transform: none;
      cursor: not-allowed;
    }
  }



  @keyframes AFglow1 {
    from {
      box-shadow: 0px 0px 6px 3px #00B8FF;
    }
    to {
      box-shadow: 0px 0px 12px 4px #21C0FE;
    }
  }


  @keyframes AFglow2 {
    from {
      box-shadow: 0px 0px 6px 3px #7ED321;
    }
    to {
      box-shadow: 0px 0px 12px 4px #8AD734;
    }
  }



  @keyframes AFglow3 {
    from {
      box-shadow: 0px 0px 6px 3px #DF1814;
    }
    to {
      box-shadow: 0px 0px 12px 4px #E6433F;
    }
  }

  @keyframes AFglow4 {
    from {
      box-shadow: 0px 0px 6px 3px #868680;
    }
    to {
      box-shadow: 0px 0px 12px 4px #8E8E89;
    }
  }

</style>
