<template>
  <transition name="flip">
    <div class="countdown">{{second}}</div>
  </transition>
</template>
<script>
  import {
    mapState,
    mapActions,
    mapMutations
  } from 'vuex';
  export default {
    data() {
      return {
        interval: null,
        second: this.leftseconds,
        completed: false
      }
    },
    props: {
      leftseconds: {
        type: Number,
        required: true
      },
    },
    computed: {
      ...mapState([
        'gameStatus'
      ]),
    },
    mounted() {
      // if (this.activity.status == 9) {
        // this.completed = true;
        // this.second = 0;
        // this.$emit('onComplete');
      // } else {
        this.interval = setInterval(this.tick, 1000)
      // }
    },
    methods: {
      tick() {
        if (this.second <= 0) {
          clearInterval(this.interval);
          this.completed = true;
          this.$emit('onComplete');
        } else {
          this.second -= 1;
          this.$emit('onTick', this.second);
        }
      },
    }
  }

</script>

<style lang="scss" scoped>
    @import 'src/style/mixin';
  .countdown {
    color: #b61d00;
    background-image: url(../../images/game/countdown.png);
    background-size: 100% 100%;
    // position: absolute;
    // left: 50%;
    // bottom: rem(250px);
    // bottom: rem(165px);
    width: rem(73px);
    height: rem(67px);
    // margin-left: rem(-36.5px);
    line-height: rem(67px);
    font-size: rem(30px);
    font-weight: 700;
    text-align: center;
    color: #fff;

    opacity: 1;
    z-index: 2;
    // transition: all .6s linear 0s;
     transition: all 0.6s ;
    transform: scaleX(1);
  }

  .flip-enter-active, .flip-leave-active  {
    transform: scaleX(-1);
     opacity: 0;
    z-index: -1;
  }

</style>
