<template>
  <div></div>
</template>

<script>
// var  wsServer = 'ws://localhost:8888/Demo'; 
// var  websocket = new WebSocket(wsServer); 
// websocket.onopen = function (evt) { onOpen(evt) }; 
// websocket.onclose = function (evt) { onClose(evt) }; 
// websocket.onmessage = function (evt) { onMessage(evt) }; 
// websocket.onerror = function (evt) { onError(evt) }; 
// function onOpen(evt) { 
// console.log("Connected to WebSocket server."); 
// } 
// function onClose(evt) { 
// console.log("Disconnected"); 
// } 
// function onMessage(evt) { 
// console.log('Retrieved data from server: ' + evt.data); 
// } 
// function onError(evt) { 
// console.log('Error occured: ' + evt.data); 
// }
  import Event from 'src/utils/Event';
  import {
    mapState,
    mapActions,
    mapMutations
  } from 'vuex';

  export default {
    data() {
      return {
        socket: window.socket
      }
    },
    created() {
      this.$bus.on(Event.EMIT_EVENT, this.emitEvent);
    },
    beforeDestroy() {
      this.$bus.off(Event.EMIT_EVENT, this.emitEvent);
    },
    mounted() {
      this.socket.on('activityListen', (msg) => {
        switch (msg._method_) {
          case "next":
            this.$bus.emit(Event.ACTIVITY_NEXT_EVENT, msg);
            break;
          case "result":
          case "end":
            this.$bus.emit(Event.ACTIVITY_RESULT_EVENT, msg);
            break;

          /********** 游戏 ***********/
          // 游戏活动发布(后台发布时发出)
          case "activityPublish":
            this.SET_GAME_INFO(msg.ct);
            break;
          // 游戏开始（发牌器录入桌号、局号后发出）
          case "activityStart":
             this.$bus.emit(Event.GAME_EVENT, msg);
            break;
        }
      });

    },
    methods: {
      ...mapMutations([
        'SET_GAME_INFO'
      ]),
      emitEvent(msg) {
        this.socket.emit('activity', JSON.stringify(msg));

        // switch(msg._method_) {
        //   case "next":
        //     this.$bus.emit(Event.ACTIVITY_NEXT_EVENT, msg);
        //   break;
        //   case "result":
        //     this.$bus.emit(Event.ACTIVITY_RESULT_EVENT, msg);
        //   break;
        // }

      }
    }
  }

</script>
