<template>
  <div class="group d-flex align-items-center">
    <div class="mascot col" v-for="(item, index) in betInfo" :key="index" @click="doBet(index, $event)">
      <div class="graph">
        <div class="graph-img"></div>
      </div>
      <div class="chip-box">
        <div class="chip-people">{{item.people}}</div>
        <div class="chip-sum">{{item.total}}</div>
        <div class="chip-money d-flex align-items-center">
          <em :ref="'chipIcon' + index"></em>
          <span>{{item.ownTotal}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions,
    mapMutations
  } from 'vuex';
  import Event from 'src/utils/Event';
  import assign from 'lodash/assign'
  import cumulativeOffset from '../../utils/cumulativeOffset';

  const betInfo = [{
      people: 0,
      total: 0,
      ownTotal: null
    },
    {
      people: 0,
      total: 0,
      ownTotal: null
    },
    {
      people: 0,
      total: 0,
      ownTotal: null
    }
  ];

  export default {
    data() {
      return {
        betInfo: [...betInfo]
      }
    },
    created() {
      this.$bus.on(Event.GAME_BET_EVENT, this.bet);
    },
    beforeDestroy() {
      this.$bus.off(Event.GAME_BET_EVENT, this.bet);
    },
    watch: {
      gameStatus(value) {
        if (value == 0) {
          this.reset();
        }
      }
    },
    computed: {
      ...mapState([
        'gameStatus',
        'selectedChip',
      ]),
    },
    methods: {
      reset() {
        this.betInfo = [...betInfo];
      },
      doBet(index) {
        if (this.gameStatus != 1) return;
        this.$bus.emit(Event.GAME_ANIMATE_CHIP_EVENT, assign({
          mascotIndex: index
        }, cumulativeOffset(this.$refs['chipIcon' + index][0])));
        this.bet({
          index,
          people: 1,
          icon: this.selectedChip.coin,
          total: this.selectedChip.coin
        })
      },
      bet(data) {
        const index = data.index;
        const newVal = { ...this.betInfo[index]
        };
        newVal.people += data.people;
        newVal.total += data.total;
        newVal.ownTotal = (newVal.ownTotal || 0) + parseFloat(data.icon);
        this.$set(this.betInfo, index, newVal); //或者是用vm.$set
      }
    },
  }

</script>

<style lang="scss" scoped>
  @import 'src/style/mixin';
  .group {
    position: absolute;
    width: 100%;
    bottom: rem(55px);
  }

  .mascot {
    height: rem(140px);
    position: relative;
    z-index: 1;
    bottom: 0;
    cursor: pointer;
  }


  .graph {
    left: rem(20px);
    z-index: 2;
    display: block;
    position: absolute;
    bottom: 0;
    width: rem(140px);
    height: rem(140px);
    content: "";
    transform-origin: left bottom;
    transition-duration: 500ms;

    .graph-img {
      width: 100%;
      height: 100%;
      background-image: url(../../images/game/mascot.png);
      background-size: rem(435px 140px);
      animation: AFmascot 1s linear alternate infinite;
      transform-origin: left bottom;
    }


  }

  .mascot:nth-child(1) .graph-img {
    background-position: rem(-145px) 0;
  }

  .mascot:nth-child(2) .graph-img {
    background-position: rem(-290px) 0;
  }

  .mascot:nth-child(3) .graph-img {
    background-position: 0 0;
  }

  .chip-box {
    background-image: url(../../images/game/clipshow.png);
    position: absolute;
    bottom: 0;
    // right: rem(20px);
    left: rem(100px);
    width: rem(68px);
    height: rem(90px);
    text-align: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: scale(0);
    transition: all .5s ease .6s;
  }

  .chip-people:before,
  .chip-sum:before,
  .chip-money em {
    background: url(../../images/game/play.png);
    background-size: rem(114px 124px);
  }

  .chip-people {
    font-size: rem(13px);
    color: #7f0518;
    margin: rem(11px) 0 rem(1px) rem(10px);
    &:before {

      display: inline-block;
      content: '';
      width: rem(12px);
      height: rem(12px);
      background-position: 0 0;
      position: relative;
      top: rem(1px);
      margin-right: rem(4px);
    }
  }

  .chip-sum {
    font-size: rem(13px);
    color: #ff6a48;
    margin: 0 0 0 rem(9px);
    &:before {
      display: inline-block;
      content: '';
      width: rem(14px);
      height: rem(14px);
      background-position: rem(-12px 0);
      position: relative;
      top: rem(2px);
      margin-right: rem(3px);
    }
  }

  .chip-money {
    margin: rem(12px) 0 0 rem(8px);
    em {
      width: rem(16px);
      height: rem(16px);
      background-position: rem(-26px -30px);
      margin-right: rem(2px);
      visibility: hidden;
    }

    span {
      color: #ffffff;
      font-size: rem(13px);
      min-height: rem(19px);
    }
  }


  .in .graph {
    transform: scale(.58);

    .graph-img {
      animation: AFmascot 1s linear alternate infinite 400ms;
    }


  }


  .in .chip-box {
    display: block;
    transform: scale(1);
  }

  @keyframes AFmascot {
    from {
      transform: scaleY(.95);
    }
    to {}
  }

  @keyframes AFmascot_in {
    from {
      transform: scale(.58, .53);
    }
    to {}
  }

</style>
