<template>
  <div>
    <div class="group clearfix">
      <div class="poker poker-left">
        <ul class="" id="jPokerLeft">
          <transition name="move-to-left">
            <li v-show="gameStatus>=4" class="third-poker" :data-flower="pockCai[2].flower" :data-pip="pockCai[2].pip"></li>
          </transition>
          <li class="second-poker" :data-flower="pockCai[1].flower" :data-pip="pockCai[1].pip"></li>
          <li class="first-poker" :data-flower="pockCai[0].flower" :data-pip="pockCai[0].pip"></li>
        </ul>
      </div>
      <div class="poker poker-right">
        <ul class="pocker-list pocker-list-right" id="jPokerRight">
          <li class="first-poker" :data-flower="pockBao[0].flower" :data-pip="pockBao[0].pip"></li>
          <li class="second-poker" :data-flower="pockBao[1].flower" :data-pip="pockBao[1].pip"></li>
          <transition name="move-to-right">
            <li v-show="gameStatus>=4" class="third-poker" :data-flower="pockBao[2].flower" :data-pip="pockBao[2].pip"></li>
          </transition>
        </ul>
      </div>
    </div>
    <div>
      <div class="game-cai-win"></div>
      <div class="game-shan-win"></div>
      <div class="game-bao-win"></div>
    </div>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions,
    mapMutations
  } from 'vuex';
  import {} from '../../utils/getData';

  const pockCai = [{
      flower: '0',
      pip: null
    },
    {
      flower: '0',
      pip: null
    },
    {
      flower: '0',
      pip: null
    }
  ];
  const pockBao = [{
      flower: '0',
      pip: null
    },
    {
      flower: '0',
      pip: null
    },
    {
      flower: '0',
      pip: null
    }
  ]
  export default {
    data() {
      return {
        pockCai,
        pockBao
      }
    },
    mounted() {},
    created() {},
    beforeDestroy() {},
    components: {},
    mixins: [],
    computed: {
      ...mapState([
        'selectedChip',
        'gameStatus'
      ]),
    },
    watch: {
      // currentTime: function (val, oldval) {
      //   this.gogogo();
      // },
      gameStatus(value) {
        if (value == 0) {
          this.reset();
        } else if (value == 3) {
          this.facePock();
        }
      }
    },
    methods: {
      reset() {
        this.pockCai = pockCai;
        this.pockBao = pockBao;
      },
      // 摊牌
      facePock() {
        this.pockCai = [{
            flower: 'fang',
            pip: '1'
          },
          {
            flower: 'hong',
            pip: '2'
          },
          {
            flower: 'mei',
            pip: '3'
          },
        ];
        this.pockBao = [{
            flower: 'mei',
            pip: 'J'
          },
          {
            flower: 'hei',
            pip: 'Q'
          },
          {
            flower: 'hong',
            pip: 'K'
          },
        ];
      }
    },
  }

</script>

<style lang="scss" scoped>
  @import 'src/style/mixin';
  .group {
    position: absolute;
    width: 100%;
    height: rem(72px);
    bottom: rem(161px);
  }


  .move-to-left-enter,
  .move-to-left-leave-to {
    left: rem(-200px) !important;
  }

  .move-to-right-enter,
  .move-to-right-leave-to {
    right: rem(-200px) !important;
  }

  .poker {
    position: absolute;
    z-index: 1;
    display: block; // border-radius: 5px;
    opacity: 0;
    transition: all .4s linear 900ms;


    &:nth-child(1) {
      left: rem(-100px);
      margin-left: rem(-165px);

      .third-poker {
        position: absolute; // left: rem(-200px);
        // left: rem(-75px);
        left: rem(-75px);
        transform: rotate(-90deg) translatez(0) scale(1.0, 1.0);
        transform-origin: 50% 51%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: left .4s linear 0s; // -o-transition: width .3s ease 1s;
      }

    }

    &:last-child {
      right: rem(-100px);
      margin-right: rem(-165px);

      .third-poker {
        position: absolute; // right: rem(-200px);
        right: rem(-75px);
        -webkit-transform: rotate(90deg) translatez(0) scale(1.0, 1.0);
        transform: rotate(90deg) translatez(0) scale(1.0, 1.0);
        -webkit-transform-origin: 50% 51%;
        transform-origin: 50% 51%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: right .4s linear 0s; // -o-transition: width .3s ease 1s;
      }
    }


    li {
      float: left;
      position: relative; // width: 0;
      overflow: hidden;
      height: rem(72px); // margin-right: -22px;
      background-repeat: no-repeat; // -webkit-transition: width .3s ease 1s;
      // transition: left .4s linear 0s; // -o-transition: width .3s ease 1s;
      width: rem(52px);
    }

    li[data-pip]:before {
      position: absolute;
      left: rem(6px);
      top: rem(-2px); // font: rem(16px) arial #37252e;
      font-weight: 700;
      font-size: rem(22px);
      font-family: arial;
      color: #37252e;
      content: attr(data-pip);
    }

    li[data-flower] {
      background-image: url(../../images/game/poker.png);
      background-size: rem(228px 72px);
    }

    li[data-flower="0"] {
      background-image: url(../../images/game/poker-back.png);
      background-size: 100% 100%;
    }

    li[data-flower="fang"] {
      background-position: 0 0;
    }
    li[data-flower="hong"] {
      background-position: rem(-57px) 0;
    }
    li[data-flower="fang"]:before,
    li[data-flower="hong"]:before {
      color: #E70010;
    }
    li[data-flower="mei"] {
      background-position: rem(-114px) 0;
    }
    li[data-flower="hei"] {
      background-position: rem(-171px) 0;
    }

  }



  .in .poker {
    opacity: 1;

    &:nth-child(1) {
      left: 50%;
    }

    &:last-child {
      right: 50%;
    }

  } // .poker-left.more {
  //   .third-poker {
  //     left: rem(-75px);
  //   }
  // }
  // .poker-right.more {
  //   .third-poker {
  //     right: rem(-75px);
  //   }
  // }
  .poker-left {
    .second-poker {
      margin-right: rem(15px);
    }
  }



  .poker-right {
    .second-poker {
      margin-left: rem(15px);
    }
  }

  .game-cai-win,
  .game-bao-win,
  .game-shan-win {
    background: url(../../images/game/play.png) no-repeat;
    background-size: rem(114px 124px);
    height: rem(32px);
    width: rem(114px);
    position: absolute;
    z-index: 2;
    display: none;
  }

  .game-cai-win {
    background-position: rem(0 -60px);
    bottom: rem(160px);
    left: 50%;
    margin-left: rem(-163px)
  }

  .game-bao-win {
    background-position: rem(0 -92px);
    bottom: rem(160px);
    right: 50%;
    margin-right: rem(-163px)
  }

  .game-shan-win {
    bottom: rem(132px);
    left: 33.3333333333%;
     margin-left: rem(78px);
    background-position: rem(0 -28px);
  }

</style>
