<template>
  <transition name="enlarge">
    <div v-if="promptActive" class="prompt">{{promptText}}</div>
  </transition>
</template>

<script>
  export default {
    data() {
      return {}
    },
    mounted() {
    },
    watch: {
        promptActive(value) {
          if(value == true) {
            setTimeout(() => {
              this.$emit('closePrompt');
            }, 1400)
          }
        }
    },
    props: ['promptText', 'promptActive'],
  }

</script>

<style lang="scss" scoped>
  .prompt {
    color: #ffffff;
    position: absolute;
    z-index: 5;
    top: 45%;
    left: 10px;
    right: 10px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    background: -webkit-linear-gradient(to right, transparent 0%, #000 50%, transparent 100%);
    background: linear-gradient(to right, transparent 0%, #000 50%, transparent 100%);
  }

  .enlarge-enter-active {
    animation: AFpromptShow 3s ease;
  }

  @keyframes AFpromptShow {
    0% {
      opacity: 1;
      transform: scale(0, 0);
    }
    20% {
      transform: scale(1, 1)
    }
    99% {
      opacity: 1;
      transform: scale(1, 1)
    }
    100% {
      opacity: 0;
      transform: scale(0, 0);
    }
  }


</style>
