<template>
<div class="game-top clearfix">
  <div class="game-top-left">
    <a class="game-day-poster" href="javascript:void(0)" @click="openBoard(0)">日榜</a>
    <a class="game-current-poster" href="javascript:void(0)" @click="openBoard(1)">本场</a>
  </div>
  <div class="game-top-right">
  </div>
</div>
</template>
<script>
  import {
    mapState,
    mapActions,
    mapMutations
  } from 'vuex';
  export default {
    data() {
      return {
      
      }
    },
    computed: {
      ...mapState([
        'gameBorderInfo'
      ]),
    },
    methods: {
      ...mapMutations({
        updateGameBorderInfo: 'UPDATE_GAME_BORDER_INFO'
      }),
      openBoard(type) {
        let title = '';
        if (type == 0) {
          title = '日榜'
        }  else if(type == 1) {
          title = '本场'
        }
        if (type === this.gameBorderInfo.type) {
          this.updateGameBorderInfo({ isActive: !this.gameBorderInfo.isActive})
        } else {
          if(this.gameBorderInfo.isActive == false) {
            this.updateGameBorderInfo({ type, title, isActive: true })
          } else {
            this.updateGameBorderInfo({ isActive: false })
            setTimeout(() => {
              this.updateGameBorderInfo({ type, title, isActive: true })
            }, 0)
          }
        }
      }
    }
  }

</script>

<style lang="scss" scoped>
    @import 'src/style/mixin';
    .game-top {
      position: absolute;
      top: rem(10px);
      left: 0;
      right: 0;
      z-index: 1;
      .game-top-left {
        float: left;
        // margin-top: rem(10px);

        a {
          width: rem(40px);
          height: rem(28px);
          line-height: rem(28px);
          text-align: center;
          border-radius: rem(6px);
          margin-left: rem(10px);
          color: #ffffff;
          display: inline-block;
        }

        a:hover {
          text-decoration: none;
        }

        a:first-child {
          background-color: #299535;
        }
        a:last-child {
          background-color: #03a5e1;
        }
      }
      .game-top-right {
        background: url(../../images/game/play.png) no-repeat;
        background-size: rem(114px 124px);
        background-position: rem(-50px 0);
        float: right;
        height: rem(28px);
        width: rem(28px);
        margin-right: 10px;
      }
    }
</style>
