﻿<admintpl file="header"/>
<style>
 .controls img{
     max-width:200px;
 }
</style>
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:U('indexadmin/index')}">本站会员</a></li>
			<li class="active"><a >新增会员</a></li>
			<!-- <li ><a href="{:U('indexadmin/importuser')}">批量导入</a></li> -->
		</ul>
		<form class="form-horizontal js-ajax-forms" action="{:U('indexadmin/add_post')}" method="post">
			<fieldset>
				<div class="control-group">
					<label class="control-label">手机号</label>
					<div class="controls">
						<input type="text" name="user_login" value="{$userinfo['user_login']}" id="user_login" />
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">密码</label>
					<div class="controls">
						<input type="password" name="user_pass" value="{$userinfo['user_pass']}" id="user_pass" />
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">昵称</label>
					<div class="controls">
						<input type="text" name="user_nicename" value="{$userinfo['user_nicename']}" id="user_nicename"/>
						<span class="form-required">*</span>
					</div>
				</div>

		
				<div class="control-group">
					<label class="control-label">头像/封面</label>
					<div class="controls">
								<div >
									<input type="hidden" name="avatar" id="thumb" value="{$userinfo['avatar']}">
									<a href="javascript:void(0);" onclick="flashupload('thumb_images', '附件上传','thumb',thumb_images,'1,jpg|jpeg|gif|png|bmp,1,,,1','','','');return false;">
									  <if condition="$userinfo['avatar'] neq ''">
												<img src="{$userinfo['avatar']}" id="thumb_preview" width="135" style="cursor: hand" />
										<else/>
										    <img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb_preview" width="135" style="cursor: hand" />
										</if>
									</a>
									<input type="button" class="btn btn-small" onclick="$('#thumb_preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">
								</div>
						<span class="form-required"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">性别</label>
					<div class="controls">
						<label class="radio inline" for="sex_1"><input type="radio" name="sex" value="1" id="sex_1" <if condition="$userinfo['sex'] eq '1'">checked</if> />男</label>
						<label class="radio inline" for="sex_2"><input type="radio" name="sex" value="2" id="sex_2" <if condition="$userinfo['sex'] eq '2'">checked</if> >女</label>
					</div>
				</div>								
				
				<div class="control-group">
					<label class="control-label">个性签名</label>
					<div class="controls">
						<textarea name="signature" rows="2" cols="20" id="signature" class="inputtext" style="height: 100px; width: 500px;">{$userinfo['signature']}</textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{:L('STATUS')}</label>
					<div class="controls">
						<label class="radio inline" for="active_true"><input type="radio" name="status" value="1" checked id="active_true" />{:L('ENABLED')}</label>
						<label class="radio inline" for="active_false"><input type="radio" name="status" value="0" id="active_false">{:L('DISABLED')}</label>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">添加</button>
				<a class="btn" href="javascript:history.go(-1);">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
</body>
</html>