/* hx聊天界面改版 noah.g*/
.hxChatWindow {
    width: 800px;
    height: 528px;
    border: none;
    border-color: rgba(0, 0, 0, .05);
    -webkit-background-clip: content;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
#searchFriend{
    background: #5FB878;
    color: #fff;
    width: 50px;  
}
.Chatcontent {
    height: 100%;
    width: 100%;
    /* border: 1px solid #D9D9D9; */
}
.leftcontact {
    width: 25%;
    height: 100%;
    border-radius: 0;
    background-color: #D9D9D9;
}
.leftheader{
    background-color: inherit;
    padding-top: 12px;
    height: 68px;
}
.searchUser{
    margin: 5px;
    background-color: initial;
}
.chatUserName{
    margin-top: 12px;
}
#contractlist11{
    height: 347px!important;
}
#momogrouplistUL li{
    margin: 5px;
}
#momogrouplistUL li.act, #leftmiddle li.act{
    background: #F3F3F3;
    border-radius: 3px;
    margin: 5px;
    width: 190px;
    height: 50px;
}
#momogrouplistUL li.act span, #leftmiddle li.act span{
    margin-top: 12px;
    color: #333;
}
#momogrouplistUL li img{
    margin-top: 8px;
}
.searchUser img{
    margin-top: 3px;
}

.chatRight {
    float: left;
    width: 75%;
}

#chat01 {
    height: 365px;
    width: auto;
}

.chat01_title {
    position: relative;
    box-sizing: content-box;
    /* padding: 0 80px 0 20px; */
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
    height: 80px;
    border-bottom: none;
    background-color: #F8F8F8;
    background-color: rgba(245, 245, 245, .7);
    cursor: move;
}

.chat01_content{
    overflow: auto;
    width: 97%;
    height: 265px;
    padding: 10px;   
}
.chat02 {
    border-top: 1px solid #f1f1f1;
    height: 135px;
}

.chat02_content {
    height: 85%;
    margin: 10px;
    margin-bottom: 0;
}

.chat02_bar li {
    right: 12px;
    bottom: 6px;
    line-height: 32px;
    margin-left: 5px;
    padding: 0 20px;
    background-color: #5FB878;
    color: #fff;
    border-radius: 3px;
}

.chat02_content textarea{
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 14px;
}
.chat-content-p3{
    position: relative;
    line-height: 22px;
    margin-top: 25px;
    padding: 8px 15px;
    background-color: #e2e2e2;
    border-radius: 3px;
    color: #333;
    margin-left: 0;
    text-align: left;
    color: #333;
}

.chat-content-p3.minemsg { 
    background-color: #5FB878;
    color: #fff;
}