body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
ul, dl, ol {list-style: none;}
img, fieldset, input[type="submit"] { border: 0 none; }
img { display: inline-block; overflow: hidden; vertical-align: top; }
em { font-style: normal; }
table { border-collapse: collapse; border-spacing: 0; }
button, input[type="button"] { cursor: pointer; border: 0 none; }
menu { margin: 0; padding: 0; }
input[type="number"] { -webkit-user-select: text; }
a, button, input, img { -webkit-touch-callout: none; }
input, select, textarea { outline: none; }
html, body { height: 100%; }
a { text-decoration: none; }
html { font-size: 62.5%; }
body { font-size: 1.3rem; line-height: 1.5; background: #fff; color: #666; -webkit-user-select: none; -webkit-text-size-adjust: none!important; font-family: "Microsoft YaHei", STHeiti, Droid Sans Fallback; }
header { }
header img { vertical-align:middle; width:100%; }



body
{
	margin:0px
}
.img-sfz
{
	width: 30%;
	margin-left: 3.5%;
	height:100px;
}
.title1
{
	color: #526165;
	font-size: 1.4em;
	text-align: center;
	margin-top: 20%
}
.title2 {
	color: #939FA3;
	font-size: 1em;
	text-align: center;
	margin-top: 4%;
}

.btn {
	color: #fff;
	background-color: #00D8C9;
	width: 74%;
	margin: 20% 13% -23%;
	height: 46px;
	line-height: 46px;
	font-size: 1.1em;
	text-align: center;
	border-radius: 55px;
}
.title3 {
	color: #939FA3;
	font-size: 0.9em;
	text-align: center;
}

.title4 {
	color: #939FA3;
	font-size: 0.9em;
	text-align: center;
	margin-top: 15%
}
.top-title
{
	width:100%;
	background-color:#FF7579;
	height:40px;
	display:block;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.top-title a
{
	color:#5a2929
}
.apply_form .term
{
	margin-top:10px;
}
.apply_form .form_input
{
	width: 67%;
	height: 40px;
	color:#49565A;
	font-size: 1em;
	border:none;
	outline:none;
	margin-left: 2.5%;
	border-style:solid;
	border-width:1px;
	border-color:#9EA1A3
}
.apply_form .sf2
{
	float:left;
	margin-top:10px;
}
.apply_form .form_textarea
{
	width: 66.5%;
	height: 40px;
	color:#49565A;
	font-size: 1.2em;
	border:none;
	outline:none;
	margin-left: 3.5%;
	border-style:solid;
	border-width:1px;
	border-color:#9EA1A3
}
.apply_form .form_span
{
	color: #9EA1A3;
	padding-left: 7%;
}
.button
{
	outline: none;
	border: none;	
  background-color: #6ee5de;
  width: 50%;
  display: block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 8px 8px 8px 8px;
  margin-top: 40px;
	margin-bottom: 40px;
  margin-left: 27%;
}

/* tab样式 */
.tabColumn li{

	float: left;
	width: 33.3%;
	height: 30px;
	line-height: 30px;
	text-align: center;

}

.tabColumn li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
}

.tabCurrent{
	background:#F14E94;
}

.tabColumn li.tabCurrent a{
	color: #FFF;
}



/*家族列表*/
.area {
	
}

.area ul {
	width: 96%;
	margin: 0rem auto;
	border-top: .1rem solid #dadada;
	height:80%;
	overflow:auto
}

.area ul li {
	border-bottom: .1rem solid #dadada;
	height: 25px;
	line-height: 25px;
	padding: .5rem 0rem;
	width: 100%;
	background-size: 7%;
	position: relative;
}

.modifyBtn,.fengBtn{
	-webkit-appearance:none;/*取消苹果默认样式*/
	width: 50px;
	height: 30px;
	border-radius: 5px;
	background: #2FE277;
	color: #FFF;
	outline: none;
}
/*.area ul li.spe dt a{ padding:0rem; top: .3rem; }*/
.song .aspe {
	left: 50%;
	margin-left: -3.2rem;
}

.song b {
	width: auto;
	height: 1.6rem;
	line-height: 1.6rem;
	font-size: 1.2rem;
	color: #fff;
	background: #F00;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: 2rem;
	border-radius: 1rem;
	padding: 0rem .3rem;
	text-align: center;
	z-index: 10
}

.area ul li dl {
	position: relative;
}

.area ul li dt {
	position: relative;
}
.area ul li dt .homegopay{
	display: block;
	width: 6.4rem;
	text-align: center;
	font-size: 1.4rem;
	color: #f14e94;
	border-radius: .4rem;
	text-decoration: none;
	position: absolute;
	right: 1rem;
	top: .6rem;
	padding: .4rem 0rem;
}
.area ul li dt .homelog{
	display: block;
	width: 6.4rem;
	text-align: center;
	font-size: 1.4rem;
	color: #f14e94;
	border-radius: .4rem;
	text-decoration: none;
	position: absolute;
	right: 1rem;
	padding: .4rem 0rem;
}
.area ul li dt .goPay{
	display: block;
	width: 4.4rem;
	border: .1rem solid #f14e94;
	text-align: center;
	font-size: 1.4rem;
	color: #f14e94;
	border-radius: .4rem;
	text-decoration: none;
	position: absolute;
	right: 1rem;
	top: .6rem;
	padding: .4rem 0rem;
}
.area ul li dt .goPayer{
	display: block;
	width: 4.4rem;
	border: .1rem solid #f14e94;
	text-align: center;
	font-size: 1.4rem;
	color: #f14e94;
	border-radius: .4rem;
	text-decoration: none;
	position: absolute;
	right: 7rem;
	top: .6rem;
	padding: .4rem 0rem;
}
.area ul li dt a span {
	vertical-align: top;
	display: block;
	width: 100%;
}

.area ul li dd {
	line-height: 4rem;
	padding-left: 1%;
	font-size: 1.3rem;
	margin-left: 0.5rem
}

.area ul li dd strong {
	color: #000;
	margin-right: .2rem;
	width: 150px;/*要显示文字的宽度*/
	overflow:hidden; /*超出的部分隐藏起来。*/
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow: ellipsis;/* 支持 IE */
	display: inline-flex;

}

.area ul li dd input {
	border: .1rem solid #bfbfbf;
	padding: .5rem;
	width: 3rem;
	border-radius: .3rem;
	margin-right: .2rem;
}

.area ul li dd h4
{
	position:absolute;
	top:0;
	left:19rem;
}
.area ul li dd h4 img{
	border:0px;
	width: 15px;
	height: 15px;
}
.area ul li dd h4 .levelImg{
	width: 30px;
	height: 12px;
}

.area ul li dd h3
{
	position:absolute;
	top:0;
	left:52%;
}
.area ul li dd,h4
{
    font-weight:bold;
}
.area ul li dd img {
	background-size: 7%;
	position:relative;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	border-style: solid;
	border-width: 2px;
	border-color: #ff7579;
}
.examine_img
{
	border-radius:50%
}
.home_a
{
	font-weight:normal;
	font-size:16px;
	clolor:#4c4a4a;
}
.family_home
{
	border-top:solid 2px #dadada;
	width:96%;
	margin:0 auto;
}
.family_home .family_home_ul
{

}
.family_home .family_home_li
{
	display:block;
	width:25%;
	text-align:center;
	float:left;
	margin-left:5%;
	margin-top:20px;
}
.family_home .family_home_li .family_home_a 
{
	width:100%;
	text-align:center;
}
.family_home .family_home_li .family_home_a span
{
	color:#666
}
.family_home .family_home_li .family_home_a .family_home_img
{
	width:100%;
}
.ela_layer
{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 99;
}
.ela_layer li
{
  padding: 1.2rem 0;
  background: #f14e94;
  text-align: center;
  font-size: 1.4em;
}
.ela_layer li a
{
  width: 100%;
  padding:1.2rem 4rem;
  color: #fff;
  text-decoration: none;
}

.shadd
{
	width: 29%;
	position:absolute;
	background: rgba(0,0,0,0.4);
	display: none;
}
.shad
{
	left: 25%;
	margin-top:-96px;
}
.shad2
{
	left: 60%;
	margin-top:-96px
}
.shad3
{
	left: 25%;
	margin-top:-96px
}
.title-upload
{
	width: 100%;
	font-size: 0.8em;
	color: #fff;
	margin-top: 15%;
	text-align: center;
}
#progress1,#progress2,#progress3
{
	margin-left:10%;
	width:80%;
	margin-top:17%;
	height: 6px;
	border:solid 1px #fff;
	background-color:#ccc;
	border-radius: 20px;
	position:relative;
}
.progress
{
	width:0;
	height:4px;
	border:1px solid #fff;
	border-radius:20px;
	position:absolute;
	left:0;
	top:0;
	background-color:#fff;
}
.box-upload1
{
	left: 29%;
}
.box-upload2
{
	left: 66%;
}
.box-upload3
{
	left: 29%;
}
.box-upload
{
	width: 28%;
	height:80px;
	position: absolute;
	margin-top:-96px;
	display: none;
}


.woringMsg{
	width: 80%;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 10%;
}


/* 弹窗样式 */
.changePercent{
	border:1px solid #CCC;
	outline: none;
	width: 90%;
	height: 25px;
	border-radius: 5px;
	margin-top:10px;
	padding:0 10px;
}
.confirmBtn{
	-webkit-appearance: none;/*取消苹果默认样式*/
	width: 70px;
	height: 25px;
	border-radius: 5px;
	outline: none;
	border:0;
	background: #2FE277;
	color: #FFF;
}

.fl{
	float:left;
}

.fr{
	float: right;
}
.btnArea{
	width:70%;
	height:30px;
	margin:0 auto;
}


.leixing{
	width: 20%;
	float: left;
}
.titleName{
	width:20%; 
	float: left;
}
.totalCoin{
	width:15%; 
	float: left;
}
.addtime{
	width:30%; 
	float: left;
}