<admintpl file="header" />
<style type="text/css">
	.disableLists{
		width: 1000px;
		height: 500px;
		background: #F0F0F0;
		margin-top: 30px;
		box-shadow: 2px 2px 1px #CCC;
	}

	.disableLists ul{
		width: 975px;
		background: #F0F0F0;
		min-height: 400px;
		max-height: 500px;
		overflow: auto;
	}

	.disableLists ul li{
		margin-top: 30px;
		width: 450px;
		float: left;
		height: 30px;
		line-height: 30px;
	}

	.disableLists li p{
		
		float: left;
		height: 30px;
		line-height: 30px;
	}

	.start_ip,.end_ip{
		width: 120px;
	}
	.zhi{
		width: 50px;
		text-align: left;
	}
	.ip_btn input{
		width: 100px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		border-radius: 5px;
		border:1px solid #CCC;
		background: #FFF;
	}

</style>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/layer.css">
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:U('Report/index')}">举报列表</a></li>
			<li class="active"><a >禁用IP管理</a></li>
		</ul>
		<form  class="form-horizontal js-ajax-form" >
		   <input type="hidden" name="uid" id="touid" value="{$touid}">
			<fieldset>

				用户 <span style="color: #5B9BD5;font-weight: bold;">{$userinfo['user_nicename']}</span> 的被禁用IP列表
				
				<div class="disableLists">
					<ul>
						<volist name="lists" id="vo">
							<if condition="$vo['end_ip']">
								<li>
									<p class="start_ip">{$vo['begin_ip']}</p><p class="zhi">至</p><p class="end_ip">{$vo['end_ip']}</p><p class="ip_btn"><input type="button" value="解除IP限制" onclick="del_disableIP({$vo['id']})" /></p>
								</li>
							<else />
								<li>
									<p class="start_ip">{$vo['begin_ip']}</p><p class="ip_btn"><input type="button" value="解除IP限制" onclick="del_disableIP({$vo['id']})" /></p>
								</li>
							</if>

						</volist>
					</ul>


				</div>
			</fieldset>
			<div class="form-actions">
				禁用IP开始段：<input type="text" id="ipsStart" placeholder="请填写正确的IP开始段"> --- <input type="text" id="ipsEnd" placeholder="请填写正确的IP结束段"> <button type="button" id="IPsSub" class="btn btn-primary js-ajax-submit">禁用IP段</button>
				<br><br>
				<button type="submit" id="IPSub" class="btn btn-primary js-ajax-submit">禁用当前IP</button>
				<a class="btn" href="{:U('Report/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
	<script src="__PUBLIC__/home/js/layer.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
	<script type="text/javascript">

		$(function(){

			//添加IP段
			
			$("#IPsSub").on('click',function(){
				//获取ip段开始
				var ipsStart=$("#ipsStart").val();
				//获取ip段结束
				var ipsEnd=$("#ipsEnd").val(); 
				if(ipsStart==""){
					layer.msg("请填写正确的IP结束段");
					return;
				}

				var touid=$("#touid").val();

				$.ajax({
					url: '/index.php?g=Admin&m=Report&a=addIps',
					type: 'POST',
					dataType: 'json',
					data: {ipsStart:ipsStart,ipsEnd:ipsEnd,uid:touid},
					success:function(data){
						if(data.code==0){
							layer.msg("成功添加禁用IP段",{icon: 1});
							
						}else{
							layer.msg(data.msg);
							
						}

						setTimeout(function(){
							window.location.href="{:U('Report/edit',array('id'=>$touid))}";
						},1500);
					},
					error:function(data){
						layer.msg("禁用IP段添加失败");
						return;
					}
				});
				
				
			});


			//禁用当前IP
			$("#IPSub").on('click',function(){

				var touid=$("#touid").val();

				$.ajax({
					url: '/index.php?g=Admin&m=Report&a=addIP',
					type: 'POST',
					dataType: 'json',
					data: {uid:touid},
					success:function(data){
						if(data.code==0){
							layer.msg("成功禁用当前IP",{icon: 1});
							
						}else{
							layer.msg(data.msg);
							
						}

						setTimeout(function(){
							window.location.href="{:U('Report/edit',array('id'=>$touid))}";
						},1500);

					},
					error:function(data){
						layer.msg('禁用当前IP失败啦111');
					}
				});
				
				
			});




		});




		function del_disableIP(id){
			if(!id){
				layer.msg("数据错误");
				return;
			}else{
				$.ajax({
					url: '/index.php?g=Admin&m=Report&a=delIps',
					type: 'POST',
					dataType: 'json',
					data: {id:id},
					success:function(data){
						if(data.code==0){
							layer.msg("成功解除该IP限制",{icon: 1});
							setTimeout(function(){
								window.location.href="{:U('Report/edit',array('id'=>$touid))}";
							},1500);
						}else{
							layer.msg("解除失败啦");
							return;
						}
						
					},
					error:function(data){
						layer.msg("解除失败啦");
						return;
					}
				});
				
			}
		}
	</script>
</body>
</html>