<template>
  <div class="rank d-flex flex-column">
    <div class="rank-title">
      <img src="../images/cup.png" />
    </div>
    <div class=" rank-list-wrap" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10" infinite-scroll-immediate-check="true">
      <div class="rank-tip-title" v-show="base.ami_prize == 1">恭喜您</div>
      <div class="rank-tip-title" v-show="base.ami_prize != 1">很遗憾</div>
      <div class="rank-tip-content">
        <span class="rank-yellow-font">{{base.prized_num}}</span>人瓜分
        <span class="rank-yellow-font">{{base.base_bonus_amount}}</span> 每人
        <span class="rank-yellow-font">{{base.each_person_bonus}}</span> 元
      </div>
      <table class="rank-list">
        <tr>
          <th width="50">名次</th>
          <th>昵称</th>
          <th>奖金</th>
          <th>通关时间</th>
        </tr>
        <tr v-for="(item, index) in prize" :key="index">
          <td>
            <span class="rank-order" v-if="index == 0">
              <img src="../images/rank_0.png" alt="">
            </span>
            <span class="rank-order" v-if="index == 1">
              <img src="../images/rank_1.png" alt="">
            </span>
            <span class="rank-order" v-if="index == 2">
              <img src="../images/rank_2.png" alt="">
            </span>
            <span class="rank-order" v-if="index > 2">{{index + 1}}</span>
          </td>
          <td>{{item.user_nicename}}</td>
          <td>{{item.bonus}}</td>
          <td>{{item.time}}</td>
        </tr>

      </table>
      <!-- <ul class="rank-list" >
        <li class="d-flex align-items-center" v-for="(item, index) in prize" :key="index">
          <span class="rank-order" v-if="index == 0">
            <img src="../images/rank_0.png" alt="">
          </span>
          <span class="rank-order" v-if="index == 1">
            <img src="../images/rank_1.png" alt="">
          </span>
          <span class="rank-order" v-if="index == 2">
            <img src="../images/rank_2.png" alt="">
          </span>
          <span class="rank-order" v-if="index > 2">{{index + 1}}</span>
          <span class="col">{{item.user_nicename}}</span>
          <div>
            <span>{{item.time}}</span>
          </div>
        </li>
      </ul> -->
    </div>
  </div>
</template>
<script>
  import {
    mapState,
    mapActions,
    mapMutations
  } from 'vuex';
  import {
    pushVerifyAnswer,
    getPrizeList
  } from '../utils/getData';
  export default {
    data() {
      return {
        prize: [],
        busy: false,
        pageNum: 1,
        base: {}
      }
    },
    mounted() {
      this.prizeList()
    },

    computed: {
      ...mapState([
        'currentSubject'
      ]),
      ...mapState([
        'room'
      ]),
      ...mapState([
        'activity'
      ]),
    },
    methods: {
      ...mapMutations([
        'SET_CURRENT_SUBJECT'
      ]),
      async prizeList() {
        let res = await getPrizeList(this.activity.id, this.pageNum, 18);
        this.base = res.data.data || {};
        if (res.data && res.data.list && res.data.list.length > 0) {
          this.prize = this.prize.concat(res.data.list);
        }
      },
      async loadMore() {
        this.busy = true;
        await this.prizeList(this.pageNum++);
        this.busy = false;
      },

    }
  }

</script>
<style lang="scss" scoped>
  .rank {
    width: 100%;
    height: 100%;
    position: relative;
    background: #140434;
    border-radius: 10px; // box-shadow: 0 1px 0 rgba(85,0,255,0.35);
    // padding-: 20px;
    &-title {
      color: #ffffff;
      font-size: 14px;
      width: 156px;
      height: 84px;
      line-height: 0px;
      text-align: center;
      margin: 0 auto;
      position: relative;
      top: -42px;
    }

    &-tip-title {
      width: 80px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 12px;
      color: #ffffff;
      font-size: 14px;
      background: #9966ff;
      margin: 0 auto;
    }

    &-tip-content {
      color: #ffffff;
      text-align: center;
      margin-top: 7px;
      margin-bottom: 5px;
    }

    &-yellow-font {
      font-size: 16px;
      color: 16px;
      color: #ffca32;
    }


    &-list-wrap {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 42px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-list {
      color: #ffffff;
      padding: 10px;
      width: 100%;


th {
  text-align: center;
}
      tr {
        // padding-bottom: 10px;
        text-align: center;
        td {
          padding: 2px 0;
        }
      }
      li .rank-order {
        margin-right: 5px;
        width: 20px;
        height: 19px;
        text-align: center;
        img {
          float: left;
        }
      }
    }

  }

</style>
