<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:U('Vest/index')}">马甲列表</a></li>
			<li class="active"><a >编辑</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Vest/edit_post')}">
		   <input type="hidden" name="id" value="{$vest['id']}">
			<fieldset>
				
				
				<div class="control-group">
					<label class="control-label">马甲名称</label>
					<div class="controls">
						<input type="text" name="orderno" value="{$vest['vest_name']}">
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">受限发言</label>
					<div class="controls">
						<label class="radio inline" for="limited_speak_1"><input type="radio" name="limited_speak" value="1" id="limited_speak_1" <if condition="$vest['limited_speak'] eq '1'">checked</if> >是</label>
						<label class="radio inline" for="limited_speak_0"><input type="radio" name="limited_speak" value="0" id="limited_speak_0" <if condition="$vest['limited_speak'] eq '0'">checked</if> >否</label>
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">视频直播</label>
					<div class="controls">
						<label class="radio inline" for="live_video_1"><input type="radio" name="live_video" value="1" id="live_video_1" <if condition="$vest['live_video'] eq '1'">checked</if> >是</label>
						<label class="radio inline" for="live_video_0"><input type="radio" name="live_video" value="0" id="live_video_0" <if condition="$vest['live_video'] eq '0'">checked</if> >否</label>
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">语音直播</label>
					<div class="controls">
						<label class="radio inline" for="live_voice_1"><input type="radio" name="live_voice" value="1" id="live_voice_1" <if condition="$vest['live_voice'] eq '1'">checked</if> >是</label>
						<label class="radio inline" for="live_voicer_0"><input type="radio" name="live_voice" value="0" id="live_voice_0" <if condition="$vest['live_voice'] eq '0'">checked</if> >否</label>
						<span class="form-required">*</span>
					</div>
				</div>
				

				<div class="control-group">
					<label class="control-label">踢人</label>
					<div class="controls">
						<label class="radio inline" for="awayUser_1"><input type="radio" name="away_user" value="1" id="awayUser_1" <if condition="$vest['away_user'] eq '1'">checked</if> >是</label>
						<label class="radio inline" for="awayUser_0"><input type="radio" name="away_user" value="0" id="awayUser_0" <if condition="$vest['away_user'] eq '0'">checked</if> >否</label>
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">踢管理员</label>
					<div class="controls">
						<label class="radio inline" for="awayAdmin_1"><input type="radio" name="away_admin" value="1" id="awayAdmin_1" <if condition="$vest['away_admin'] eq '1'">checked</if> >是</label>
						<label class="radio inline" for="awayAdmin_0"><input type="radio" name="away_admin" value="0" id="awayAdmin_0" <if condition="$vest['away_admin'] eq '0'">checked</if> >否</label>
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">禁止说话</label>
					<div class="controls">
						<label class="radio inline" for="gap_1"><input type="radio" name="gap" value="1" id="gap_1" <if condition="$vest['gap'] eq '1'">checked</if> >是</label>
						<label class="radio inline" for="gap_0"><input type="radio" name="gap" value="0" id="gap_0" <if condition="$vest['gap'] eq '0'">checked</if> >否</label>
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">全频道禁言</label>
					<div class="controls">
						<label class="radio inline" for="gapAll_1"><input type="radio" name="gap_all" value="1" id="gapAll_1" <if condition="$vest['gap_all'] eq '1'">checked</if> >是</label>
						<label class="radio inline" for="gapAll_0"><input type="radio" name="gap_all" value="0" id="gapAll_0" <if condition="$vest['gap_all'] eq '0'">checked</if> >否</label>
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">私聊</label>
					<div class="controls">
						<label class="radio inline" for="privateChat_1"><input type="radio" name="private_chat" value="1" id="privateChat_1" <if condition="$vest['private_chat'] eq '1'">checked</if> >是</label>
						<label class="radio inline" for="privateChat_0"><input type="radio" name="private_chat" value="0" id="privateChat_0" <if condition="$vest['private_chat'] eq '0'">checked</if> >否</label>
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">私聊权限</label>
					<div class="controls">
						<label class="checkbox inline" for="private_chat_permit_0"><input type="checkbox" name="private_chat_permit[]" value="-1" id="private_chat_permit_0" <in name="visitor" value="$vest['private_chat_permit']">checked</in>>  游客</label>

						<foreach name="vests" item="vo">
							<label class="checkbox inline" for="private_chat_permit_{$vo['id']}"><input type="checkbox" name="private_chat_permit[]" value="{$vo['id']}" id="private_chat_permit_{$vo['id']}" <in name="vo['id']" value="$vest['private_chat_permit']">checked</in>>  {$vo['vest_name']}</label>
						</foreach>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">设置管理</label>
					<div class="controls">
						<label class="radio inline" for="setAdmin_1"><input type="radio" name="set_admin" value="1" id="setAdmin_1" <if condition="$vest['set_admin'] eq '1'">checked</if> >是</label>
						<label class="radio inline" for="setAdmin_0"><input type="radio" name="set_admin" value="0" id="setAdmin_0" <if condition="$vest['set_admin'] eq '0'">checked</if> >否</label>
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Man图</label>
					<div class="controls">
								<div >
									<input type="hidden" name="vest_man_url" id="thumb1" value="{$vest['vest_man_url']}">
									<a href="javascript:void(0);" onclick="flashupload('thumb_images', '附件上传','thumb1',thumb_images,'1,jpg|jpeg|gif|png|bmp,1,,,1','','','');return false;">
									   <if condition="$vest['vest_man_url'] neq ''">
												<img src="{$vest['vest_man_url']}" id="thumb1_preview" width="30" style="cursor: hand" />
											<else/>
													<img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb1_preview" width="30" style="cursor: hand" />
											</if>
									</a>
									<input type="button" class="btn btn-small" onclick="$('#thumb1_preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb1').val('');return false;" value="取消图片"> (点击图片更换)
								</div>
						<span class="form-required"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Woman图</label>
					<div class="controls">
								<div >
									<input type="hidden" name="vest_woman_url" id="thumb2" value="{$vest['vest_woman_url']}">
									<a href="javascript:void(0);" onclick="flashupload('thumb_images', '附件上传','thumb2',thumb_images,'1,jpg|jpeg|gif|png|bmp,1,,,1','','','');return false;">
											<if condition="$vest['vest_woman_url'] neq ''">
														<img src="{$vest['vest_woman_url']}" id="thumb2_preview" width="30" style="cursor: hand" />
												<else/>
														<img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb2_preview" width="30" style="cursor: hand" />
												</if>
									</a>
									<input type="button" class="btn btn-small" onclick="$('#thumb2_preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb2').val('');return false;" value="取消图片">(点击图片更换)
								</div>
						<span class="form-required"></span>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('EDIT')}</button>
				<a class="btn" href="{:U('Vest/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
</body>
</html>