<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('Gift/group')}">分组列表</a></li>
			<li class="active"><a >分组添加</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Gift/do_group_add')}">
			<fieldset>
				<div class="control-group">
					<label class="control-label">分组名称</label>
					<div class="controls">
						<input type="text" name="group_name">
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">分组值</label>
					<div class="controls">
						<input type="text" name="group_val">
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">序号</label>
					<div class="controls">
						<input type="text" name="orderno" value="0">
						<span class="form-required">*</span>
					</div>
				</div>

			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
				<a class="btn" href="{:U('Gift/group')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>