<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('Gift/group')}">礼物分组列表</a></li>
			<li><a href="{:U('Gift/group_add')}">分组类别添加</a></li>
		</ul>
		<form method="post" class="js-ajax-form" action="{:U('Gift/group_listorders')}">
		  <div class="table-actions">
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit">{:L('SORT')}</button>
			</div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					  <th>序号</th>
						<th align="center">ID</th>
						<th>分组名称</th>
						<th>分组值</th>
						<th>添加时间</th>
						<th>修改时间</th>
						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
					  <td><input name="listorders[{$vo['id']}]" type="text" size="3" value="{$vo['orderno']}" class="input input-order"></td>
						<td align="center">{$vo.id}</td>
						<td align="center">{$vo.group_name}</td>
						<td align="center">{$vo.group_val}</td>
						<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
						<td><if condition="$vo.updatetime neq '' ">{$vo.updatetime|date="Y-m-d H:i:s",###}<else />--</if></td>

						<td align="center">	
							<a href="{:U('Gift/group_edit',array('id'=>$vo['id']))}" >编辑</a>
							<a href="{:U('Gift/group_del',array('id'=>$vo['id']))}"  class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
				<div class="table-actions">
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit">{:L('SORT')}</button>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>