<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >礼物列表</a></li>
			<li><a href="{:U('Gift/add')}">礼物添加</a></li>
		</ul>
		<form method="post" class="js-ajax-form" action="{:U('Gift/listorders')}">
			<div class="table-actions">
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit">{:L('SORT')}</button>
			</div>
		
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					  <th>排序</th>
						<th align="center">ID</th>
						<th>礼物类型</th>
						<th>礼物分类</th>
						<th>礼物名称</th>
						<th>所需点数</th>
						<!-- <th>礼物小图 （25 X 25）</th> -->
						<th>礼物图片</th>
						<th>发布时间</th>
						<th>是否为中奖礼物</th>
						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<php>$type=array("0"=>"普通礼物","1"=>"可连送礼物");</php>
					<foreach name="lists" item="vo">
					<tr>
					   <td><input name="listorders[{$vo['id']}]" type="text" size="3" value="{$vo['orderno']}" class="input input-order"></td>
						<td align="center">{$vo.id}</td>
						<td>{$type[$vo['type']]}</td>
						<td>{$gift_sort[$vo['sid']]}</td>
						<td>{$vo['giftname']}</td>
						<td>{$vo['needcoin']}</td>
						<!-- <td><img width="25" height="25" src="{$vo['gifticon_mini']}" /></td> -->
						<td><img width="25" height="25" src="{$vo['gifticon']}" /></td>
						<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
						<td><if condition="$vo['is_win_gift'] eq 1"><span style="color: green;">是</span><else /><span style='color: red;'>否</span></if></td>
						<td align="center">	
							<a href="{:U('Gift/edit',array('id'=>$vo['id']))}" >编辑</a>
							<if condition="in_array($vo['id'],array('9','19','21','22') )">
							
							<else/>
							 |
							  <a href="{:U('Gift/del',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a>
							</if>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
			<div class="table-actions">
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit">{:L('SORT')}</button>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>