
.login_pop a {
	text-decoration: none
}

.login_pop .login_popbox .close {
	position: absolute;
	display: block;
	right: 4px;
	top: 30px;
	height: 16px;
	width: 15px;
	background-position: 0 -242px;
	opacity: .6;
	-webkit-transition: all 0s;
	transition: all 0s
}

.login_pop .login_popbox .close:hover {
	-webkit-transform: none;
	transform: none;
	opacity: 1;
	-webkit-transition: all 0s;
	transition: all 0s
}

.login_pop_cover {
	width: 100%;
	height: 2000px;
	background-color: rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	z-index: 200;
	display: none;

}

.login_pop {
	width: 420px;
	background: white;
	position: fixed;
	_position: absolute;
	z-index: 200;
	top: 26%;
	left: 50%;
	margin-left: -180px;
	border-radius: 5px;
	overflow: visible;
	display: none
}

.js_chozhi_pop .title,.js_tishibox_pop .title{
	text-align:left !important;
	text-indent:60px;
}

.login_pop .title {
	width: 280px;
	height: 70px;
	line-height: 65px;
	font-size: 24px;
	color: white;
	text-align: center;
	position: relative;
	/*background: #d14c49*/
	margin:0px auto;
	border-bottom: 3px solid #eee;
	
}

.login_pop .denglu,.login_pop .zhuce{  
	 color: #000;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    border-bottom: 3px solid #eee;
    bottom: -3px;
    height: 50px;
    width: 60px;
    text-align: center;
    left:0px;
    cursor: default;

}

.login_pop .warring{
	width: 350px;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    height: 20px;
    text-align: center;
    color: #ff0000;
    display: none;
}

.js_reg_warring{
	margin-top: 25px !important;
	height: auto !important;
}

.js_login_pop .title{
	    margin-bottom: 20px;
}

.login_pop .denglu.act,.login_pop .zhuce.act{
	 border-bottom: 3px solid #9966ff;
}

.login_pop .zhuce{
	left: 80px;
}

.phoneArea {
	width: 280px;
	margin: 0 auto;
	margin-top: 10px;
	border-bottom: 1px solid #eee;
	border-radius: 0px;
	overflow: hidden;
	position: relative;
	height: 45px;
	padding-top: 0px;
}

.phoneArea .usersr{
	position: absolute;
	left: 28px;
	top:3px;
	font-size: 18px;
	 color: #9966ff;
}

.phoneArea .users{
	width: 205px;
    font-size: 16px;
    border: 0;
    height: 32px;
    line-height: 36px;
    
}

.phoneArea .js_reg_users_input{
	padding-left: 10px;
	width:220px;
}

.js_reg_pop_pt .phoneArea .keyong,.js_reg_pop_pt .phoneArea .keyong_no{
	position: absolute;
    width: 23px;
    height: 23px;
    top: 5px;
    right:0px;
    display: block;
    background: url('/public/images/web-icon.png') no-repeat;
    background-position: -31px -3371px;

}

.js_reg_pop_pt .phoneArea .keyong_no{
	background-position: -31px -3281px;
}

.phoneArea .phoneIcon {
	display: block;
	float: left;
	width: 30px;
	height: 33px;
	background-repeat: no-repeat;
	background-position: -18px -159px;
	_background-image: url(../images/mobile.jpg)!important;
	_background-repeat: no-repeat;
	_background-position: 10px 0
}

.phoneArea .phoneIcon.ccodeicon{
	background-position: -18px -159px;
}

.phoneArea .phoneIcon.passicon{
	background-position: -31px -3081px;
}

.phoneArea .phoneIcon.usericon{
	background-position: -27px -2876px;
}

.login_pop .close,.login_pop .other_login_tip,.phoneArea .phoneIcon,.key_con .keyIcon {
	background-image: url(/public/images/web-icon.png)
}

.login_pop .close {
	width: 22px;
	height: 23px;
	background-position: -18px -1555px;
	background-repeat: no-repeat;
	position: absolute;
	right: -45px;
	top: 30px;
	cursor: pointer;
	border-radius: 50%;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 1s;
	transition: all 1s;
	_background-image: url(../images/closered.jpg);
	_background-position: 0 0
}

.login_pop article {
	position: relative;
	overflow: hidden;
	min-height:30px;
}

.login_pop .close:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 1s;
	transition: all 1s
}

.login_pop article .key_con {
	width: 280px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 0px;
	/*overflow: hidden;*/
	border-bottom: 1px solid #eee;
	position: relative;
	height: 36px;
	padding-top: 5px;
}

.js_reg_captcha_img{
	position: absolute;
	top:-6px;

}

.keyBorder {
	float: left;
	height: 45px;
	/*border-bottom: 1px solid #ccc;*/
	overflow: hidden;
	border-radius: 0px;
	margin-top:-10px;
}

.keyIcon {
	display: block;
	float: left;
	width: 40px;
	height: 33px;
	background-repeat: no-repeat;
	background-position: -27px -2972px;
	_background-image: url(../images/keyIcon.jpg)!important;
	_background-repeat: no-repeat;
	_background-position: 10px 0
}

.login_pop article .phone,.login_pop article .pass,.login_pop article .key {
	color: grey;
	font-size: 12px;
	border: 0;
	height: 32px;
	line-height: 36px;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	_float: left
}

.login_pop article .phone {
	width: 205px;
	font-size: 16px;
	padding-left: 10px;
}
.login_pop article .pass {
	/*width: 308px;*/
	font-size: 16px;
	padding-left: 10px;
}
.login_pop article .key {
	width: 114px;
	float: left;
	font-size: 16px;
}

.login_pop article .get_key {
	width: 80px;
	height: 32px;
	padding: 0;
	margin: 2px 1px 0 0;
	line-height: 32px;
	background: #d14c49;
	float: right;
	border: 0;
	text-align: center;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	border-radius: 16px
}

.login_pop article .get_key:hover {
	background-color: #d66260;
	color: #fff
}

.login_pop article .get_none {
	width: 80px;
	height: 32px;
	padding: 0;
	margin: 0 1px 0 0;
	line-height: 32px;
	background: #eee;
	float: right;
	border: 1px solid #eaeaea;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	cursor: pointer;
	border-radius: 5px
}

.login_pop article p {
	width: 280px;
	color: #7b7b7b;
	font-size: 14px;
	text-align: left;
	height: 15px;
	margin:0px auto;
	margin-top: 10px;
	position: relative;
}

.js_reg_pop_pt p em a{
	font-size: 12px !important;
}

.login_pop article p .login-btn{
	cursor:pointer;
}
.login_pop article p .fl{
	float:left;
	margin-left: 60px;
}
.login_pop article p .fr{
	float:right;
	margin-right: 60px;
}
.login_pop article p em {
	color: #da5537;
	font-style: normal;
	padding-left: 37px;
}

.login_pop article .submit {
	width: 280px;
	height: 46px;
	line-height: 45px;
	font-size: 16px;
	text-align: center;
	border: 0;
	color: white;
	display: block;
	margin: 0 auto;
	background-color: #d14c49;
	cursor: pointer;
}

.login_pop article .submit a{ text-decoration: none; }

.login_pop article .submit:hover {
	background-position: 0 -42px;
	_background-image: url(../images/confirm.jpg);
	_background-position: 0 0
}

.login_pop article .submit.get_none {
	float: none;
	background-color: #9966ff;
	color: #fff;
	text-decoration: none;
	margin-top: 30px;
}

.login_pop article .submit.off{
	/*background-color: #ccc;*/
}

.login_pop article .submit.get_key {
	float: none;
	background-color: #d14c49;
	color: #fff
}

.login_pop .other_login_tip {
	width: 280px;
	margin: 0px auto;
	height:60px;
	color: grey;
	background: none;
}

.login_pop .other_login_tip .logreguser{
	float: left;
	font-size: 14px;
	    margin-top: 20px;
}

.login_pop .other_login_tip .loginpass{
	float: right;
	font-size: 14px;
	    margin-top: 20px;
}

.login_pop .weibo,.login_pop .weixin,.login_pop .qq {
	background-image: url(../images/login_pop_bg.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 66px;
	height: 84px;
	float: left;
	margin: 34px 0;
	cursor: pointer
}

.login_pop .weibo {
	background-position: -200px 0;
	margin-left: 44px
}

.login_pop .weixin {
	background-position: 0 0;
	margin-left: 40px
}

.login_pop .qq {
	background-position: -100px 0;
	margin-left: 40px
}

.login_pop .weibo:hover {
	background-image: url(../images/login_pop_bg2.png)
}

.login_pop .weixin:hover {
	background-image: url(../images/login_pop_bg2.png)
}

.login_pop .qq:hover {
	background-image: url(../images/login_pop_bg2.png)
}



.tips {
	width: 280px;
	
    margin: 0px auto;
     padding-top: 15px;
     display: none;
}

.js_reg_pop_pt .phoneArea:nth-child(2){
	 margin-top: 30px;
}

.retagrebox{
	background: url('/public/images/web-icon.png') no-repeat -19px -1474px;
	position: absolute;
	left:2px;
	top:0px;
	width: 22px;
	height: 22px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
	-webkit-tap-highlight-color: transparent;
}
.retagrebox.act{
	background-position: -31px -3189px;
}

.tips .putongred,.tips .mobiereg{
	font-size: 16px;

	margin-right: 20px;	
	
}

.tips .putongred.act,.tips .mobiereg.act{
	color:#9966ff;
}


.login_popbox .get_none {
	background-color: #929292!important;
	color: #fff!important
}

.login_pop .login_popbox {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: none
}

.login_pop .login_popbox .inner {
	position: absolute;
	width: 265px;
	height: 236px;
	top: 50%;
	left: 50%;
	margin-left: -132px;
	margin-top: -128px;
	background-image: url(../images/login_popbox.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto
}

.login_pop .login_popbox input {
	border: 0;
	position: absolute;
	top: 111px;
	left: 25px;
	width: 135px;
	height: 31px;
	background-color: #fff;
	text-indent: 10px
}

.login_pop .login_popbox img {
	position: absolute;
	top: 111px;
	right: 20px;
	background-color: #fff;
	display: block;
	width: 75px;
	height: 32px;
	border: 0;
	cursor: pointer
}

.login_pop .login_popbox a {
	display: block;
	position: absolute;
	bottom: 25px;
	background-color: #34aff3;
	width: 222px;
	height: 40px;
	border-radius: 20px;
	left: 50%;
	margin-left: -111px;
	text-align: center;
	color: #fff;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer
}


.js_chozhi_pop,.js_tishibox_pop{
	border: 1px solid #eee;
}


.loadingif{
	position: fixed;
	display: none;
	top:42%;
	left:47%;
	width:122px;
	height: 122px;
	background: url('/public/images/home/loading-logo.png') no-repeat center;
	z-index: 999999;
}

.loadingif .loadingifspri{
	width: 100%;
	height: 100%;
	background: url('/public/images/home/loading-sprite.png') no-repeat;
	background-position: 0px 0px;
	animation: movespri 3s infinite linear;
}

.loadingif .tit{
	position: absolute;
	bottom: -20px;
	text-align: center;
	color: #fff;
	width:100%;
	font-size:12px; 
}

@keyframes movespri{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

.js_chozhi_pop .title,.js_tishibox_pop .title{
	color: #000;
	width: auto;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	font-weight: bold;
	    line-height: 63px;
}

.js_chozhi_pop .chongzhicont{
	    height: 140px;
    	overflow: auto;
}



.js_chozhi_pop .title .close,.js_tishibox_pop .title .close{
		right: 20px;
		top: 20px;
}

.login_pop .chozhizhibo .tit2,.js_tishibox_pop .tit2{

	font-size: 18px;
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #000;
}

.login_pop .chozhizhibo .chongzhicont span{
	font-size: 18px;
	display: inline-block;
    width: 210px;
    line-height: 40px;
}

.js_tishibox_pop .tit2{
	margin-left: auto;
	text-align: center;
}

.js_tishibox_pop .tit2 p{
	
	text-align: center;
	font-size: 18px;
	color:#ff0000 !important;
	margin-bottom: 10px;

}

.login_pop .chozhizhibo p,.login_pop .js_tishibox_pop p{
	font-size: 18px;
	margin-left: 60px;
	margin-top: 20px;
} 
.login_pop .chozhizhibo .admuse{
	font-size: 18px;
	color: #000;
}

.login_pop .chozhizhibo .siliao{
	 /*margin-left: 60px;*/
	 color: #fff;
	 background: #ff3366;
	 height: 25px;
	 width: 70px;
	 border-radius: 5px;
	 text-align: center;
	 font-size: 14px;
}

.login_pop .chongzhibottom{
	margin:40px auto;
}

.login_pop .chongzhibottom .chozhismt{
	text-align: center;
	background: #9966ff;
	color: #fff;
	    width: 280px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 60px;
}