/*直播设置*/
.live__setting-box {
    left:35%;
    top:20%;
    z-index: 210;
    width: 668px;
    display: none;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px 8px 8px 8px;
    position: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.live__setting-header {
    height: 68px;
    line-height: 68px;
    font-size:20px;
    font-weight: bold;
    padding: 0 20px 0 30px;

    color: #000;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    position:relative;
}

.live__setting-header h3{
    font-weight: 800;
}


.multi-setting-close {
    width: 19px;
    height: 19px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    right: 24px;
    top: 24px;
    background-image: url(../../images/dialog-close.png);
    display: block;
    float:right;
}

.multi-full-screen {
    position:fixed;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    z-index: 9999999;
    display: none;
    padding: 20px;
    background:#000000;
}

#multiFullScreenClose {
    position: fixed;
    z-index: 99999999;
    right: 10px;
    bottom: 0px;
    display: none;
    padding: 20px;
    cursor: pointer;
}

#multiFullScreenClose img{
    width: 50px;
    height: 50px;
}

.live__setting-content {
    padding: 40px 30px 40px;
    float: left;
    /*width: 100%;*/
}

.live__setting-content .left {
    width: 340px;
    float:left;
}

.live__setting-content .right {
    float:left;
    font-size: 16px;
}

.live__setting-content .left h4{
    padding-bottom: 40px;
    font-size: 16px;
}

.live__setting-content .right #agora_preview{
    width: 264px;
    height:158px;
}

.live__setting-content .right video{
    width: 264px!important;
    height: 158px!important;
}

.live__setting-content .right h4{
    font-size: 16px;
    margin-bottom:20px;
}

.live__setting-content .select-wrap {
    margin-bottom: 25px;
}

.live__setting-content .select-wrap label{
    font-size: 16px;
}

.live__setting-content .select-wrap select{
    font-size: 16px;
    border: 1px solid #AAAAAA;
    width:260px;
    height:32px;
    line-height:32px;
}

.live__setting-footer {
    text-align:center;
    margin-top: 0px;
    padding-bottom:50px;
    float: left;
    width: 100%;
}

.live__setting-footer button {
    width: 340px;
    height: 46px;
    line-height: 46px;
    background: #9966FF;
    color: #ffffff;
    text-align:center;
    border-radius: 8px;
    font-size:18px;
}


.SR-video-rec-con{
    position: relative;
}


.SR-video-rec-con:after{
    content:'';
    display:block;
    clear: both;
}

.SR-video-rec-con .video-rec-con .minvideo{
    float: left;
    min-width:130px;
    min-height: 100px;
    text-align: center;
    position: relative;
    background:#ccc url('/public/images/home/default_min.png') no-repeat center;

}


.channel-player-multi{
    width:400px;
    height:200px;
    position: relative;
    background: #c1c1c1 url('/public/images/home/default.png') no-repeat center;
}


.channel-player-multi .minvideo{
    width: 100%;
    height: 100%;
    text-align: center;
}

.channel-player-multi .vidmask{
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    display: none;
    background-color:rgba(0,0,0,0.3);
}


.channel-player-multi .vidmask .bofang,.channel-player-multi .vidmask .zanting,.channel-player-multi .vidmask .quanping{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 3px;
    left: 0px;
    cursor: pointer;
    background: url('/public/images/web-icon.png') no-repeat -26px -3903px;

}

.channel-player-multi .vidmask .zanting{
    background-position:-25px -3831px;
}

.channel-player-multi .vidmask .quanping{
    left: auto;
    right: 0px;
    background-position:-29px -3755px;
}


/*.SR-video-rec-con */.vidcont{
    width: 100%;
    height: 100%;
    position: absolute;
}

.SR-video-rec-con .vidcont{
    box-shadow: 1px 0px 0px 0px #999 inset;
}

.SR-video-rec-con .video-rec-con .minvideo:first-child .vidcont{
    box-shadow: none;
}

.SR-video-rec-con .minvideo .vidmask{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: none;
    background-color:rgba(0,0,0,0.3);
}
.SR-video-rec-con .minvideo .vidmask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    /*display: none;*/
    background-color:rgba(0,0,0,0.3);
}

.SR-video-rec-con .minvideo .player-praises{
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 11;

}

.SR-video-rec-con .minvideo .player-praises .praises{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;

}

.SR-video-rec-con .minvideo .player-praises .bubble{
    
    position: relative;
    height: 100%;
    width: 90%;
    overflow: hidden;
}

.SR-video-rec-con .minvideo .vidmask .player-praises a{
    position: absolute;
    z-index: 99;
    right: 0px;
    bottom: 0px;
        width: 30px;
    height: 30px;
}


.SR-video-rec-con .minvideo .vidmask .player-praises svg {
    position: absolute;
    transform: scale(0.5);
}

.SR-video-rec-con .minvideo .vidmask .qihuan{
    position: absolute;
    width: 60px;
    height: 45px;
    top: 35%;
    left: 35%;
    cursor: pointer;
    background: url('/public/images/web-icon.png') no-repeat -12px -4129px;
}

.minvideo .anchor-name {
    color: #ffffff;
    padding:10px 0 0 10px;
}
.minvideo .vidtop  {
    width: 100%;
    height: 35px;
    position: absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    display: none;
}

.SR-video-rec-con .minvideo .vidmask .bofang,.SR-video-rec-con .minvideo .vidmask .zanting,.SR-video-rec-con .minvideo .dzang{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    background: url('/public/images/web-icon.png') no-repeat -26px -3976px;
}

.SR-video-rec-con .minvideo .vidmask .bofang{
    background-position:-26px -4049px;
}
.SR-video-rec-con .minvideo .dzang{
    left: auto;
    right: 0px;
    background-position:-26px -3679px;
    display: none;

}

.SR-video-rec-con .audioopen{
    position: absolute;
    width: 100%;
    background: #f6f6f6;
    height: 50px;
    bottom: -50px;
    z-index: 999;
    display: none;
    border-bottom:1px solid #ddd;
}

.SR-video-rec-con .audioopen span{
    position: absolute;
    left: 5px;
    top:5px;
    height: 30px;
    width:30px;
    background: url('/public/images/home/audio.gif') no-repeat center;

}

.SR-video-rec-con .audioopen p{
    background: #fff;
    padding:10px 5px 10px 45px;
    font-size: 14px;
}

#player-praises{
    z-index:9;
}

#player-praises .praises{
 
    bottom: 40px;

}























