<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >直播记录</a></li>
		</ul>
		
		<form class="well form-search" method="post" action="{:U('Live/index')}">
			时间：
			<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}" style="width: 80px;" autocomplete="off">-
			<input type="text" class="js-date date" name="end_time" value="{$formget.end_time}" style="width: 80px;" autocomplete="off"> &nbsp; &nbsp;
			关键字： 
			<input type="text" name="keyword" style="width: 200px;" value="{$formget.keyword}" placeholder="请输入会员id...">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		<form method="post" class="js-ajax-form" >

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th align="center">编号</th>
						<th>会员（ID）</th>
						<th>直播ID</th>
						<th>流名</th>
						<th>直播收益</th>
						<th>直播开始时间</th>
						<th>直播结束时间</th>
						<th>直播时长</th>
						<th>总人数</th>
					<!-- 	<th align="center">{:L('ACTIONS')}</th> -->
					</tr>
				</thead>
				<tbody>
					<php>$islive=array("0"=>"直播结束","1"=>"直播中");</php>
					<foreach name="lists" item="vo">
					<tr>
						<td align="center">{$vo.id}</td>					
						<td>{$vo['userinfo']['user_nicename']} ( {$vo['uid']} ) </td>
						<td>{$vo['showid']}</td>
						<td>{$vo['stream']}</td>
						<td>{$vo['votes']}</td>
						<td>{$vo.starttime|date="Y-m-d H:i:s",###}</td>
						<td>
						  <if condition="$vo['islive'] eq '1'">
							     直播中
							<else/>
							    {$vo.endtime|date="Y-m-d H:i:s",###}
							</if>
						</td>
						<td>
						<?php 
								$times = $vo['liveMinutes'];
								$result = '';
								$hour = floor($times/3600);
								if(strlen($hour)==1){
									$hour='0'.$hour;
                				}
                				$minute = floor(($times-3600 * $hour)/60);
                				if(strlen($minute)==1){
									$minute='0'.$minute;
                				}
               					$second = floor((($times-3600 * $hour) - 60 * $minute) % 60);
               					if(strlen($second)==1){
									$second='0'.$second;
                				}
                				$result = $hour.':'.$minute.':'.$second;
                				echo  $result;
                		?>
						
						</td>
						<td>{$vo['nums']}</td>
						<!-- <td align="center">	
						 <a href="{:U('Live/edit',array('id'=>$vo['id']))}" >编辑</a> | 
							<a href="{:U('Live/del',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a>
						</td> -->
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>