<admintpl file="header"/>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>回放文件列表</a></li>
    </ul>

    <form class="well form-search" method="post">
        查找视频
        <input type="text" name="keyword" style="width: 200px;" value="{$formget.keyword}" placeholder="请输入直播ID或直播名称">
        <input type="submit" class="btn btn-primary" value="搜索">
    </form>

    <form method="post" class="js-ajax-form">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th align="center">文件编号</th>
                <th>开始录制时间</th>
                <th>直播名称</th>
                <th>房间ID</th>
                <th>视频时长</th>
                <th>视频地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="lists" item="vo">
                <tr>
                    <td align="center">{$vo.id}</td>
                    <td>{$vo['created_at']}</td>
                    <td>{$vo['user_nicename']}</td>
                    <td>{$vo['uid']}</td>
                    <td></td>
                    <td>{$vo.url}</td>
                    <td align="center">
                        <a>复制地址</a> |
                        <a class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$page}</div>

    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>