<admintpl file="header" />
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a >单主播</a></li>
        <li ><a  href="{:U('MutiShow/index_multiple')}">多主播</a></li>
    </ul>

    <form class="well form-search" method="post" action="{:U('MutiShow/index')}">
        房间名：
        <input type="text" name="live_name" style="width: 200px;" value="{$live_name}" placeholder="房间名...">
        <input type="submit" class="btn btn-primary" value="搜索">
    </form>

    <div class="table-actions">
        <a class="btn btn-primary btn-small" href="{:U('MutiShow/single_edit')}" type="button">{:L('ADD')}</a>
    </div>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th align="center">直播间名称</th>
                <th align="center">主播ID</th>
                <th align="center">麦手</th>
                <th align="center">创建/修改时间</th>
                <th align="center">状态</th>
                <th align="center">最后操作人</th>

                <th align="center">{:L('ACTIONS')}</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="lists" item="vo">
                <tr>
                    <td align="center">{$vo.id}</td>
                    <td>{$vo['title']}</td>
                    <td>{$vo['link']}</td>
                    <td>{$vo['updated_at']}</td>
                    <td>{$vo['state']}</td>
                    <td>{$vo['user']['user_nicename']}</td>

                    <td align="center">
                        <a href="{:U('MutiShow/single_edit',array('id'=>$vo['id']))}" >修改</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$page}</div>
</div>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>