<admintpl file="header" />
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li ><a  href="{:U('MutiShow/index')}">单主播</a></li>
        <li class="active"><a>多主播</a></li>
    </ul>

    <div class="table-actions">
        <a class="btn btn-primary btn-small" href="{:U('HomeSet/announcement_edit')}" type="button">{:L('ADD')}</a>
    </div>

    <form method="post" class="js-ajax-form" action="{:U('HomeSet/announcement_orders')}">

        <div class="table-actions">
            <button class="btn btn-primary btn-small js-ajax-submit" type="submit">{:L('SORT')}</button>
        </div>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th align="center">排序</th>
                <th align="center">ID</th>
                <th>公告标题</th>
                <th>链接地址</th>
                <th>发布/修改时间</th>
                <th>状态</th>
                <th>最后操作人</th>

                <th align="center">{:L('ACTIONS')}</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="lists" item="vo">
                <tr>
                    <td align="center" width="10%"><input name="listorders[{$vo['id']}]" type="text" size="3" value="{$vo['sort']}" class="input input-order"></td>
                    <td align="center">{$vo.id}</td>
                    <td>{$vo['title']}</td>
                    <td>{$vo['link']}</td>
                    <td>{$vo.updated_at}</td>
                    <td>{$vo.state}</td>
                    <td>{$vo['user']['user_nicename']}</td>

                    <td align="center">
                        <a href="{:U('HomeSet/announcement_edit',array('id'=>$vo['id']))}" >修改</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$page}</div>
        <div class="table-actions">
            <button class="btn btn-primary btn-small js-ajax-submit" type="submit">{:L('SORT')}</button>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>