<admintpl file="header"/>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:U('MutiShow/index_multiple')}">多视频</a></li>
        <li class="active"><a>编辑</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form" action="{:U('MutiShow/multiple_edit_post')}">
        <input type="hidden" name="id" value="{$data['id']}">
        <fieldset>

            <div class="control-group">
                <label class="control-label">直播间名称</label>
                <div class="controls">
                    <input type="text" name="live_name" value="{$data['live_name']}">
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">直播间类型</label>
                <div class="controls">
                    <input type="radio" name="room_type" value="0"
                    <if condition="$data['room_type'] eq 0">checked</if>
                    >普通
                    <br/>
                    <input type="radio" name="room_type" value="1"
                    <if condition="$data['room_type'] eq 1">checked</if>
                    >锁门
                    <input type="text" name="room_password" value="<if condition=" $data['room_type'] eq
                    1">{$data['room_password']}</if>">
                    <span class="form-required">*</span>
                    只能输入数字，最多6位
                    <br/>
                    <input type="radio" name="room_type" value="2"
                    <if condition="$data['room_type'] eq 2">checked</if>
                    >扣费
                    <input type="text" name="room_live_coin" value="<if condition=" $data['room_type'] eq
                    2">{$data['room_live_coin']}</if>">
                    <span class="form-required">*</span>
                    只能输入数字
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">房间状态</label>
                <div class="controls">
                    <label class="radio inline" for="status0"><input type="radio" name="status" value="0" id="status0"
                        <if condition="$data['status'] eq 0">checked</if>
                        >关闭</label>
                    <label class="radio inline" for="status1"><input type="radio" name="status" value="1" id="status1"
                        <if condition="$data['status'] eq 1">checked</if>
                        >开启</label>
                    <label class="radio inline" for="status2"><input type="radio" name="status" value="2" id="status12"
                        <if condition="$data['status'] eq 2">checked</if>
                        >休息</label>
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">主播</label>
                <div class="controls">
                    <input type="text" id="anchor" value="">
                    <span class="form-required">* <a href="#" onclick="javasrcript:add('anchor');">添加</a></span>
                    （限制文案 50人）
                </div>
                <span id="anchors">
                    <foreach name="data['anchor']" item="vo">
                        <span style="background: #04e5e4;color: crimson" id="anchor_{$vo['uid']}"> {$vo['user']['user_login']}<span><a
                                href="#"
                                onclick="javasrcript:del('anchor', '{$vo[uid]}');"
                                style="color: red">×</a></span></span>
                        <input id="v_anchor_{$vo['uid']}" name="anchor[]" value="{$vo['uid']}" type="hidden">
                    </foreach>
                </span>

            </div>

            <div class="control-group">
                <label class="control-label">麦手</label>
                <div class="controls">
                    <input type="text" id="dj" value="">
                    <span class="form-required">* <a href="#" onclick="javasrcript:add('dj');">添加</a></span>
                    （限制文案 50人）

                </div>
                <span id="djs">
                    <foreach name="data['dj']" item="vo">
                        <span style="background: #04e5e4;color: crimson" id="dj_{$vo['uid']}"> {$vo['user']['user_login']} <span><a
                                href="#"
                                onclick="javasrcript:del('dj', '{$vo[uid]}');"
                                style="color: red">×</a></span></span>
                        <input id="v_dj_{$vo['uid']}" name="dj[]" value="{$vo['uid']}" type="hidden">
                    </foreach>
                </span>
            </div>

            <div class="control-group">
                <label class="control-label">展示头像</label>
                <div class="controls">
                    <div>
                        <input type="hidden" name="avatar" id="avatar" value="{$data['avatar']}">
                        <a href="javascript:void(0);"
                           onclick="flashupload('thumb_images', '附件上传','avatar',thumb_images,'1,jpg|jpeg|gif|png|bmp,1,,,1','','','');return false;">
                            <if condition="$data['avatar'] neq ''">
                                <img src="{$data['avatar']}" id="avatar_preview" width="100" style="cursor: hand"/>
                                <else/>
                                <img src="__TMPL__Public/assets/images/default-thumbnail.png" id="avatar_preview"
                                     width="100" style="cursor: hand"/>
                            </if>
                        </a>
                        <input type="button" class="btn btn-small"
                               onclick="$('#avatar_preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#avatar').val('');return false;"
                               value="取消图片"> (点击图片更换)
                    </div>
                    <span class="form-required"></span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">焦点图</label>
                <div class="controls">（用于首页列表、直播没有加载视频时显示）</div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="hidden" name="focus" id="focus" value="{$data['focus']}">
                    <a href="javascript:void(0);"
                       onclick="flashupload('thumb_images', '附件上传','focus',thumb_images,'1,jpg|jpeg|gif|png|bmp,1,,,1','','','');return false;">
                        <if condition="$data['focus'] neq ''">
                            <img src="{$data['focus']}" id="focus_preview" width="100" style="cursor: hand"/>
                            <else/>
                            <img src="__TMPL__Public/assets/images/default-thumbnail.png" id="focus_preview"
                                 width="100" style="cursor: hand"/>
                        </if>
                    </a>
                    <input type="button" class="btn btn-small"
                           onclick="$('#focus_preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#focus').val('');return false;"
                           value="取消图片"> (点击图片更换)
                </div>
                <span class="form-required"></span>
            </div>

            <div class="control-group">
                <label class="control-label">发言字数</label>
                <div class="controls">
                    <input type="text" name="speak_num" value="{$data['speak_num']}" placeholder="请填写发言字数">
                    <span class="form-required">*</span>
                    <br/>
                    （1~100之间，不填写默认为30）
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">发言频率</label>
                <div class="controls">
                    <input type="text" name="speak_frequency" value="{$data['speak_frequency']}"
                           placeholder="请填写发言频率，单位为秒">
                    <span class="form-required">*</span>
                    <br/>
                    （1~60之间，不填写默认为0）
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">邀请码</label>
                <div class="controls">
                    <input type="text" name="code" value="{$data['code']}">
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">家属邀请码</label>
                <div class="controls">
                    <input type="text" name="devide_family" value="{$data['devide_family']}">
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">描述</label>
                <div class="controls">
                    <textarea name="remark">{$data['remark']}</textarea>
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">流ID</label>
                <div class="controls">
                    <input type="text" name="stream" value="{$data['stream']}">
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">播流地址</label>
                <div class="controls">
                    <input type="text" name="pull" value="{$data['pull']}">
                    <span class="form-required">*</span>
                </div>
            </div>

        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('EDIT')}</button>
            <a class="btn" href="{:U('MutiShow/multiple_edit')}">{:L('BACK')}</a>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
<script type="text/javascript">
    function del(type, id) {
        $("#" + type + '_' + id).remove();
        $("#v_" + type + '_' + id).remove();
    }

    function isInArray(arr, val) {
        var i, iLen;
        if (!(arr instanceof Array) || arr.length === 0) {
            return false;
        }
        if (typeof Array.prototype.indexOf === 'function') {
            return !!~arr.indexOf(val)
        }
        for (i = 0, iLen = arr.length; i < iLen; i++) {
            if (val === arr[i]) {
                return true;
            }
        }
        return false;
    }

    function add(type) {
        $.ajax({
            cache: true,
            type: "GET",
            url: '/index.php?g=Admin&m=MutiShow&a=get_anchor_and_dj',
            data: {'type': type, 'username': $("#" + type).val()},
            async: false,
            error: function (request) {
                alert("数据请求失败");
            },
            success: function (data) {
                if (data.code != 200) {
                    alert(data.message);
                    return;
                }

                var data = data.data;
                if (data.type == 'dj') {
                    var html = $("#djs");
                } else {
                    var html = $("#anchors")
                }

                ids = $("input[name='" + type + "[]']");
                flag = new Array();
                $.each(ids, function (idx, obj) {
                    var v = $(obj).val();
                    if (v != '') {
                        if (!isInArray(flag, v)) {
                            flag.push(v)
                        }
                    }
                });
                str = '';
                for (idx in data.result) {
                    user = data.result[idx];
                    if (!isInArray(flag, user.id)) {
                        str += '<span style="background: #04e5e4;color: crimson" id="' + data.type + '_' + user.id + '">' + user.user_login + ' <span ><a href="#" onclick="javasrcript:del(\'' + data.type + '\', \'' + user.id + '\');" style="color: red">×</a></span></span>'
                        str += '<input id="v_' + data.type + '_' + user.id + '" name="' + data.type + '[]" value="' + user.id + '" type="hidden" />';
                    } else {
                        alert(user.user_login + "已存在");
                    }
                }

                html.append(str);
            }
        });
    }
</script>
</body>
</html>