<admintpl file="header"/>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:U('HomeSet/index')}">首页视频</a></li>
        <li class="active"><a>编辑</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form" action="{:U('HomeSet/announcement_edit_post')}">
        <input type="hidden" name="id" value="{$data['id']}">
        <fieldset>
            <div class="control-group">
                <label class="control-label">公告名称</label>
                <div class="controls">
                    <input type="text" name="title" value="{$data['title']}">
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">连接地址</label>
                <div class="controls">
                    <input type="text" name="link" value="{$data['link']}">
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">分类</label>
                <div class="controls">
                    <select name="category">
                        <option value="">请选择分类</option>
                        <volist name="group" id="g">
                            <option value="{$g.key}"
                            <if condition="$g.key eq $data['category']">selected</if>
                            >{$g.value}</option>
                        </volist>
                    </select>
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">状态</label>
                <div class="controls">
                    <label class="radio inline" for="state0"><input type="radio" name="state" value="0" id="state0"
                        <if condition="$data['state'] eq '0'">checked</if>
                        >生效</label>
                    <label class="radio inline" for="state1"><input type="radio" name="state" value="1" id="state1"
                        <if condition="$data['state'] eq '1'">checked</if>
                        >下线</label>
                    <span class="form-required">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">公告内容</label>
                <div class="controls">
                    <textarea name="content" rows="8">{$data['content']}</textarea>
                    <span class="form-required">*</span>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('EDIT')}</button>
            <a class="btn" href="{:U('HomeSet/announcement')}">{:L('BACK')}</a>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>