<admintpl file="header" />
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>首页视频</a></li>
        <li ><a href="{:U('HomeSet/announcement')}">公告管理</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form" action="{:U('HomeSet/home_live_post')}">
        <fieldset>

            <div class="control-group">
                <label class="control-label">位置1</label>
                <input type="hidden" name="id_1" value="1">
                <div class="controls">
                    <label class="radio inline" for="r10" ><input type="radio" name="type_1" value="0" id="r10" <if condition="$data['1']['type'] eq '0'">checked</if> >直播  选择主播</label>

                    &nbsp;
                    <select name="show_id_1">
                        <option value="0">---请选择---</option>
                        <foreach name="liveList" item="vo">
                            <option value="{$vo['n_id']}" <if condition="$vo['n_id'] eq $data['1']['n_id']">selected</if>>{$vo['user_nicename']}</option>
                        </foreach>
                    </select>

                    <label class="radio inline"  >直播封面图</label>
                    &nbsp;
                    <input type="text" name="show_cover_1" value="{$data['1']['show_cover']}">

                </div>

                <div class="controls">
                    <label class="radio inline" for="r11" ><input type="radio" name="type_1" value="1" id="r11" <if condition="$data['1']['type'] eq '1'">checked</if> >默认封面图</label>
                    <input type="text" name="default_cover_1" value="{$data['1']['default_cover']}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">位置2</label>
                <input type="hidden" name="id_2" value="2">
                <div class="controls">
                    <label class="radio inline" for="r20" ><input type="radio" name="type_2" value="0" id="r20" <if condition="$data['2']['type'] eq '0'">checked</if> >直播  选择主播</label>

                    &nbsp;
                    <select name="show_id_2">
                        <option value="0">---请选择---</option>
                        <foreach name="liveList" item="vo">
                            <option value="{$vo['n_id']}" <if condition="$vo['n_id'] eq $data['2']['n_id']">selected</if>>{$vo['user_nicename']}</option>
                        </foreach>
                    </select>

                    <label class="radio inline"  >直播封面图</label>
                    &nbsp;
                    <input type="text" name="show_cover_2" value="{$data['2']['show_cover']}">

                </div>

                <div class="controls">
                    <label class="radio inline" for="r21" ><input type="radio" name="type_2" value="1" id="r21" <if condition="$data['2']['type'] eq '1'">checked</if> >默认封面图</label>
                    <input type="text" name="default_cover_2" value="{$data['2']['default_cover']}">
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">位置3</label>
                <input type="hidden" name="id_3" value="3">
                <div class="controls">
                    <label class="radio inline" for="r30" ><input type="radio" name="type_3" value="0" id="r30" <if condition="$data['3']['type'] eq '0'">checked</if> >直播  选择主播</label>

                    &nbsp;
                    <select name="show_id_3">
                        <option value="0">---请选择---</option>
                        <foreach name="liveList" item="vo">
                            <option value="{$vo['n_id']}" <if condition="$vo['n_id'] eq $data['3']['n_id']">selected</if>>{$vo['user_nicename']}</option>
                        </foreach>
                    </select>

                    <label class="radio inline"  >直播封面图</label>
                    &nbsp;
                    <input type="text" name="show_cover_3" value="{$data['3']['show_cover']}">

                </div>

                <div class="controls">
                    <label class="radio inline" for="r31" ><input type="radio" name="type_3" value="1" id="r31" <if condition="$data['3']['type'] eq '1'">checked</if> >默认封面图</label>
                    <input type="text" name="default_cover_3" value="{$data['3']['default_cover']}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">位置4</label>
                <input type="hidden" name="id_4" value="4">
                <div class="controls">
                    <label class="radio inline" for="r4" ><input type="radio" name="type_4" value="0" id="r40" <if condition="$data['4']['type'] eq '0'">checked</if> >直播  选择主播</label>

                    &nbsp;
                    <select name="show_id_4">
                        <option value="0">---请选择---</option>
                        <foreach name="liveList" item="vo">
                            <option value="{$vo['n_id']}" <if condition="$vo['n_id'] eq $data['4']['n_id']">selected</if>>{$vo['user_nicename']}</option>
                        </foreach>
                    </select>

                    <label class="radio inline"  >直播封面图</label>
                    &nbsp;
                    <input type="text" name="show_cover_4" value="{$data['4']['show_cover']}">

                </div>

                <div class="controls">
                    <label class="radio inline" for="r41" ><input type="radio" name="type_4" value="1" id="r41" <if condition="$data['4']['type'] eq '1'">checked</if> >默认封面图</label>
                    <input type="text" name="default_cover_4" value="{$data['4']['default_cover']}">
                </div>
            </div>

        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('EDIT')}</button>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>