<admintpl file="header"/>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>上传图片</a></li>
    </ul>
    <form method="post" class="form-horizontal" enctype="multipart/form-data">
        <fieldset>
            <div class="control-group">
                <label class="control-label">图片</label>
                <div class="controls">
                    <input type="file" name="picture">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">图片地址</label>
                <div class="controls">
                    <textarea rows="3" onclick="this.focus();this.select()">{$data.url}</textarea>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {:L('ADD')}
            </button>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/content_addtop.js"></script>
<script>
    $(function () {
        $('.js-ajax-submit').click(function () {
            $('.uploadPath').append($('#thumb2').value());
        });
    });
</script>
</body>
</html>