<div id="doc-ft">
    <div class="container">
        <p class="footer">
            {:nl2br($config['copyright'])}
        </p>
    </div>
</div>

{:$this->registerJsFile('public/home/js/jquery.1.10.2.js')}
{:$this->registerJsFile('public/home/js/jquery.lazyload.min.js')}
<script type="text/javascript">
    window._DATA = window._DATA || {};
    window._DATA.user = {$userinfo};
</script>
{:$this->registerJsFile('public/home/show/js/room.js')}
{:$this->registerJsFile('public/home/js/login.js')}
{:$this->registerJsFile('public/home/js/layer.js')}

<switch name="config.app_key">
    <case value="xsm">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112623122-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'UA-112623122-1');
        </script>
    </case>
    <case value="a01">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117601717-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'UA-117601717-1');
        </script>
    </case>
</switch>
