<script>
    var base_data = {};
    base_data.login_name_prefix = "{$config['login_name_prefix']}";
    base_data.app_key = "{$config['app_key']}";
</script>
<switch name="config.app_key">
    <case value="xsm">
        <tc_include file="Public:header_C01"/>
        {:$this->registerJsFile('public/js/scxsm/scxsm.js')}
    </case>
    <case value="a01">
        <tc_include file="Public:header_C01"/>
        {:$this->registerCssFile('public/css/bttzb/bttzb.css')}
        {:$this->registerJsFile('public/js/bttzb/bttzb.js')}
    </case>
    <case value="a04">
        <tc_include file="Public:header_C01"/>
        <script src="__PUBLIC__/js/clipboard/clipboard.min.js"></script>
        {:$this->registerCssFile('public/css/a04/a04.css')}
        {:$this->registerJsFile('public/js/a04/a04.js')}
    </case>
    <default/>
    <tc_include file="Public:header_C01"/>
</switch>
