{:$this->registerCssFile('public/css/home/main.css')}

<div id="doc-hd" class="header double">
    <div class="topbar">
        <div class="container clearfix">
            <div class="hd-logo">
                <a href="/"><img src="/public/images/beforelogo.png"/></a>
            </div>

            <div class="homelink act">
                <a href="/">直播</a>
            </div>
            <if condition="$anchorinfo">
                <div class="homelink">
                    <a href="#" class="room-name" title="{$anchorinfo.user_nicename}的直播频道">
                        {$anchorinfo.user_nicename}的直播频道
                    </a>
                </div>
            </if>
            <div class="hd-login">
                <div class="usermes">
                    <if condition="$user['logged']">
                        <div class="loginout">欢迎您,<a class="usemes">{$user['user_nicename']}</a>| 余额{$formatLiveCoin}券
                        </div>
                        <span class="item">
                                <a href="./index.php?m=Personal&a=index" target="_blank">个人中心</a>
                        </span>
                        <span class="css-logout">
                                <a href="/index.php?g=Api&m=Thirdpartyuser&a=logout">退出</a>
                            </span>
                        <else/>
                        <div class="loging">
                            <div class="name">
                                <label>账号({$config['login_name_prefix']}开头)</label>
                                <input class="username js_login_users_input" type="text" value="" maxlength="10">
                            </div>
                            <div class="pasw">
                                <label>密码</label>
                                <input class="password js_login_pass_input" type="password" value="" maxlength="16">
                            </div>

                            <div class="logint"><input type="submit" value="登录"></div>
                        </div>
                    </if>
                </div>
            </div>

            
            <div class="navsmini">
                    <if condition="$user['logged']">
                        <span><a href="./{$user['id']}" target="_blank">我要直播</a></span>
                    <else/>
                        <span class="js-reg"><a href="javascript:void(0);">立即注册</a></span>
                    </if>

                    <span class="qqsever">
                                <a href="javascript:void(0)">联系在线客服</a>
                                <i></i>
                                <ul class="adminserver">
                                    <foreach name="serverQQ" item="vo">
                                        <li>
                                            <a target="_blank"
                                               href="http://wpa.qq.com/msgrd?v=3&uin={$vo}&site=qq&menu=yes"><img
                                                    border="0" src="/public/images/home/button_111.jpg" alt="点击这里给我发消息" /></a>
                                        </li>
                                    </foreach>
                                </ul>
                    </span>
            </div>
            
            
            <ul class="hd-nav">

            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        /**----焦点判断开始------**/
        // noah.g修改
        // 焦点切换显示是否显示密码
        foucsmit = false;
        $('.name .js_login_users_input, .pasw .js_login_pass_input').focus(function () {
            foucsmit = true;
            if ($(this).siblings().val() === '') {

                $(this).parent().find('label').hide(0);
            }
        });
        $('.name .js_login_users_input, .pasw .js_login_pass_input').blur(function () {
            foucsmit = false;

            if ($(this).val() === '') {
                $(this).siblings().show(0);
            }
        });
        /**-----登陆注册切换开始-----**/
        $('body').on('click', '.js_reg_pop .tips span', function () {
            var idx = $(this).index();
            $('.js_reg_pop .tips span').removeClass('act');
            $(this).addClass('act')
            $(this).parent().siblings('article').each(
                function (index, el) {
                    if (idx == index) {
                        $('.js_reg_pop article').css('display', 'none');
                        $(this).css('display', 'block');
                    }
                });
        });
        $('body').on('click', '.js_login_pop .title .zhuce', function () {
            $('.js_login_pop').css('display', 'none');
            $('.js_reg_pop').css('display', 'block');
        });
        $('body').on('click', '.js_reg_pop .title .denglu', function () {
            $('.js_reg_pop').css('display', 'none');
            $('.js_login_pop').css('display', 'block');
        });
        /**-----登陆注册切换结束-----**/
        $('.qqsever a').mouseenter(function (event) {
            $(this).siblings().show();
        });
        $('.qqsever').mouseleave(function (event) {
            $(this).children('ul,i').hide();
        });
    });
</script>
