<switch name="config.app_key">
    <case value="xsm">
        {:$this->registerCssFile('public/js/imPackage/lib/layui/css/layui.css')}
        {:$this->registerCssFile('public/css/imCss/im-layim.css')}
        {:$this->registerJsFile('public/js/imPackage/static/js/webim.config.js')}
        {:$this->registerJsFile('public/js/imPackage/static/js/strophe-1.2.8.min.js')}{:$this->registerJsFile('public/js/imPackage/static/js/websdk-1.4.13.js')}
        {:$this->registerJsFile('public/js/imPackage/lib/layui/layui.js')}
        {:$this->registerJsFile('public/js/imPackage/im-layerui.js')}
    </case>
    <case value="a01">
    </case>
</switch>