<div class="dialog-tc">
 
	<div class="mode">
		<a>选择马甲类型</a>
		<span onclick="liveType.closePorp()" class="rotate"></span>
	</div>
	<div class="mount-method" id="mount_method" data-type="0">
			
			<php>echo htmlspecialchars_decode($vestLists);</php>
	</div>

	<input type="hidden" id="selectVestID" />
	<input type="hidden" id="vestToUid" value="{$touid}">
	
	<div class="deal-footer">
		<a class="mount_con" onclick="Controls.changeVest()">确定</a>
		<a class="mount_cancel" id="mount_cancel">取消</a>
	</div>
</div>

<script type="text/javascript">
	$("#mount_method input").click(function(){
			$(this).attr("class","vest_btn_on");
			$(this).siblings().attr("class","vestBtn");
			var id=$(this).attr("data-vest");
			$("#selectVestID").val(id);
			
   });
	 $("#mount_cancel").click(function(){
			liveType.closePorp();
   });
</script>