<div class="dialog-tc">
 
	<div class="mode">
		<a>设置直播时间</a>
		<span onclick="liveType.closePorp()" class="rotate"></span>
	</div>
<!-- 	<div class="mount-method" id="mount_method" data-type="0">
			<a class="mount_btn_on" id="putong_btn">普通直播</a>
			<a class="mount_btn_no" id="mima_btn">密码房间</a>
			<a class="mount_btn_no" id="shoufei_btn">收费房间</a>
	</div> -->
	<div class="mount_num" id="mount_num1"  style="display:block;"> 
		<input id="s"   type="text" class="minput-text">
		<input id="f"   type="text" class="minput-text">
		<input id="m"   type="text" class="minput-text">
	</div>
	<div class="mount_num" id="mount_num" style="display:block;"> 
		<a class="mount_btn_on_select" id="putong_btn">时：</a>
		<select id="hour_select" name="id" class="controls settimeSelect">
			<option value="0">0</option>
			<option value="1" >1	</option>
		</select>
		<a class="mount_btn_on_select" id="putong_btn">分：</a>
		<select id="minute_select" name="id" class="controls settimeSelect">
			<option value="0">0</option>
			<option value="1" >1	</option>
		</select>
		<a class="mount_btn_on_select" id="putong_btn">秒：</a>
		<select id="second_select" name="id" class="controls settimeSelect">
			<option value="0">0</option>
			<option value="1" >1	</option>
		</select>
	</div>
	
	<div class="deal-footer">
		<a class="mount_con" onclick="liveType.setTimeClick()">确定</a>
		<a class="mount_cancel" id="mount_cancel">取消</a>
	</div>
</div>

<script type="text/javascript">
	$("#mount_method a").click(function(){
			$(this).attr("class","mount_btn_on");
			$(this).siblings().attr("class","mount_btn_no");
			var id=$(this).attr("id");
			if(id=="mima_btn" || id=="shoufei_btn")
			{
				$("#mount_num input").val("");
				if(id=="mima_btn")
				{
					$("#mount_num input").attr("placeholder","请设置密码");
				}
				else
				{
					$("#mount_num input").attr("placeholder","请设置金额");
				}
				$("#mount_num").css('display','block');
			}
			else
			{
				$("#mount_num").css('display','none');
			}
   });
	 $("#mount_cancel").click(function(){
			liveType.closePorp()
   });
</script>