<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >等级列表</a></li>
			<li><a href="{:U('Level/experlevel_add')}">等级添加</a></li>
		</ul>
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>等级</th>
						<th>等级名称</th>
						<th>等级经验上限</th>
						<th>发布时间</th>

						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo['levelid']}</td>
						<td>{$vo['levelname']}</td>
						<td>{$vo['level_up']}</td>
						<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
						
						<td align="center">	
							<a href="{:U('Level/experlevel_edit',array('id'=>$vo['levelid']))}" >编辑</a> |
							<a href="{:U('Level/experlevel_del',array('id'=>$vo['levelid']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>