<tc_include file="Public:head"/>
<title>充值记录</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/common.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Personal.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css"/>

</head>
<body style="background-color:#f3f3f3">

<tc_include file="Home/Personal:header"/>
<div class="container">
    <div class="Firstfloor">
        <div class="Leftlayout">
            <tc_include file="Home/Personal:navigation"/>
        </div>
        <div class="rightlayout">
            <div class="clearfix">
                <div class="shouyez">
                    <h3 class="personal_h3">
                        <i class="h3_one"></i>
                        我的充值记录
                    </h3>
                </div>
            </div>
            <div class="schedule">
                <div class="charge_mt">
                    <form action="index.php?m=Personal&a=charge" method="post">
                        查询时间：
                        <input type="text" name="start_time" class="js-date date" value="{$formget.start_time}"
                               autocomplete="off">-
                        <input type="text" name="end_time" class="js-date date" value="{$formget.end_time}"
                               autocomplete="off">
                        <button type="submit" style="width: 46px;height: 28px;" value="搜索">搜索</button>
                    </form>
                </div>
                <div class="charge_table">
                    <table>
                        <tbody>
                        <tr>
                            <th width="15%">充值{$getConfigName['name_livecoin']}金额</th>
                            <th width="20%">充值时间</th>
                            <th width="10%">充值类型</th>
                        </tr>
                        <foreach name="lists" item="vo">
                            <tr>
                                <td width="15%">{$vo['livecoin']}</td>
                                <td width="20%">{$vo['addtime']|date="Y-m-d H:i:s",###}</td>
                                <td width="10%">后台</td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div class="page">

                    </div>
                </div>
            </div>
            {$page}
        </div>
    </div>
</div>
<tc_include file="Public:footer"/>
<script type="text/javascript">
    //全局变量
    var GV = {
        DIMAUB: "__ROOT__/",
        JS_ROOT: "public/js/",
        TOKEN: ""
    };
    $(function () {
            /* 时间控件 */
            $("input.js-date").datePicker();
        }
    )
</script>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/wind.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/datePicker/datePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/Personal.js"></script>
</body>
</html>