<tc_include file="Public:head"/>
<title>抢红包记录</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/common.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Personal.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css"/>

</head>
<body style="background-color:#f3f3f3">

<tc_include file="Home/Personal:header"/>
<div class="container">
    <div class="Firstfloor">
        <div class="Leftlayout">
            <tc_include file="Home/Personal:navigation"/>
        </div>
        <div class="rightlayout">
            <div class="clearfix">
                <div class="shouyez">
                    <h3 class="personal_h3">
                        <i class="h3_one"></i>
                        我抢到的红包记录
                        <!-- <span>
                        钻石:{$coin}
                         <a class="icon"></a>
                        </span>
                        <a class="buy-coins" href="index.php?m=Payment&a=index">充值</a>
                        <div class="linexi"></div> -->
                    </h3>
                </div>
            </div>
            <div class="schedule">
                <div class="charge_mt">
                    <h4>抢红包记录</h4>
                    <form action="index.php?m=Personal&a=getpacket" method="post">
                        查询时间：
                        <input type="text" name="start_time" class="js-date date" value="{$formget.start_time}"
                               autocomplete="off">-
                        <input type="text" name="end_time" class="js-date date" value="{$formget.end_time}"
                               autocomplete="off">
                        <button type="submit" style="width: 46px;height: 28px;" value="搜索">搜索</button>
                    </form>
                </div>
                <div class="charge_table">
                    <table>
                        <tbody>
                        <tr>
                            <th width="25%">主播</th>
                            <th width="25%">发送人</th>
                            <th width="25%">抢到{$getConfigName['name_livecoin']}</th>
                            <th width="25%">抢到时间</th>

                        </tr>
                        <foreach name="list" item="vo">
                            <tr>
                                <td width="25%">{$vo['liveUserName']}</td>
                                <td width="25%">{$vo['sendUserName']}</td>
                                <td width="25%">{$vo['livecoin']}</td>
                                <td width="25%">{$vo['addtime']|date="Y-m-d H:i:s",###}</td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div class="page">

                    </div>
                </div>
            </div>
            {$page}
        </div>
    </div>
</div>
<tc_include file="Public:footer"/>
<script type="text/javascript">
    //全局变量
    var GV = {
        DIMAUB: "__ROOT__/",
        JS_ROOT: "public/js/",
        TOKEN: ""
    };
    $(function () {
            /* 时间控件 */
            $("input.js-date").datePicker();
        }
    )
</script>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/wind.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/datePicker/datePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/Personal.js"></script>
</body>
</html>