<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/common.css?v={$sversion}"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Personal.css?v={$sversion}"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css?v={$sversion}"/>
<div class="headers">
    <div class="container" style="padding-top:20px">
        <div class="hersleft">
            <a href="index.php?m=Personal&a=photo" style="display:inline-block;height:88px">
                <img src="{$info['avatar']}" alt="" class="herszhezhao">
                <i class="herszhezhao">
                </i>
            </a>
        </div>
        <div class="hersright">
            <div style="display:black" id="datas">
                <div>
                    <span>{$info['user_nicename']}</span>
                    <i class="dianji" id="dianji"></i>
                </div>
                <p title="{$info['user_login']}">个人账号：{$info['user_login']}</p>
            </div>
            <div style="display:none" id="modify">
                <input id="name" placeholder="请输入新昵称">
                <p>
                    <span class="hersbaocun">保存</span>
                    <span class="hersquxiao">取消</span>
                </p>
            </div>
        </div>

        <div class="hd-login">
            <div class="already-login">
                <a class="link" href="#"><i class="icon-avatar"><img src="{$user['avatar']}" alt=""/></i><span
                        class="nickname">{$user['user_nicename']}</span></a>
                <i class="icon-level"></i>
                <i class="icon-more"></i>
                <div class="userinfo">
                    <div class="userinfo_up">
                    </div>
                    <div class="userinfo_down">
                        <div class="userinfo_name">
                            <div class="live">
                                <a href="./{$user['id']}">我的直播</a>
                            </div>
                            <div class="live">
                                <a href="./index.php?m=Personal&a=index">个人中心</a>
                            </div>
                            <div class="logout">
                                【退出登录】
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>