<tc_include file="Public:head"/>
<title>{$site_name}</title>
</head>
<body style="background-color:#f3f3f3">

<tc_include file="Home/Personal:header"/>
<div class="container">
    <div class="Firstfloor">
        <div class="Leftlayout">
            <tc_include file="Home/Personal:navigation"/>
        </div>
        <div class="rightlayout">
            <div class="clearfix">
                <div class="shouyez">
                    <h3 class="personal_h3">
                        <i class="h3_one"></i>
                        我的账户资产
                    </h3>

                    <div>
                        <ul>
                            <li style="border-left:0 none" class="one">
                                <i></i>
                                <div>
                                    <span>{$getConfigName['name_coin']}</span>
                                    <if condition="$info['coin'] eq ''">
                                        <span>0</span>
                                        <else/>
                                        <span>{$info['coin']}</span>
                                    </if>
                                    <!-- <a href="./index.php?m=Payment&a=index">充值</a> -->
                                </div>
                            </li>
                            <li class="one">
                                <i></i>
                                <div>
                                    <span>{$getConfigName['name_livecoin']}</span>
                                    <if condition="$info['livecoin'] eq ''">
                                        <span>0</span>
                                        <else/>
                                        <span>{$info['livecoin']}</span>
                                    </if>
                                    <!-- <a href="./index.php?m=Payment&a=index">充值</a> -->
                                </div>
                            </li>
                            <li class="two">
                                <i></i>
                                <div>
                                    <span><a target="_blank">赠送礼物</a>/<a target="_blank">收到礼物</a></span>
                                    <span>
                                        <b target="_blank" title="0个">{$getgif['tsc']}</b>个/
                                        <b target="_blank" title="0个">{$getgif['tsd']}</b>个
                                    </span>
                                </div>
                            </li>
                            <li class="three">
                                <a><i></i></a>
                                <div>
                                    <span><a target="_blank">我的等级</a>/<a target="_blank">累计经验</a></span>
                                    <span>
                                        <b target="_blank">{$level}</b>级/
                                        <b target="_blank">{$experience}</b>点
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="shouyey"></div>

                <div class="shouyez">
                    <div class="charge_table">
                        <span style="font-size: 20px;">{$getConfigName['name_livecoin']}账变</span>
                        <span style="margin-left: 14px;">当前余额：{$info['livecoin']}</span>
                    </div>
                    <div class="charge_table">
                        <table>
                            <tbody>
                            <tr>
                                <th class="text-center">账变时间</th>
                                <th class="text-center">金额</th>
                                <th class="text-center">账变内容</th>
                            </tr>
                            <foreach name="coinRecord" item="cr">
                                <tr>
                                    <td>{$cr.addtime}</td>
                                    <td>{$cr.livecoin}</td>
                                    <td>{$cr.content}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <div class="page">

                        </div>
                    </div>
                </div>
                {$page}

            </div>
        </div>
    </div>
</div>
<tc_include file="Public:footer"/>
<tc_include file="Home/Personal:footer"/>
</body>
</html>