<tc_include file="Public:head"/>
<title>消费记录</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/common.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Personal.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css"/>

</head>
<body style="background-color:#f3f3f3">

<tc_include file="Home/Personal:header"/>
<div class="container">
    <div class="Firstfloor">
        <div class="Leftlayout">
            <tc_include file="Home/Personal:navigation"/>
        </div>
        <div class="rightlayout">
            <div class="clearfix">
                <div class="shouyez">
                    <h3 class="personal_h3">
                        <i class="h3_one"></i>
                        我的消费记录
                        <!-- <span>
                        钻石:{$coin}
                         <a class="icon"></a>
                        </span>
                        <a class="buy-coins" href="index.php?m=Payment&a=index">充值</a>
                        <div class="linexi"></div> -->
                    </h3>
                </div>
            </div>
            <div class="schedule">
                <div class="charge_mt">
                    <h4>消费记录</h4>
                    <form action="index.php?m=Personal&a=spend" method="post">
                        查询时间：
                        <input type="text" name="start_time" class="js-date date" value="{$formget.start_time}"
                               autocomplete="off">-
                        <input type="text" name="end_time" class="js-date date" value="{$formget.end_time}"
                               autocomplete="off">
                        <button type="submit" style="width: 46px;height: 28px;" value="搜索">搜索</button>
                    </form>
                </div>
                <div class="charge_table">
                    <table>
                        <tbody>
                        <tr>
                            <th width="15%">消费对象</th>
                            <th width="20%">消费内容</th>
                            <th width="10%">消费数量</th>
                            <th width="15%">{$getConfigName['name_livecoin']}总价值</th>
                            <th width="30%">消费时间</th>

                        </tr>
                        <foreach name="lists" item="vo">
                            <tr>
                                <td width="15%">{$vo['liveinfo']['user_nicename']}</td>
                                <td width="20%">

                                    <if condition="$vo['action'] eq 'sendbarrage'">
                                        发送弹幕
                                    </if>
                                    <if condition="$vo['action'] eq 'sendgift'">
                                        送{$vo['giftname']}
                                    </if>
                                    <if condition="$vo['action'] eq 'buyguard'">
                                        购买一个月守护
                                    </if>

                                    <if condition="$vo['action'] eq 'roomcharge'">
                                        付费房间
                                    </if>
                                </td>
                                <td width="10%">
                                    <if condition="$vo['action'] eq 'roomcharge'">
                                        1个
                                        <else/>
                                        {$vo['giftcount']*$vo['giftgroup_num']}个
                                    </if>
                                </td>
                                <td width="15%">{$vo['total_livecoin']}</td>
                                <td width="30%">{$vo['addtime']|date="Y-m-d H:i:s",###}</td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div class="page">

                    </div>
                </div>
            </div>
            {$page}
        </div>
    </div>
</div>
<tc_include file="Public:footer"/>
<script type="text/javascript">
    //全局变量
    var GV = {
        DIMAUB: "__ROOT__/",
        JS_ROOT: "public/js/",
        TOKEN: ""
    };
    $(function () {
        /* 时间控件 */
        $("input.js-date").datePicker();
    });
</script>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/wind.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/datePicker/datePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/Personal.js"></script>
</body>
</html>